{% extends 'profiles/user_base.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load rules %}

{% block title %}{{ user.name }} - {% trans 'Friends' %} / {{ block.super }}{% endblock %}

{% block user_menu_friends_class %}active{% endblock %}

{% block user_extra %} - {% trans 'Friends' %}{% endblock %}

{% block user_content %}
    {% has_perm 'friends.view_requests' request.user user as can_view_requests %}

    {% if can_view_requests %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% active_class 'friends:list' %}" href="{% url 'friends:list' user.slug %}">
                    {% trans 'Your Friends' %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active_class 'friends:received_requests' %}" href="{% url 'friends:received_requests' user.slug %}">
                    {% trans 'Received Requests' %}
                    <span class="badge badge-primary">{{ user.received_friendship_requests_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active_class 'friends:sent_requests' %}" href="{% url 'friends:sent_requests' user.slug %}">
                    {% trans 'Sent Requests' %}
                    <span class="badge badge-primary">{{ user.sent_friendship_requests_count }}</span>
                </a>
            </li>

        </ul>
        <br>
    {% endif %}

    {% block tab_content %}{% endblock %}

{% endblock %}
