{% extends 'friends/base.html' %}

{% load core_tags_and_filters %}
{% load i18n %}

{% block user_menu_friends_class %}active{% endblock %}

{% block tab_content %}
    <div class="row flex-wrap">
        {% for friendship in friends %}
            {% include 'profiles/user_list_item.html' with user=friendship.from_user %}
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning">
                    {% include 'friends/you_dont_have_any_friends_trans.html' %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% pagination %}
{% endblock %}
