{% extends 'friends/base.html' %}

{% load core_tags_and_filters %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'speedy-core/css/received_friendship_requests.css' %}" />
{% endblock %}

{% block tab_content %}
    <div class="row flex-wrap">
        {% for received_friendship_request in received_friendship_requests %}
            {% include 'profiles/user_list_item.html' with user=received_friendship_request.from_user %}
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning">
                    {% trans 'There are no pending friendship requests.' %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% pagination %}
{% endblock %}
