{% extends 'friends/base.html' %}

{% load i18n %}

{% block extra_css %}
    {{ block.super }}

@media (max-width: 459px) {
  .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

{% endblock %}

{% block tab_content %}
    <div class="row">
        {% for received_friendship_request in user.all_received_friendship_requests %}
            {% include 'profiles/user_list_item.html' with user=received_friendship_request.from_user %}
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning">
                    {% trans 'There are no pending friendship requests.' %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
