{% extends 'friends/base.html' %}

{% load i18n %}

{% block tab_content %}
    <div class="row">
        {% for friendship_request in sent_requests %}
            {% include 'profiles/user_list_item.html' with user=friendship_request.to_user %}
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning">
                    {% trans 'There are no pending friendship requests.' %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
