{% extends 'friends/base.html' %}

{% load core_tags_and_filters %}
{% load i18n %}

{% block tab_content %}
    <div class="row flex-wrap">
        {% for sent_friendship_request in sent_friendship_requests %}
            {% include 'profiles/user_list_item.html' with user=sent_friendship_request.to_user %}
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning">
                    {% translate 'There are no pending friendship requests.' %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% pagination %}
{% endblock %}
