{% load i18n %}

{% load user_tags %}

{% if user.friends_count %}
    <div class="col-sm-12 mb-4">
        <div class="card">
            <div class="card-header">
                <a href="{% url 'friends:list' user.slug %}" class="pull-right">
                    {% trans 'See All' context request.user.get_gender %}
                </a>
                <h5 class="card-title mb-0">
                    {% include 'menu/friends_trans.html' %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for friendship in friends %}
                        <div class="col-3 friends-col">
                            {% profile_picture friendship.from_user '175x175' html_class="img-responsive" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
