<!doctype html>

{% load core_tags_and_filters %}
{% load core_messages_tags %}
{% load static %}
{% load i18n %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% block site_title %}{{ site_title }}{% endblock %}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" />
        <link rel="stylesheet" href="{% static 'vendor/jquery-ui-custom/jquery-ui.css' %}" />
        {% if LANGUAGE_BIDI %}
            {# <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap-rtl.css' %}" /> #}
        {% endif %}
        <link rel="stylesheet" href="{% static 'speedy-core/css/speedy-core.css' %}" />
        {% block site_theme %}{# ~~~~ TODO: Speedy Net theme is also used by Speedy Composer and Speedy Mail Software. That's why the theme is in speedy.core #}
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static 'themes/speedy-net-rtl.css' %}" />
            {% else %}
                <link rel="stylesheet" href="{% static 'themes/speedy-net-ltr.css' %}" />
            {% endif %}
        {% endblock %}
        {% block extra_css %}{% endblock %}
    {% endblock %}
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-194x194.png" sizes="194x194" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/icons/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png" />
    <meta name="theme-color" content="#b2cafa" />
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block description %}{% endblock %}
    <script type="text/javascript">
        if (top != self) {
            top.location = self.location;
        }
    </script>
</head>
<body class="bidi-{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }} {% block body_class %}{% endblock %}">
<div class="body-inner">

{% block body %}

<nav class="navbar mb-4 navbar-expand-lg navbar-light {% block navbar_class %}bg-light{% endblock %}">
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-outline-secondary mr-2" type="button" id="drop-down-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-th"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="drop-down-menu-button">
                {% for other_site in sites %}
                    <a class="dropdown-item" href="//{{ LANGUAGE_CODE }}.{{ other_site.domain|remove_1_prefix_from_domain }}{# ~~~~ TODO: This filter [remove_1_prefix_from_domain] is only because we use "1." domains in production. remove this filter! #}">{% trans other_site.name %}</a>
                {% endfor %}

            </div>
        </div>
        {% block navbar_brand %}
            <a class="navbar-brand" href="/" title="{% trans site.name %}">{% trans site.name %}</a>
        {% endblock %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-text" aria-controls="navbar-text" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-text">
            <ul class="navbar-nav">
                {% block navbar_left_menu %}
                    {% block navbar_left_user_menu %}
                        {% if request.user.profile.is_active %}
                            {% block navbar_left_user_menu_profile_is_active %}
                                {% include 'menu/user_menu_profile_is_active.html' %}
                            {% endblock %}
                        {% endif %}
                    {% endblock %}
                {% endblock %}
            </ul>
            <ul class="navbar-nav ml-auto" data-block="HamburgerMenu">
                {% block login_logout_register %}{% endblock %}
            </ul>
        </div>
    </div>
</nav>

<div class="container speedy-body-container">
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{ message }}
        </div>
    {% endfor %}
    {% if request.user.is_authenticated and not request.user.has_confirmed_email %}
        <div class="alert alert-danger">
            {% trans "You haven't confirmed your email address. Please check your inbox." context user.get_gender %}
        </div>
    {% endif %}

    {% block full_content %}
        {% if request.user.is_authenticated and request.user.is_active %}
            <div class="row">
                <div class="col-md-3 hidden-xs">
                    <div class="page-header">
                        <h1>&nbsp;</h1>
                    </div>
                    <ul class="nav flex-column d-none d-lg-flex d-xl-flex" data-block="SideMenu">
                        {% block user_menu_and_edit_profile %}{% endblock %}
                    </ul>
                </div>
                <div class="col-12 col-md-9">
        {% endif %}
                    {% block content %}{% endblock %}
        {% if request.user.is_authenticated and request.user.is_active %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
</div>

{% block footer_wrap %}
    <hr>

    <footer class="footer">
        {% block footer %}
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p>
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <a href="//{{ language.code }}.{{ site.domain }}{{ request.path }}{% set_request_params page=1 %}" title="{{ language.name_local }}">{{ language.name_local }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-md-8 text-center">
                        <p>
                            <a href="//www.{{ site.domain }}/" class="black">{% trans site.name %}, {% now 'Y' %}</a>
                            <a href="{% url 'about:about' %}" title="{% trans "About" %}">{% trans "About" %}</a>
                            <a href="{% url 'privacy:privacy_policy' %}" title="{% trans "Privacy Policy" %}">{% trans "Privacy" %}</a>
                            <a href="{% url 'terms:terms_of_service' %}" title="{% trans "Terms of Service" %}">{% trans "Terms" %}</a>
                            <a href="{% url 'contact:contact_us' %}" title="{% trans "Contact Us" %}">{% trans "Contact Us" %}</a>
                        </p>
                        <p>
                            <a href="http://{{ LANGUAGE_CODE }}.speedy.net/" title="{% trans "Speedy Net" %}">{% trans "Speedy Net" %}</a>
                            <a href="http://{{ LANGUAGE_CODE }}.speedymatch.com/" title="{% trans "Speedy Match" %}">{% trans "Speedy Match" %}</a>
                            <a href="http://{{ LANGUAGE_CODE }}.speedycomposer.com/" title="{% trans "Speedy Composer" %}">{% trans "Speedy Composer" %}</a>
                            <a href="http://{{ LANGUAGE_CODE }}.speedy-mail-software.com/" title="{% trans "Speedy Mail Software" %}">{% trans "Speedy Mail Software" %}</a>
                            <a href="http://{{ LANGUAGE_CODE }}.speedysoft.com/blog/" title="{% trans "Speedy Net Blog" %}">{% trans "Speedy Net Blog" %}</a>
                        </p>
                        <p>
                            <a href="https://www.cafepress.com/speedynet" title="{% trans "Speedy Net's Shop" %}">{% trans "Speedy Net's Shop" %}</a>
                            <a href="https://www.cafepress.com/speedymatch" title="{% trans "Speedy Match's Shop" %}">{% trans "Speedy Match's Shop" %}</a>
                            <a href="https://www.cafepress.com/speedycomposer" title="{% trans "Speedy Composer's Shop" %}">{% trans "Speedy Composer's Shop" %}</a>
                            <a href="https://www.cafepress.com/speedy_s" title="{% trans "Speedy S-logo Shop" %}">{% trans "Speedy S-logo Shop" %}</a>
                        </p>
                        <p>
                            <a href="http://{{ LANGUAGE_CODE|convert_en_to_www }}.speedysoftware.com/" title="{% trans "Speedy Software" %}">{% trans "Speedy Software" %}</a>
                            {% if LANGUAGE_CODE == "he" %}
                                <a href="http://www.veganfriendly.co.il/" title="טבעונים בעלי מצפון">טבעונים בעלי מצפון</a>
                                <a href="http://www.etgar21.info/" title="האתגר הטבעוני">האתגר הטבעוני</a>
                                <a href="https://adam-hofshi.blog/" title="בלוג אדם חופשי">בלוג אדם חופשי</a>
                            {% else %}
                                <a href="http://{{ LANGUAGE_CODE|convert_en_to_www }}.speedysale.com/" title="{% trans "Speedy Sale" %}">{% trans "Speedy Sale" %}</a>
                                <a href="http://{{ LANGUAGE_CODE }}.speedymatch.com/" title="{% trans "Free Online Dating" %}" rel="nofollow">{% trans "Free Online Dating" %}</a>
                            {% endif %}
                        </p>
                        <p class="direction-ltr">
                            <a href="https://www.python.org/" title="Python">Python</a>
                            <a href="https://www.djangoproject.com/" title="Django">Django</a>
                            <a href="https://www.postgresql.org/" title="PostgreSQL">PostgreSQL</a>
                            <a href="https://ubuntu.com/" title="Ubuntu">Ubuntu</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>
{% endblock %}

{% endblock %}

{% block speedy %}
<center>
    <br />
    <!-- Facebook Badge START -->
    <a class="speedy-bottom-badge-link" href="https://www.facebook.com/speedyevenchen" target="_top" title="{% trans "Speedy" %}">{% trans "Speedy" %}</a>
    <br>
    <a href="https://www.facebook.com/speedyevenchen" target="_top" title="{% trans "Speedy" %}">
        <img class="fb-badge" src="https://badge.facebook.com/badge/110275029046282.1598.135831057.png" style="border: 0px;">
    </a>
    <br>
    <!-- Facebook Badge END -->
    <br />
</center>
{% endblock %}

</div>

{% block js %}
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="{% static 'vendor/jquery-ui-custom/jquery-ui.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/evil-blocks/evil-blocks.js' %}"></script>
    <script src="{% static 'speedy-core/js/speedy-core.js' %}"></script>
    {% block extra_js %}{% endblock %}
    {% block domain_cookie_login %}{% endblock %}
{% endblock %}

</body>
</html>
