{% extends 'base.html' %}

{% load i18n %}
{% load core_tags_and_filters %}

{% block top_sites_dropdown %}
{% endblock %}

{% block google_ads %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6979799050855377" crossorigin="anonymous"></script>
{% endblock %}

{% block footer_extra_links_1 %}
    <p>
        <a href="//www.{{ site.domain }}/" class="black">{% translate site.name %}, {% now 'Y' %}</a>
        <a href="{% url 'about:about' %}" title="{% translate "About" %}">{% translate "About" %}</a>
        <a href="{% url 'contact:contact_us' %}" title="{% translate "Contact Us" %}">{% translate "Contact Us" %}</a>
    </p>
{% endblock %}

{% block footer_extra_links_4 %}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="https://he.vegan-friendly.club/vegans-with-conscience/" title="טבעונים בעלי מצפון">טבעונים בעלי מצפון</a>
            <a href="https://www.etgar21.info/" title="אתגר הטבעונות">אתגר הטבעונות</a>
            <a href="https://adam-hofshi.blog/" title="בלוג אדם חופשי">בלוג אדם חופשי</a>
            <a href="http://www.vegan-guide.co.il/" title="פרויקט 365 – איך לעבור לטבעונות">פרויקט 365</a>
            <a href="https://{{ LANGUAGE_CODE }}.speedymatch.com/" title="ספידי מץ&#39; – הכרויות בספידי">להכיר בספידי</a>
        </p>
    {% endif %}
{% endblock %}

{% block footer_extra_links_6 %}
    {% if LANGUAGE_CODE == "en" %}
        <p>
            <a href="https://www.digitalocean.com/" title="DigitalOcean – The developer cloud">DigitalOcean</a>
            <a href="https://aws.amazon.com/" title="Amazon Web Services (AWS) – Cloud Computing Services">AWS</a>
            <a href="https://cloud.google.com/" title="Google Cloud – Cloud Computing Services">Google Cloud</a>
            <a href="https://www.linode.com/" title="Linode – Cloud Computing &amp; Linux Servers">Linode</a>
        </p>
    {% endif %}
{% endblock %}

{% block facebook_link %}
    {% if LANGUAGE_CODE == "en" %}
        <a href="https://www.facebook.com/en.speedy.net/" title="Speedy Net on Facebook">Speedy Net on Facebook</a>
    {% endif %}
    {% if LANGUAGE_CODE == "he" %}
        <a href="https://www.facebook.com/he.speedy.net/" title="ספידי נט בפייסבוק">ספידי נט בפייסבוק</a>
    {% endif %}
{% endblock %}

