<!doctype html>

{% load core_tags_and_filters %}
{% load core_messages_tags_and_filters %}
{% load static %}
{% load i18n %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% block site_title %}{{ site_title }}{% endblock %}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" />
        <link rel="stylesheet" href="{% static 'vendor/jquery-ui-custom/jquery-ui.css' %}" />
        {% if LANGUAGE_BIDI %}
            {# <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap-rtl.css' %}" /> #}
        {% endif %}
        <link rel="stylesheet" href="{% static 'speedy-core/css/speedy-core.css' %}" />
        {% block site_theme %}{# ~~~~ TODO: Speedy Net theme is also used by Speedy Composer and Speedy Mail Software. That's why the theme is in speedy.core #}
            {% if LANGUAGE_BIDI %}
                <link rel="stylesheet" href="{% static 'themes/speedy-net-rtl.css' %}" />
            {% else %}
                <link rel="stylesheet" href="{% static 'themes/speedy-net-ltr.css' %}" />
            {% endif %}
        {% endblock %}
        {% block extra_css %}{% endblock %}
    {% endblock %}
    {% block icons %}
        <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
    {% endblock %}
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block description %}{% endblock %}
    {% block google_ads %}{% endblock %}
    {% block extra_head %}{% endblock %}
    <script type="text/javascript">
        if (top != self) {
            top.location = self.location;
        }
    </script>
</head>
<body class="bidi-{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }} {{ request.user.is_authenticated|yesno:'user-is-authenticated,user-is-not-authenticated' }} {% block body_class %}{% endblock %}">
<div class="body-inner">

{% block body %}

<nav class="navbar mb-4 navbar-expand-lg navbar-light {% block navbar_class %}bg-light{% endblock %}">
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-outline-secondary mr-2" type="button" id="drop-down-menu-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-th"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="drop-down-menu-button">
                {% for other_site in sites %}
                    <a class="dropdown-item" href="//{{ LANGUAGE_CODE }}.{{ other_site.domain }}">{% trans other_site.name %}</a>
                {% endfor %}
            </div>
        </div>
        {% block navbar_brand %}
            <a class="navbar-brand" href="/" title="{% trans site.name %}">{% trans site.name %}</a>
        {% endblock %}
        {% block navbar_vegan_friendly_logo %}{% endblock %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-text" aria-controls="navbar-text" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-text">
            <ul class="navbar-nav">
                {% block navbar_left_menu %}
                    {% block navbar_left_user_menu %}
                        {% if request.user.is_authenticated and request.user.profile.is_active %}
                            {% block navbar_left_user_menu_profile_is_active %}
                                {% include 'menu/user_menu_profile_is_active.html' %}
                            {% endblock %}
                        {% endif %}
                    {% endblock %}
                {% endblock %}
            </ul>
            <ul class="navbar-nav ml-auto" data-block="HamburgerMenu">
                {% block login_logout_register %}{% endblock %}
            </ul>
        </div>
    </div>
</nav>

<div class="container speedy-body-container">
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{ message }}
        </div>
    {% endfor %}
    {% if request.user.is_authenticated and not request.user.has_confirmed_email %}
        <div class="alert alert-danger">
            {% trans "You haven't confirmed your email address. Please check your inbox." context user.get_gender %}
        </div>
    {% endif %}

    {% block full_content %}
        {% if request.user.is_authenticated and request.user.is_active %}
            <div class="row">
                <div class="col-md-3 hidden-xs">
                    <div class="page-header">
                        <h1>&nbsp;</h1>
                    </div>
                    <ul class="nav flex-column d-none d-lg-flex d-xl-flex" data-block="SideMenu">
                        {% block user_menu_and_edit_profile %}{% endblock %}
                    </ul>
                </div>
                <div class="col-12 col-md-9">
        {% endif %}
                    {% block content %}{% endblock %}
        {% if request.user.is_authenticated and request.user.is_active %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
</div>

{% block footer_wrap %}
    <hr>

    <footer class="footer">
        {% block footer %}
            <div class="container">
                <div class="row">
                    {% block footer_language_links %}
                        <div class="col-md-2">
                            <p>
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <a href="//{{ language.code }}.{{ site.domain }}{{ request.path }}{% set_request_params page=1 %}" title="{{ language.name_local }}">{{ language.name_local }}</a>
                                {% endfor %}
                            </p>
                        </div>
                    {% endblock %}
                    <div class="col-md-8 text-center">
                        {% block footer_extra_links_0 %}{% endblock %}
                        {% block footer_extra_links_1 %}{% endblock %}
                        {% block footer_extra_links_2 %}{% endblock %}
                        {% block footer_links_1 %}
                            <p>
                                <a href="https://{{ LANGUAGE_CODE }}.speedy.net/" title="{% trans "Speedy Net" %}">{% trans "Speedy Net" %}</a>
                                <a href="https://{{ LANGUAGE_CODE }}.speedymatch.com/" title="{% trans "Speedy Match" %}{% if LANGUAGE_CODE == "he" %} – הכרויות בספידי{% endif %}">{% trans "Speedy Match" %}</a>
                                <a href="https://{{ LANGUAGE_CODE }}.speedycomposer.com/" title="{% trans "Speedy Composer" %}">{% trans "Speedy Composer" %}</a>
                                <a href="https://{{ LANGUAGE_CODE }}.speedy-mail-software.com/" title="{% trans "Speedy Mail Software" %}">{% trans "Speedy Mail Software" %}</a>
                            </p>
                        {% endblock %}
                        {% block footer_extra_links_3 %}{% endblock %}
                        {% block footer_links_2 %}
                            <p>
                                <a href="https://www.cafepress.com/speedynet" title="{% trans "Speedy Net's Shop" %}">{% trans "Speedy Net's Shop" %}</a>
                                <a href="https://www.cafepress.com/speedymatch" title="{% trans "Speedy Match's Shop" %}">{% trans "Speedy Match's Shop" %}</a>
                                <a href="https://www.cafepress.com/speedycomposer" title="{% trans "Speedy Composer's Shop" %}">{% trans "Speedy Composer's Shop" %}</a>
                                <a href="https://www.cafepress.com/speedy_s" title="{% trans "Speedy S-logo Shop" %}">{% trans "Speedy S-logo Shop" %}</a>
                            </p>
                        {% endblock %}
                        {% block footer_extra_links_4 %}{% endblock %}
                        {% block footer_links_3 %}
                            <p>
                                <a href="https://{{ LANGUAGE_CODE }}.blog.speedy.net/" title="{% trans "Speedy Net Blog" %}">{% trans "Speedy Net Blog" %}</a>
                                {% if LANGUAGE_CODE == "he" %}
                                    <a href="https://{{ LANGUAGE_CODE|convert_en_to_www }}.speedy-paz.com" title="{% trans "Speedy Paz" %}">{% trans "Speedy Paz" %}</a>
                                {% else %}
                                    <a href="https://{{ LANGUAGE_CODE|convert_en_to_www }}.speedysoftware.com/" title="{% trans "Speedy Software" %}">{% trans "Speedy Software" %}</a>
                                {% endif %}
                                <a href="https://{{ LANGUAGE_CODE|convert_en_to_www }}.speedy.sale/" title="{% trans "Speedy Sale" %}">{% trans "Speedy Sale" %}</a>
                                {% if LANGUAGE_CODE == "he" %}
                                    {% block hebrew_extra_links %}{% endblock %}
                                {% else %}
                                    {% block english_extra_links %}{% endblock %}
                                {% endif %}
                                {% block facebook_link %}{% endblock %}
                            </p>
                        {% endblock %}
                        {% block footer_extra_links_5 %}{% endblock %}
                        <p class="direction-ltr">
                            <a href="https://www.python.org/" title="Python">Python</a>
                            <a href="https://www.djangoproject.com/" title="Django – The web framework for perfectionists with deadlines">Django</a>
                            <a href="https://www.postgresql.org/" title="PostgreSQL">PostgreSQL</a>
                            <a href="https://ubuntu.com/" title="Ubuntu">Ubuntu</a>
                            {% block extra_python_django_links %}{% endblock %}
                        </p>
                        {% block footer_extra_links_6 %}{% endblock %}
                    </div>
                    {% block footer_vegan_friendly_logo %}
                        <div class="col-md-2">
                            <a href="https://{{ LANGUAGE_CODE|convert_en_to_www }}.vegan-friendly.club/" title="{% trans "A vegan friendly website" %}">
                                <img class="vegan-friendly-logo-small" src="{% static 'speedy-core/images/' %}vegan-friendly-logo-{{ LANGUAGE_CODE }}.png" alt="{% trans "A vegan friendly website" %}" title="{% trans "A vegan friendly website" %}" />
                            </a>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </footer>
{% endblock %}

{% endblock %}

{% block speedy %}
<center>
    <br />
    <!-- Facebook Badge START -->
    <a class="speedy-bottom-badge-link" href="https://www.facebook.com/speedy.the.female.dog" target="_top" title="{% trans "Speedy" %}">{% trans "Speedy" %}</a>
    <br>
    <a href="https://www.facebook.com/speedy.the.female.dog" target="_top" title="{% trans "Speedy" %}">
        <img class="fb-badge" src="https://www.speedysoftware.com/images/facebook/facebook_32x32.png" style="border: 0px;" />
    </a>
    <br>
    <!-- Facebook Badge END -->
    <br />
</center>
{% endblock %}

</div>

{% block js %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/jquery-ui-custom/jquery-ui.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/evil-blocks/evil-blocks.js' %}"></script>
    <script src="{% static 'speedy-core/js/speedy-core.js' %}"></script>
    <script src="{% static 'speedy-core/js/upload-image.js' %}"></script>
    {% block extra_js %}{% endblock %}
    {% block domain_cookie_login %}{% endblock %}
{% endblock %}

</body>
</html>
