<!doctype html>

{% load core_tags_and_filters %}
{% load im_tags %}
{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% block site_title %}{{ site_title }}{% endblock %}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/yeti.css' %}" />
        <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" />
        <link rel="stylesheet" href="{% static 'vendor/jquery-ui-custom/jquery-ui.css' %}" />
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap-rtl.css' %}" />
        {% endif %}
        <link rel="stylesheet" href="{% static 'speedy-core/css/speedy-core.css' %}" />
    {% endblock %}
    {% block extracss %}
    {% endblock %}
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-194x194.png" sizes="194x194" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/images/icons/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png" />
    <meta name="theme-color" content="#b2cafa" />
    {% block description %}{% endblock %}
    <script type="text/javascript">
        if (top != self) {
            top.location = self.location;
        }
    </script>
</head>
<body class="bidi-{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">

{% block body %}

<nav class="navbar {% block navbar_class %}{% endblock %}">
    <div class="container">
        {% block navbar %}
            <ul class="nav navbar-nav navbar-left" style="position: relative">
                <li class="dropdown" style="position: absolute; right: 0">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-th"></i></a>
                    <ul class="dropdown-menu">
                        {% for other_site in sites %}
                            <li><a href="//{{ LANGUAGE_CODE }}.{{ other_site.domain|remove_1_prefix_from_domain }}{# ~~~~ TODO: This filter [remove_1_prefix_from_domain] is only because we use "1." domains in production. remove this filter! #}">{% trans other_site.name %}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{% trans site.name %}</a>
            </div>
            {% block login_logout_register %}{% endblock %}
        {% endblock %}
    </div>
</nav>
<div class="container">
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible"
             role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            {{ message }}
        </div>
    {% endfor %}
    {% if request.user.is_authenticated and not request.user.has_confirmed_email %}
        <div class="alert alert-danger">
            {% trans "You haven't confirmed your email address. Please check your inbox." context user.get_gender %}
        </div>
    {% endif %}

    {% block full_content %}

        {% if request.user.is_authenticated and request.user.is_active %}
            <div class="row">
                <div class="col-md-3">
                    <div class="page-header">
                        <h1>&nbsp;</h1>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        {% block user_menu_and_edit_profile %}{% endblock %}
                    </ul>
                </div>
                <div class="col-md-9">
        {% endif %}
                    {% block content %}
                    {% endblock %}
        {% if request.user.is_authenticated %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
</div>

{% block footer_wrap %}
    <hr>

    <footer class="footer">
        {% block footer %}
            {% comment %}
                <div class="container">
                    <ul class="nav nav-pills">
                        <li class="disabled"><a href="/">{{ site.name }}, {% now 'Y' %}</a></li>
                        <li><a href="{% url 'feedback:feedback' %}">{% trans "Contact Us' %}</a></li>
                        <li>
                            <div class="dropup">
                                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                                    {% trans "Language' %}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <li>
                                            <a href="//{{ language.code }}.{{ site.domain }}{{ request.get_full_path }}">
                                                {{ language.name_local }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endcomment %}
            <div class="main-footer">

            <div class="links_table" >
            <table width="100%" cellpadding="0" cellspacing="0" border="0" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}" class="bottomlinks">
            <tr align="center" valign="top">
            <td width="2%" align="{{ LANGUAGE_BIDI|yesno:'right,left' }}"></td>
            <td width="16%" align="{{ LANGUAGE_BIDI|yesno:'right,left' }}">

            <table cellpadding="0" cellspacing="5" border="0" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">

            <tr align="center" valign="top"><td><table cellpadding="0" cellspacing="0" border="0" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><tr align="center" valign="bottom">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="//{{ language.code }}.{{ site.domain }}{{ request.get_full_path }}" title="{{ language.name_local }}">{{ language.name_local }}</a></td>
            {% if not forloop.last %}
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            {% endif %}
            {% endfor %}
            </tr></table></td></tr>

            </table>

            </td>
            <td width="2%" align="{{ LANGUAGE_BIDI|yesno:'right,left' }}"></td>
            <td width="60%" align="center">

            <table cellspacing="5" cellpadding="0" border="0" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">

            <tr align="center" valign="top"><td><table cellspacing="0" cellpadding="0" border="0" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><tbody><tr align="center" valign="bottom">
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="//www.{{ site.domain }}/" class="black">{% trans site.name %}, {% now 'Y' %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="{% url 'about:about' %}" title="{% trans "About" %}">{% trans "About" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="{% url 'privacy:privacy_policy' %}" title="{% trans "Privacy Policy" %}">{% trans "Privacy" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="{% url 'terms:terms_of_service' %}" title="{% trans "Terms of Service" %}">{% trans "Terms" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="{% url 'feedback:feedback' %}" title="{% trans "Contact Us" %}">{% trans "Contact Us" %}</a></td>
            </tr></tbody></table></td></tr>

            <tr align="center" valign="top"><td>&nbsp;</td></tr>

            <tr align="center" valign="top"><td><table cellspacing="0" cellpadding="0" border="0" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><tbody><tr align="center" valign="bottom">
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://{{ LANGUAGE_CODE }}.speedy.net/" title="{% trans "Speedy Net" %}">{% trans "Speedy Net" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://{{ LANGUAGE_CODE }}.speedymatch.com/" title="{% trans "Speedy Match" %}">{% trans "Speedy Match" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://en.speedycomposer.com/" title="{% trans "Speedy Composer" %}">{% trans "Speedy Composer" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://{{ LANGUAGE_CODE }}.speedy-mail-software.com/" title="{% trans "Speedy Mail Software" %}">{% trans "Speedy Mail Software" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://{{ LANGUAGE_CODE }}.speedy.net/blog/" title="{% trans "Speedy Net Blog" %}">{% trans "Speedy Net Blog" %}</a></td>
            </tr></tbody></table></td></tr>

            <tr align="center" valign="top"><td>&nbsp;</td></tr>

            <tr align="center" valign="top"><td><table cellspacing="0" cellpadding="0" border="0" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><tbody><tr align="center" valign="bottom">
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://www.cafepress.com/speedynet" title="{% trans "Speedy Net's Shop" %}">{% trans "Speedy Net's Shop" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://www.cafepress.com/speedymatch" title="{% trans "Speedy Match's Shop" %}">{% trans "Speedy Match's Shop" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://www.cafepress.com/speedycomposer" title="{% trans "Speedy Composer's Shop" %}">{% trans "Speedy Composer's Shop" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://www.cafepress.com/speedy_s" title="{% trans "Speedy S-logo Shop" %}">{% trans "Speedy S-logo Shop" %}</a></td>
            </tr></tbody></table></td></tr>

            <tr align="center" valign="top"><td>&nbsp;</td></tr>

            <tr align="center" valign="top"><td><table cellpadding="0" cellspacing="0" border="0" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><tr align="center" valign="bottom">
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://www.speedysoftware.com/" title="{% trans "Speedy Software" %}">{% trans "Speedy Software" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://{{ LANGUAGE_CODE|convert_en_to_www }}.speedysale.com/" title="{% trans "Speedy Sale" %}">{% trans "Speedy Sale" %}</a></td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><a href="http://{{ LANGUAGE_CODE|convert_en_to_www }}.free-online-dating.net/" title="{% trans "Free Online Dating" %}">{% trans "Free Online Dating" %}</a></td>
            </tr></table></td></tr>

            <tr align="center" valign="top"><td>&nbsp;</td></tr>

            <tr align="center" valign="top"><td><table cellspacing="0" cellpadding="0" border="0" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}"><tbody><tr align="center" valign="bottom">
            <td nowrap="nowrap" dir="ltr"><a href="https://www.python.org/" title="Python">Python</a></td>
            <td nowrap="nowrap" dir="ltr">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="ltr"><a href="https://www.djangoproject.com/" title="Django">Django</a></td>
            <td nowrap="nowrap" dir="ltr">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="ltr"><a href="http://www.postgresql.org/" title="PostgreSQL">PostgreSQL</a></td>
            <td nowrap="nowrap" dir="ltr">&nbsp;·&nbsp;</td>
            <td nowrap="nowrap" dir="ltr"><a href="http://www.ubuntu.com/" title="Ubuntu">Ubuntu</a></td>
            </tr></tbody></table></td>
            </tr>

            </tbody>
            </table>

            </td>
            <td width="2%" align="{{ LANGUAGE_BIDI|yesno:'left,right' }}"></td>
            <td width="16%" align="{{ LANGUAGE_BIDI|yesno:'left,right' }}"></td>
            <td width="2%" align="{{ LANGUAGE_BIDI|yesno:'left,right' }}"></td>
            </tr>
            </table>
            </div>

            </div>
        {% endblock %}
    </footer>
{% endblock %}

{% endblock %}

{% block speedy %}
<center>
    <br />
    <!-- Facebook Badge START -->
    <a class="speedy-bottom-badge-link" href="https://www.facebook.com/speedyevenchen" target="_top" title="{% trans "Speedy" %}">{% trans "Speedy" %}</a>
    <br>
    <a href="https://www.facebook.com/speedyevenchen" target="_top" title="{% trans "Speedy" %}">
        <img class="fb-badge" src="http://badge.facebook.com/badge/110275029046282.1598.135831057.png" style="border: 0px;">
    </a>
    <br>
    <!-- Facebook Badge END -->
    <br />
</center>
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/jquery/jquery-2.2.4.js' %}"></script>
    <script src="{% static 'vendor/jquery-ui-custom/jquery-ui.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/evil-blocks/evil-blocks.js' %}"></script>
    <script src="{% static 'speedy-core/js/speedy-core.js' %}"></script>
    {% block domain_cookie_login %}{% endblock %}
{% endblock %}
{% block extrajs %}
{% endblock %}

</body>
</html>
