{% extends 'base.html' %}

{% load i18n %}
{% load core_tags_and_filters %}

{% block hebrew_extra_links %}
    <a href="https://www.veganfriendly.co.il/" title="טבעונים בעלי מצפון">טבעונים בעלי מצפון</a>
    <a href="https://www.etgar21.info/" title="האתגר הטבעוני">האתגר הטבעוני</a>
    <a href="https://adam-hofshi.blog/" title="בלוג אדם חופשי">בלוג אדם חופשי</a>
{% endblock %}

{% block english_extra_links %}
    <a href="https://{{ LANGUAGE_CODE|convert_en_to_www }}.free-online-dating.club/" title="{% trans "Free Online Dating" %}" rel="nofollow">{% trans "Free Online Dating" %}</a>
{% endblock %}

