{% extends 'base.html' %}

{% load core_messages_tags_and_filters %}
{% load static %}
{% load i18n %}
{% load core_tags_and_filters %}

{% block navbar_mobile %}
    <div class="container-fluid visible-xs">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-left flip" data-toggle="collapse" data-target="#speedy-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block navbar_mobile_header_icons %}
                {% if request.user.is_authenticated %}
                    <div class="speedy-mobile-menu-icons pull-right flip">
                        {% block navbar_mobile_header_icons_extra_0 %}{% endblock %}
                        <a href="{% url 'messages:list' %}"><i class="fas fa-envelope-o" aria-hidden="true"></i></a>
                        {% block navbar_mobile_header_icons_extra_1 %}{% endblock %}
                        <a href="{% url request.user.received_friendship_requests_count|yesno:'friends:received_requests,friends:list' slug=request.user.slug %}"><i class="fas fa-user-plus" aria-hidden="true"></i></a>
                        {% block navbar_mobile_header_icons_extra_2 %}{% endblock %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        <div class="collapse navbar-collapse" id="speedy-navbar-collapse">
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    {% block navbar_mobile_menu_top %}
                        {% block navbar_mobile_menu_top_extra_0 %}{% endblock %}
                        <li>
                            <a href="{{ admin_user_prefix }}{% url 'profiles:user' slug=request.user.slug %}">{{ request.user.first_name }}</a>
                        </li>
                        {% block navbar_mobile_menu_top_extra_1 %}{% endblock %}
                        <li>
                            <a href="{% url 'messages:list' %}">{% translate 'Messages' %}</a>
                        </li>
                        {% block navbar_mobile_menu_top_extra_2 %}{% endblock %}
                        <li>
                            <a href="{% url request.user.received_friendship_requests_count|yesno:'friends:received_requests,friends:list' slug=request.user.slug %}">
                                {% include 'menu/friends_trans.html' %}
                            </a>
                        </li>
                        {% block navbar_mobile_menu_top_extra_3 %}{% endblock %}
                        <li>
                            <a href="{% url 'accounts:edit_profile' %}">{% translate 'Edit Profile' %}</a>
                        </li>
                        {% block navbar_mobile_menu_top_extra_4 %}{% endblock %}
                    {% endblock %}
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <form class="logout-form" method="post" action="{% url 'accounts:logout' %}">
                            {% csrf_token %}
                            <button type="submit">{% translate 'Logout' context request.user.get_gender %}</button>
                        </form>
                    </li>
                    {% include 'menu/about_mobile_menu_links.html' %}
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">{% translate 'Home' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:login' %}">{% translate 'Login' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:password_reset' %}">{% translate 'Forgot your password?' %}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    {% include 'menu/about_mobile_menu_links.html' %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block navbar_vegan_friendly_logo %}
    {% if not request.user.is_authenticated %}
        <div class="navbar-vegan-friendly-logo">
            <a href="https://{{ LANGUAGE_CODE|convert_non_he_to_www }}.vegan-friendly.club/" title="{% translate "A vegan friendly website" %}">
                <img class="vegan-friendly-logo-small" src="{% static 'speedy-core/images/' %}vegan-friendly-logo-{{ LANGUAGE_CODE }}.png" alt="{% translate "A vegan friendly website" %}" title="{% translate "A vegan friendly website" %}" />
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block login_logout_register %}
    {% if request.user.is_authenticated %}
        {% block login_logout_register_user_is_authenticated_extra_0 %}{% endblock %}
        {% block greeting %}
            {% comment %}
                <li class="nav-item"><span class="nav-link">{% blocktranslate context request.user.get_gender with user_link=request.user.get_absolute_url user_name=request.user.first_name|truncatechars:25 site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktranslate %}</span></li>
            {% endcomment %}
        {% endblock %}
        {% block login_logout_register_user_is_authenticated_extra_1 %}{% endblock %}
        <div class="d-lg-none d-xl-none" data-role="sideMenuPlaceholder"></div>
        {% block login_logout_register_user_is_authenticated_extra_2 %}{% endblock %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:edit_profile' %}" title="{% translate 'Edit Profile' %}">
                <i class="fas fa-fw fa-pencil-alt"></i>
                <span class="label">{% translate 'Edit Profile' %}</span>
            </a>
        </li>
        {% block login_logout_register_user_is_authenticated_extra_3 %}{% endblock %}
        <li class="nav-item">
            <form class="logout-form nav-link" method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <i class="fas fa-fw fa-sign-out-alt"></i>
                <button type="submit" class="label" title="{% translate 'Logout' context request.user.get_gender %}">{% translate 'Logout' context request.user.get_gender %}</button>
            </form>
        </li>
    {% else %}
        <form class="form" method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.get_full_path }}" />
            <div class="row">
                <div class="col-auto">
                    <label>
                        {% translate 'Email or Username' %}
                        <input type="text" name="username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="255" class="direction-ltr textinput textInput form-control" required />
                    </label>
                </div>
                <div class="col-auto">
                    <label>
                        {% translate 'Password' %}
                        <input type="password" name="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="direction-ltr textinput textInput form-control" required />
                    </label>
                    <br>
                    <a href="{% url 'accounts:password_reset' %}">{% translate 'Forgot your password?' %}</a>
                </div>
                <div class="col-auto pt-4">
                    <button type="submit" class="btn">{% translate 'Login' %}</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block user_menu_and_edit_profile %}
    {% block user_menu %}
        {% if request.user.profile.is_active %}
            {% block user_menu_profile_is_active %}
                {% include 'menu/user_menu_profile_is_active.html' %}
            {% endblock %}
        {% endif %}
    {% endblock %}
    <li class="nav-item">
        <a href="{% url 'accounts:edit_profile' %}" class="nav-link">
            <i class="fas fa-fw fa-pencil-alt"></i>
            <span class="label">{% translate 'Edit Profile' %}</span>
        </a>
    </li>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {# <!-- Global site tag (gtag.js) - Google Ads: 1011575750 --> #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1011575750"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'AW-1011575750');
    </script>
{% endblock %}

{% block domain_cookie_login %}
    <script>
        {# Cross-domain auth. #}
        {% if site.id in settings.XD_AUTH_SITES %}
            {% for other_site in sites %}
                {% if other_site.id in settings.XD_AUTH_SITES %}
                    speedy.setSession('{{ other_site.domain }}', '{{ request.session.session_key|default:'' }}');
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if request.user.is_authenticated %}
            if (window.localStorage !== null) {
                window.localStorage.removeItem('logged-in');
            }
        {% endif %}
    </script>
{% endblock %}

{% block footer_links_1 %}
    <p>
        <a href="https://{{ LANGUAGE_CODE }}.speedy.net/" title="{% translate "Speedy Net" %}">{% translate "Speedy Net" %}</a>
        <a href="https://{{ LANGUAGE_CODE }}.speedymatch.com/" title="{% translate "Speedy Match" %}{% if LANGUAGE_CODE == "he" %} – הכרויות בספידי{% endif %}">{% translate "Speedy Match" %}</a>
        {% comment %}
            <a href="https://{{ LANGUAGE_CODE }}.speedycomposer.com/" title="{% translate "Speedy Composer" %}">{% translate "Speedy Composer" %}</a>
            <a href="https://{{ LANGUAGE_CODE }}.speedy-mail-software.com/" title="{% translate "Speedy Mail Software" %}">{% translate "Speedy Mail Software" %}</a>
        {% endcomment %}
    </p>
{% endblock %}

{% block footer_links_2 %}
    <p>
        <a href="https://www.cafepress.com/shop/speedynet" title="{% translate "Speedy Net's Shop" %}">{% translate "Speedy Net's Shop" %}</a>
        <a href="https://www.cafepress.com/shop/speedymatch" title="{% translate "Speedy Match's Shop" %}">{% translate "Speedy Match's Shop" %}</a>
        {% comment %}
            <a href="https://www.cafepress.com/shop/speedycomposer" title="{% translate "Speedy Composer's Shop" %}">{% translate "Speedy Composer's Shop" %}</a>
        {% endcomment %}
        <a href="https://www.cafepress.com/shop/speedy_s" title="{% translate "Speedy S-logo Shop" %}">{% translate "Speedy S-logo Shop" %}</a>
    </p>
{% endblock %}

{% block footer_extra_links_0 %}
    <p>
        <a href="//www.{{ site.domain }}/" class="black">{% translate site.name %}®, {% now 'Y' %}</a>
    </p>
{% endblock %}

{% block footer_extra_links_1 %}
    <p>
        <a href="{% url 'about:about' %}" title="{% translate "About" %}">{% translate "About" %}</a>
        <a href="{% url 'privacy:privacy_policy' %}" title="{% translate "Privacy Policy" %}">{% translate "Privacy" %}</a>
        <a href="{% url 'terms:terms_of_service' %}" title="{% translate "Terms of Service" %}">{% translate "Terms" %}</a>
        <a href="{% url 'contact:contact_us' %}" title="{% translate "Contact Us" %}">{% translate "Contact Us" %}</a>
    </p>
{% endblock %}

