{% extends 'base.html' %}

{% load im_tags %}
{% load staticfiles %}
{% load i18n %}
{% load core_tags_and_filters %}

{% block navbar_mobile %}
    <div class="container-fluid visible-xs">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-left flip" data-toggle="collapse" data-target="#speedy-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block navbar_mobile_header_icons %}
            {% endblock %}
        </div>
        <div class="collapse navbar-collapse" id="speedy-navbar-collapse">
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    {% block navbar_mobile_menu_top %}
                        <li>
                            <a href="{% url 'profiles:user' slug=request.user.slug %}">{{ request.user }}</a>
                        </li>
                        <li>
                            <a href="{% url frequests_count|yesno:'friends:received_requests,friends:list' slug=request.user.slug %}">{% trans 'Friends' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'im:list' %}">{% trans 'Messages' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:edit_profile' %}">{% trans 'Edit Profile' %}</a>
                        </li>
                    {% endblock %}
                </ul>
                <ul class="nav navbar-nav">
                    <li class="menu-languages">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <a href="//{{ language.code }}.{{ site.domain }}{{ request.get_full_path }}" title="{{ language.name_local }}">{{ language.name_local }}</a>
                        {% endfor %}
                    </li>
                    <li>
                        <a href="{% url 'privacy:privacy_policy' %}" title="{% trans "Privacy Policy" %}">{% trans "Privacy" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'about:about' %}" title="{% trans "About" %}">{% trans "About" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'feedback:feedback' %}" title="{% trans "Contact Us" %}">{% trans "Contact Us" %}</a>
                    </li>
                    {% block navigate_other_site %}
                    {% endblock %}
                    <li>
                        <a href="{% url 'accounts:logout' %}">{% trans 'Logout' context request.user.get_gender %}</a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">{% trans 'Home' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:login' %}">{% trans 'Login' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:password_reset' %}">{% trans 'Forgot your password?' %}</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block login_logout_register %}
    {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'accounts:edit_profile' %}">{% trans 'Edit Profile' %}</a></li>
            <li><a href="{% url 'accounts:logout' %}">{% trans 'Logout' context request.user.get_gender %}</a></li>
        </ul>
        <p class="navbar-text navbar-right" style="margin-right: 1em">
            {% blocktrans context request.user.get_gender with user_link=request.user.get_absolute_url user_name=request.user.first_name site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktrans %}
        </p>
    {% else %}
        <form class="navbar-form navbar-right" action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            <div class="userbarbox">

                <div class="username-area">
                    <div>
                        <label>{% trans 'Email or Username' %}</label>
                    </div>
                    <div class="text-input-div">
                        <input name="next" type="hidden" value="{{ request.get_full_path }}">
                        <input name="username" type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </div>
                </div>

                <div class="password-area">
                    <div>
                        <label>{% trans 'Password' %}</label>
                    </div>
                    <div class="text-input-div">
                        <input name="password" type="password" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </div>
                    <div class="forgot-password-div">
                        <a href="{% url 'accounts:password_reset' %}">{% trans 'Forgot your password?' %}</a>
                    </div>
                </div>
                <div class="submit-button-div">
                     <button type="submit" class="btn btn-default btn-sm">{% trans 'Login' %}</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block user_menu_and_edit_profile %}
    {% block user_menu %}
        {% if request.user.profile.is_active %}
            <li><a href="{% url 'profiles:user' slug=request.user.slug %}">
                <i class="fa fa-fw fa-user"></i>
                {{ request.user }}
            </a></li>
            {% block user_menu_friends %}
                {% include 'friends/user_menu_friends.html' %}
            {% endblock %}
            <li><a href="{% url 'im:list' %}">
                <i class="fa fa-fw fa-comments"></i>
                {% trans 'Messages' %}
                {% unread_chats_count request.user as unread_chats %}
                {% if unread_chats %}
                    <span class="badge">{{ unread_chats }}</span>
                {% endif %}
            </a></li>
        {% endif %}
    {% endblock %}
    <li><a href="{% url 'accounts:edit_profile' %}">
        <i class="fa fa-fw fa-pencil"></i>
        {% trans 'Edit Profile' %}
    </a></li>
{% endblock %}

{% block domain_cookie_login %}
    <script>
        {# Cross-domain auth. #}
        {% if site.id in settings.XD_AUTH_SITES %}
            {% for other_site in sites %}
                {% if other_site.id in settings.XD_AUTH_SITES %}
                    speedy.setSession('{{ other_site.domain }}', '{{ request.session.session_key|default:'' }}');
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}

