{% extends 'base.html' %}

{% load core_messages_tags %}
{% load staticfiles %}
{% load i18n %}
{% load core_tags_and_filters %}

{% block navbar_mobile %}
    <div class="container-fluid visible-xs">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-left flip" data-toggle="collapse" data-target="#speedy-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block navbar_mobile_header_icons %}
                {% if request.user.is_authenticated %}
                    <div class="speedy-mobile-menu-icons pull-right flip">
                        {% block navbar_mobile_header_icons_extra_0 %}{% endblock %}
                        <a href="{% url 'messages:list' %}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                        {% block navbar_mobile_header_icons_extra_1 %}{% endblock %}
                        <a href="{% url request.user.received_friendship_requests_count|yesno:'friends:received_requests,friends:list' slug=request.user.slug %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
                        {% block navbar_mobile_header_icons_extra_2 %}{% endblock %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
        <div class="collapse navbar-collapse" id="speedy-navbar-collapse">
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    {% block navbar_mobile_menu_top %}
                        {% block navbar_mobile_menu_top_extra_0 %}{% endblock %}
                        <li>
                            <a href="{% url 'profiles:user' slug=request.user.slug %}">{{ request.user.name }}</a>
                        </li>
                        {% block navbar_mobile_menu_top_extra_1 %}{% endblock %}
                        <li>
                            <a href="{% url 'messages:list' %}">{% trans 'Messages' %}</a>
                        </li>
                        {% block navbar_mobile_menu_top_extra_2 %}{% endblock %}
                        <li>
                            <a href="{% url request.user.received_friendship_requests_count|yesno:'friends:received_requests,friends:list' slug=request.user.slug %}">
                                {% include 'menu/friends_trans.html' %}
                            </a>
                        </li>
                        {% block navbar_mobile_menu_top_extra_3 %}{% endblock %}
                        <li>
                            <a href="{% url 'accounts:edit_profile' %}">{% trans 'Edit Profile' %}</a>
                        </li>
                        {% block navbar_mobile_menu_top_extra_4 %}{% endblock %}
                    {% endblock %}
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'accounts:logout' %}">{% trans 'Logout' context request.user.get_gender %}</a>
                    </li>
                    {% include 'menu/about_mobile_menu_links.html' %}
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">{% trans 'Home' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:login' %}">{% trans 'Login' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:password_reset' %}">{% trans 'Forgot your password?' %}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    {% include 'menu/about_mobile_menu_links.html' %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block login_logout_register %}
    {% if request.user.is_authenticated %}
        {% block login_logout_register_user_is_authenticated_extra_0 %}{% endblock %}
        {% block greeting %}
            <li class="nav-item"><span class="nav-link">{% blocktrans context request.user.get_gender with user_link=request.user.get_absolute_url user_name=request.user.first_name|truncatechars:25 site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktrans %}</span></li>
        {% endblock %}
        {% block login_logout_register_user_is_authenticated_extra_1 %}{% endblock %}
        <div class="d-lg-none d-xl-none" data-role="sideMenuPlaceholder"></div>
        {% block login_logout_register_user_is_authenticated_extra_2 %}{% endblock %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:edit_profile' %}">{% trans 'Edit Profile' %}</a>
        </li>
        {% block login_logout_register_user_is_authenticated_extra_3 %}{% endblock %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:logout' %}">{% trans 'Logout' context request.user.get_gender %}</a>
        </li>
    {% else %}
        <form class="form" method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.get_full_path }}">
            <div class="row">
                <div class="col-auto">
                    <label>
                        {% trans 'Email or Username' %}
                        <input name="username" type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </label>
                </div>
                <div class="col-auto">
                    <label>
                        {% trans 'Password' %}
                        <input name="password" type="password" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </label>
                    <br>
                    <a href="{% url 'accounts:password_reset' %}">{% trans 'Forgot your password?' %}</a>
                </div>
                <div class="col-auto pt-4">
                    <button type="submit" class="btn">{% trans 'Login' %}</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block user_menu_and_edit_profile %}
    {% block user_menu %}
        {% if request.user.profile.is_active %}
            {% block user_menu_profile_is_active %}
                {% include 'menu/user_menu_profile_is_active.html' %}
            {% endblock %}
        {% endif %}
    {% endblock %}
    <li class="nav-item">
        <a href="{% url 'accounts:edit_profile' %}" class="nav-link">
            <i class="fa fa-fw fa-pencil"></i>
            <span class="label">{% trans 'Edit Profile' %}</span>
        </a>
    </li>
{% endblock %}

{% block domain_cookie_login %}
    <script>
        {# Cross-domain auth. #}
        {% if site.id in settings.XD_AUTH_SITES %}
            {% for other_site in sites %}
                {% if other_site.id in settings.XD_AUTH_SITES %}
                    speedy.setSession('{{ other_site.domain }}', '{{ request.session.session_key|default:'' }}');
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}

