{% load i18n %}


{#core/templates/base_with_login.html 85#}
{% blocktrans context 'female' with user_link=request.user.get_absolute_url user_name=request.user.first_name site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktrans %}
{% blocktrans context 'male' with user_link=request.user.get_absolute_url user_name=request.user.first_name site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktrans %}
{% blocktrans context 'other' with user_link=request.user.get_absolute_url user_name=request.user.first_name site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktrans %}

{#core/templates/base.html 85#}
{% trans "You haven't confirmed your email address. Please check your inbox." context 'female' %}
{% trans "You haven't confirmed your email address. Please check your inbox." context 'male' %}
{% trans "You haven't confirmed your email address. Please check your inbox." context 'other' %}

{#core/templates/profiles/block_warning.html 9#}
{% trans 'You blocked ' context 'female' %}
{% trans 'You blocked ' context 'male' %}
{% trans 'You blocked ' context 'other' %}

{#core/templates/profiles/block_warning.html 11#}
{% trans ' blocked you.' context 'female' %}
{% trans ' blocked you.' context 'male' %}
{% trans ' blocked you.' context 'other' %}

{#core/templates/profiles/tools/your_friend.html 9#}
{% trans 'Your Friend' context 'female' %}
{% trans 'Your Friend' context 'male' %}
{% trans 'Your Friend' context 'other' %}

{#core/templates/profiles/tools/block_user.html 13#}
{% trans 'Block ' context 'female' %}
{% trans 'Block ' context 'male' %}
{% trans 'Block ' context 'other' %}

{#core/templates/profiles/tools/block_user.html 24#}
{% trans 'Unblock ' context 'female' %}
{% trans 'Unblock ' context 'male' %}
{% trans 'Unblock ' context 'other' %}

{#core/templates/im/message_form.html 7#}
{% blocktrans context 'female' %}Send a message to {{ other_user }}{% endblocktrans %}
{% blocktrans context 'male' %}Send a message to {{ other_user }}{% endblocktrans %}
{% blocktrans context 'other' %}Send a message to {{ other_user }}{% endblocktrans %}

{#core/templates/im/chat_list.html 52#}
{% trans 'You have no messages yet.' context 'female' %}
{% trans 'You have no messages yet.' context 'male' %}
{% trans 'You have no messages yet.' context 'other' %}

{#core/templates/feedback/feedback_success.html 11#}
{% trans 'Your feedback was sent to administrators.' context 'female' %}
{% trans 'Your feedback was sent to administrators.' context 'male' %}
{% trans 'Your feedback was sent to administrators.' context 'other' %}

{#core/templates/blocks/block_list.html 10#}
{% trans "You're not blocking anybody." context 'female' %}
{% trans "You're not blocking anybody." context 'male' %}
{% trans "You're not blocking anybody." context 'other' %}

{#core/templates/accounts/edit_profile/privacy.html 15#}
{% trans 'Change privacy settings of email addresses on your profile.' context 'female' %}
{% trans 'Change privacy settings of email addresses on your profile.' context 'male' %}
{% trans 'Change privacy settings of email addresses on your profile.' context 'other' %}

{% trans 'Resend a confirmation email' context 'female' %}
{% trans 'Resend a confirmation email' context 'male' %}
{% trans 'Resend a confirmation email' context 'other' %}

{% trans 'Make this email address primary' context 'female' %}
{% trans 'Make this email address primary' context 'male' %}
{% trans 'Make this email address primary' context 'other' %}

{#core/templates/accounts/edit_profile/credentials.html 66#}
{% trans 'Are you sure you want to delete this email address?' context 'female' %}
{% trans 'Are you sure you want to delete this email address?' context 'male' %}
{% trans 'Are you sure you want to delete this email address?' context 'other' %}

{% trans 'Delete this email address' context 'female' %}
{% trans 'Delete this email address' context 'male' %}
{% trans 'Delete this email address' context 'other' %}

{% trans 'Add Another' context 'female' %}
{% trans 'Add Another' context 'male' %}
{% trans 'Add Another' context 'other' %}

{% trans 'Change Password' context 'female' %}
{% trans 'Change Password' context 'male' %}
{% trans 'Change Password' context 'other' %}

{% trans 'Save Changes' context 'female' %}
{% trans 'Save Changes' context 'male' %}
{% trans 'Save Changes' context 'other' %}

{% trans 'Add' context 'female' %}
{% trans 'Add' context 'male' %}
{% trans 'Add' context 'other' %}

{#core/templates/accounts/edit_profile/base.html# 16#}
{% trans 'Please confirm your email address.' context 'female' %}
{% trans 'Please confirm your email address.' context 'male' %}
{% trans 'Please confirm your email address.' context 'other' %}

{% trans "username (slug)" context 'female' %}
{% trans "username (slug)" context 'male' %}
{% trans "username (slug)" context 'other' %}

{#core/accounts/forms.py 158#}
{% trans "You can't change your username." context 'female' %}
{% trans "You can't change your username." context 'male' %}
{% trans "You can't change your username." context 'other' %}

{#core/accounts/views.py 149#}
{% trans 'Your new password has been saved.' context 'female' %}
{% trans 'Your new password has been saved.' context 'male' %}
{% trans 'Your new password has been saved.' context 'other' %}

{#core/accounts/views.py 218#}
{% trans "You\'ve already confirmed this email address." context 'female' %}
{% trans "You\'ve already confirmed this email address." context 'male' %}
{% trans "You\'ve already confirmed this email address." context 'other' %}

{#core/accounts/views.py 222#}
{% trans "You\'ve confirmed your email address." context 'female' %}
{% trans "You\'ve confirmed your email address." context 'male' %}
{% trans "You\'ve confirmed your email address." context 'other' %}

{#core/blocks/views.py 26#}
{% trans "You have blocked this user." context 'female' %}
{% trans "You have blocked this user." context 'male' %}
{% trans "You have blocked this user." context 'other' %}

{#core/blocks/views.py 39#}
{% trans "You have unblocked this user." context 'female' %}
{% trans "You have unblocked this user." context 'male' %}
{% trans "You have unblocked this user." context 'other' %}

{#core/friends/views.py 51#}
{% blocktrans context 'female' %}You already have {0} friends. You can't have more than {1} friends on Speedy Net. Please remove friends before you proceed.{% endblocktrans %}
{% blocktrans context 'male' %}You already have {0} friends. You can't have more than {1} friends on Speedy Net. Please remove friends before you proceed.{% endblocktrans %}
{% blocktrans context 'other' %}You already have {0} friends. You can't have more than {1} friends on Speedy Net. Please remove friends before you proceed.{% endblocktrans %}

{#core/friends/views.py 59#}
{% blocktrans context 'female' %}This user already has {0} friends. They can't have more than {1} friends on Speedy Net. Please ask them to remove friends before you proceed.{% endblocktrans %}
{% blocktrans context 'male' %}This user already has {0} friends. They can't have more than {1} friends on Speedy Net. Please ask them to remove friends before you proceed.{% endblocktrans %}
{% blocktrans context 'other' %}This user already has {0} friends. They can't have more than {1} friends on Speedy Net. Please ask them to remove friends before you proceed.{% endblocktrans %}

{#core/friends/views.py 75#}
{% trans 'You already requested friendship from this user.' context 'female' %}
{% trans 'You already requested friendship from this user.' context 'male' %}
{% trans 'You already requested friendship from this user.' context 'other' %}

{#core/friends/views.py 78#}
{% trans 'You already are friends with this user.' context 'female' %}
{% trans 'You already are friends with this user.' context 'male' %}
{% trans 'You already are friends with this user.' context 'other' %}

{#core/friends/views.py 104#}
{% trans "You've cancelled your friend request." context 'female' %}
{% trans "You've cancelled your friend request."  context 'male' %}
{% trans "You've cancelled your friend request."  context 'other' %}

{#core/friends/views.py 160#}
{% trans "You have removed this user from friends." context 'female' %}
{% trans "You have removed this user from friends."  context 'male' %}
{% trans "You have removed this user from friends."  context 'other' %}

{#match/templates/matches/matches_list.html 11#}
{% trans 'Your matches' context 'female' %}
{% trans 'Your matches' context 'male' %}
{% trans 'Your matches' context 'other' %}

{#match/templates/matches/matches_list.html 16#}
{% trans "You don't have any matches yet. Try to broaden your search settings or check again later." context 'female' %}
{% trans "You don't have any matches yet. Try to broaden your search settings or check again later." context 'male' %}
{% trans "You don't have any matches yet. Try to broaden your search settings or check again later." context 'other' %}

{#match/templates/likes/like_list.html 14#}
{% trans 'People I Like' context 'female' %}
{% trans 'People I Like' context 'male' %}
{% trans 'People I Like' context 'other' %}

{#match/templates/likes/like_list.html 16#}
{% trans 'People Who Like Me' context 'female' %}
{% trans 'People Who Like Me' context 'male' %}
{% trans 'People Who Like Me' context 'other' %}

{#match/templates/likes/like_list.html 28#}
{% trans 'You have no likes here.' context 'female' %}
{% trans 'You have no likes here.' context 'male' %}
{% trans 'You have no likes here.' context 'other' %}

{#match/templates/profiles/user_detail.html#}
{% trans "View " context 'female' %}
{% trans "View " context 'male' %}
{% trans "View " context 'other' %}

{% trans "This user doesn't match your profile, " context 'female' %}
{% trans "This user doesn't match your profile, " context 'male' %}
{% trans "This user doesn't match your profile, " context 'other' %}

{% trans "but you can visit his/her Speedy Net profile. " context 'female' %}
{% trans "but you can visit his/her Speedy Net profile. " context 'male' %}
{% trans "but you can visit his/her Speedy Net profile. " context 'other' %}

{% trans "user's profile on Speedy Net." context 'female' %}
{% trans "user's profile on Speedy Net." context 'male' %}
{% trans "user's profile on Speedy Net." context 'other' %}

{% trans 'Vegan (eats only plants and fungi)' context 'female' %}
{% trans 'Vegan (eats only plants and fungi)' context 'male' %}
{% trans 'Vegan (eats only plants and fungi)' context 'other' %}

{% trans "Vegetarian (doesn\'t eat fish and meat)" context 'female' %}
{% trans "Vegetarian (doesn\'t eat fish and meat)" context 'male' %}
{% trans "Vegetarian (doesn\'t eat fish and meat)" context 'other' %}

{% trans 'Carnist (eats animals)' context 'female' %}
{% trans 'Carnist (eats animals)' context 'male' %}
{% trans 'Carnist (eats animals)' context 'other' %}

{% trans 'Vegan' context 'female' %}
{% trans 'Vegan' context 'male' %}
{% trans 'Vegan' context 'other' %}

{% trans "Vegetarian" context 'female' %}
{% trans "Vegetarian" context 'male' %}
{% trans "Vegetarian" context 'other' %}

{% trans 'Carnist' context 'female' %}
{% trans 'Carnist' context 'male' %}
{% trans 'Carnist' context 'other' %}

{% trans "Logout" context 'female' %}
{% trans "Logout" context 'male' %}
{% trans "Logout" context 'other' %}

{% trans "Like" context 'female' %}
{% trans "Like" context 'male' %}
{% trans "Like" context 'other' %}

{% trans "Unlike" context 'female' %}
{% trans "Unlike" context 'male' %}
{% trans "Unlike" context 'other' %}

{% trans "Send Message" context 'female' %}
{% trans "Send Message" context 'male' %}
{% trans "Send Message" context 'other' %}

{% trans "Send" context 'female' %}
{% trans "Send" context 'male' %}
{% trans "Send" context 'other' %}

{% trans "Add to Friends" context 'female' %}
{% trans "Add to Friends" context 'male' %}
{% trans "Add to Friends" context 'other' %}

{% trans "Report " context 'female' %}
{% trans "Report " context 'male' %}
{% trans "Report " context 'other' %}

{% trans "Report this photo" context 'female' %}
{% trans "Report this photo" context 'male' %}
{% trans "Report this photo" context 'other' %}

{% trans "Report a User" context 'female' %}
{% trans "Report a User" context 'male' %}
{% trans "Report a User" context 'other' %}

{% trans "Deactivate Account" context 'female' %}
{% trans "Deactivate Account" context 'male' %}
{% trans "Deactivate Account" context 'other' %}

{% trans "Your Speedy Net and Speedy Match accounts has been deactivated. You can reactivate it any time." context 'female' %}
{% trans "Your Speedy Net and Speedy Match accounts has been deactivated. You can reactivate it any time." context 'male' %}
{% trans "Your Speedy Net and Speedy Match accounts has been deactivated. You can reactivate it any time." context 'other' %}

{% trans "Your {} account has been deactivated. You can reactivate it any time. Your Speedy Net account remains active." context 'female' %}
{% trans "Your {} account has been deactivated. You can reactivate it any time. Your Speedy Net account remains active." context 'male' %}
{% trans "Your {} account has been deactivated. You can reactivate it any time. Your Speedy Net account remains active." context 'other' %}

{% trans "Activate your {} account" context 'female' %}
{% trans "Activate your {} account" context 'male' %}
{% trans "Activate your {} account" context 'other' %}

{% trans "Deactivate your {} account" context 'female' %}
{% trans "Deactivate your {} account" context 'male' %}
{% trans "Deactivate your {} account" context 'other' %}

{% trans "Welcome to {}!" context 'female' %}
{% trans "Welcome to {}!" context 'male' %}
{% trans "Welcome to {}!" context 'other' %}

{% trans "Mark All as Read" context 'female' %}
{% trans "Mark All as Read" context 'male' %}
{% trans "Mark All as Read" context 'other' %}

{% trans "Remove" context 'female' %}
{% trans "Remove" context 'male' %}
{% trans "Remove" context 'other' %}

{% trans "Are you sure you want to block " context 'female' %}
{% trans "Are you sure you want to block " context 'male' %}
{% trans "Are you sure you want to block " context 'other' %}

{% trans "You:" context 'female' %}
{% trans "You:" context 'male' %}
{% trans "You:" context 'other' %}
