{% extends 'about/about_base.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load core_messages_tags %}
{% load rules %}

{% block content %}
<div class="page-header">
    <h1>
        {% blocktrans with site_name=site_name %}About Speedy Mail Software{% endblocktrans %}
    </h1>
</div>
<div>
    {% blocktrans with site_name=site_name %}Speedy Mail Software will be a free software and open source web-based email such as Gmail. We want the mail to be as similar as possible to the excellent email of Google, Gmail. When we develop such a mail software, we intend to run a free email service to all members of Speedy Net, so that the username of each person at Speedy Net + the speedy.net domain name will be the email address of the user. In the past we operated an email like this, but unfortunately we had to close it because it was a lot worse than Gmail, in terms of features and storage, and also because we were not able to control the problem of spam ("junk mail") sent to our clients. But if we can recruit volunteers to create a good email program, we will reactivate Speedy Mail and will allow any company or organization to operate a similar web-based email on their site.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site_name %}Speedy Mail Software will be available in two languages - English and Hebrew, and will be free of charge. Speedy Net and Speedy Mail Software are free software & open source projects. If you want to help developing Speedy Mail Software, please contact me by email.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site_name %}Speedy Mail Software is named after <a href="https://www.facebook.com/speedyevenchen" title="Speedy">Speedy</a>, a female dog that was with us for many years and died in 2003. Speedy gave birth to 7 puppies in 1988.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site_name %}Thank you and good luck,{% endblocktrans %}<br />
    <a href="https://www.speedysoft.com/uri/en/">{% blocktrans with site_name=site_name %}Uri Rodberg{% endblocktrans %}</a><br />
    {% blocktrans with site_name=site_name %}Founder and director of Speedy Net and Speedy Mail,{% endblocktrans %}<br />
    {% blocktrans with site_name=site_name %}Speedy Paz Technologies Ltd.{% endblocktrans %}<br />
    <a href="mailto:uri@speedy.net">uri@speedy.net</a><br />
</div>
{% endblock %}
