{% load i18n %}
<div class="user-profile pull-left flip">
    <div class="user-profile-image">
        {% if user.photo %}
            <img src="{{ user.photo.file.url }}" alt="">
        {% else %}
            <i class="fa fa-camera" aria-hidden="true"></i>
        {% endif %}
    </div>
    <div class="user-profile-general-info">
        <span>{{ user.first_name|truncatechars:25 }}, </span>
        <span>{{ user.get_gender_translated|make_list|first|capfirst }}, </span>
        <span>{{ user.get_age }}</span>
    </div>
    <div class="user-profile-additional-info">
        {% if user.city %}
             <span>{{ user.city }}</span>
        {% endif %}
        {% if user.speedy_match_profile.height %}
            , <span>{{ user.speedy_match_profile.height }} {% trans 'cm' %}</span>
        {% endif %}
    </div>
    <div class="user-profile-more-info">
        {% if user.speedy_match_profile.children %}
            <span>{{ user.speedy_match_profile.children }}</span>
        {% endif %}
        {% if user.speedy_match_profile.more_children %}
            , <span>{{ user.speedy_match_profile.more_children }}</span>
        {% endif %}
        {% if user.get_diet %}
            , <span>{{ user.get_diet }}</span>
        {% endif %}
    </div>
</div>
