{# This file is only for ./make_all_messages.sh, it is not used otherwise. #}

{% load i18n %}

{% trans 'Your friend' context user.get_gender %}
{% trans 'Friendship request sent' %}

{% trans "You haven't confirmed your email address. Please check your inbox." context "female" %}
{% trans "You haven't confirmed your email address. Please check your inbox." context "male" %}
{% trans "You haven't confirmed your email address. Please check your inbox." context "other" %}

{% trans 'Logout' context "female" %}
{% trans 'Logout' context "male" %}
{% trans 'Logout' context "other" %}

{% blocktrans context "female" with user_link=request.user.get_absolute_url user_name=request.user.first_name site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktrans %}
{% blocktrans context "male" with user_link=request.user.get_absolute_url user_name=request.user.first_name site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktrans %}
{% blocktrans context "other" with user_link=request.user.get_absolute_url user_name=request.user.first_name site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktrans %}

{% trans 'Please confirm your email address.' context "female" %}
{% trans 'Please confirm your email address.' context "male" %}
{% trans 'Please confirm your email address.' context "other" %}

{% trans 'Deactivate Account' context "female" %}
{% trans 'Deactivate Account' context "male" %}
{% trans 'Deactivate Account' context "other" %}

{% trans 'Resend a confirmation email' context "female" %}
{% trans 'Resend a confirmation email' context "male" %}
{% trans 'Resend a confirmation email' context "other" %}

{% trans 'Make this email address primary' context "female" %}
{% trans 'Make this email address primary' context "male" %}
{% trans 'Make this email address primary' context "other" %}

{% trans 'Are you sure you want to delete this email address?' context "female" %}
{% trans 'Are you sure you want to delete this email address?' context "male" %}
{% trans 'Are you sure you want to delete this email address?' context "other" %}

{% trans 'Delete this email address' context "female" %}
{% trans 'Delete this email address' context "male" %}
{% trans 'Delete this email address' context "other" %}

{% trans 'Add Another' context "female" %}
{% trans 'Add Another' context "male" %}
{% trans 'Add Another' context "other" %}

{% trans 'Change Password' context "female" %}
{% trans 'Change Password' context "male" %}
{% trans 'Change Password' context "other" %}

{% trans 'Change privacy settings of email addresses on your profile.' context "female" %}
{% trans 'Change privacy settings of email addresses on your profile.' context "male" %}
{% trans 'Change privacy settings of email addresses on your profile.' context "other" %}

{% trans "You're not blocking anybody." context "female" %}
{% trans "You're not blocking anybody." context "male" %}
{% trans "You're not blocking anybody." context "other" %}

{% trans 'Report a User' context "female" %}
{% trans 'Report a User' context "male" %}
{% trans 'Report a User' context "other" %}

{#{% trans 'Report a Photo' %}#}
{#{% trans 'Report a Photo' %}#}
{#{% trans 'Report a Photo' %}#}
{##}
{#{% trans 'Contact Us' %}#}
{#{% trans 'Contact Us' %}#}
{#{% trans 'Contact Us' %}#}

{% trans 'Your feedback was sent to administrators.' context "female" %}
{% trans 'Your feedback was sent to administrators.' context "male" %}
{% trans 'Your feedback was sent to administrators.' context "other" %}

{% blocktrans context "female" with user_name=other.user.name %}Send a message to {{ user_name }}{% endblocktrans %}
{% blocktrans context "male" with user_name=other.user.name %}Send a message to {{ user_name }}{% endblocktrans %}
{% blocktrans context "other" with user_name=other.user.name %}Send a message to {{ user_name }}{% endblocktrans %}

{% trans 'Mark All as Read' context "female" %}
{% trans 'Mark All as Read' context "male" %}
{% trans 'Mark All as Read' context "other" %}

{% trans 'You:' context "female" %}
{% trans 'You:' context "male" %}
{% trans 'You:' context "other" %}

{% trans 'You have no messages yet.' context "female" %}
{% trans 'You have no messages yet.' context "male" %}
{% trans 'You have no messages yet.' context "other" %}

{% trans 'You blocked ' context "female" %}
{% trans 'You blocked ' context "male" %}
{% trans 'You blocked ' context "other" %}

{% trans ' blocked you.' context "female" %}
{% trans ' blocked you.' context "male" %}
{% trans ' blocked you.' context "other" %}

{% blocktrans with user_name=user.first_name|truncatechars:50 context "female" %}{{ user_name }} also has a Speedy Match profile. View {{ user_name }}’s profile on Speedy Match.{% endblocktrans %}
{% blocktrans with user_name=user.first_name|truncatechars:50 context "male" %}{{ user_name }} also has a Speedy Match profile. View {{ user_name }}’s profile on Speedy Match.{% endblocktrans %}
{% blocktrans with user_name=user.first_name|truncatechars:50 context "other" %}{{ user_name }} also has a Speedy Match profile. View {{ user_name }}’s profile on Speedy Match.{% endblocktrans %}

{% blocktrans with user_name=user.first_name|truncatechars:50 context "female" %}{{ user_name }} also has a Speedy Net profile. View {{ user_name }}’s profile on Speedy Net.{% endblocktrans %}
{% blocktrans with user_name=user.first_name|truncatechars:50 context "male" %}{{ user_name }} also has a Speedy Net profile. View {{ user_name }}’s profile on Speedy Net.{% endblocktrans %}
{% blocktrans with user_name=user.first_name|truncatechars:50 context "other" %}{{ user_name }} also has a Speedy Net profile. View {{ user_name }}’s profile on Speedy Net.{% endblocktrans %}

{% blocktrans context "female" %}You also have a Speedy Net profile. View your profile on Speedy Net.{% endblocktrans %}
{% blocktrans context "male" %}You also have a Speedy Net profile. View your profile on Speedy Net.{% endblocktrans %}
{% blocktrans context "other" %}You also have a Speedy Net profile. View your profile on Speedy Net.{% endblocktrans %}

{% trans 'Add to Friends' context "female" %}
{% trans 'Add to Friends' context "male" %}
{% trans 'Add to Friends' context "other" %}

{% trans 'Are you sure you want to block ' context "female" %}
{% trans 'Are you sure you want to block ' context "male" %}
{% trans 'Are you sure you want to block ' context "other" %}

{% trans 'Block ' context "female" %}
{% trans 'Block ' context "male" %}
{% trans 'Block ' context "other" %}

{% trans 'Unblock ' context "female" %}
{% trans 'Unblock ' context "male" %}
{% trans 'Unblock ' context "other" %}

{% trans 'Report ' context "female" %}
{% trans 'Report ' context "male" %}
{% trans 'Report ' context "other" %}

{% trans 'Report this photo' context "female" %}
{% trans 'Report this photo' context "male" %}
{% trans 'Report this photo' context "other" %}

{% trans 'Remove Friend' context "female" %}
{% trans 'Remove Friend' context "male" %}
{% trans 'Remove Friend' context "other" %}

{% trans 'Cancel Friendship Request' context "female" %}
{% trans 'Cancel Friendship Request' context "male" %}
{% trans 'Cancel Friendship Request' context "other" %}

{% trans 'Accept' context "female" %}
{% trans 'Accept' context "male" %}
{% trans 'Accept' context "other" %}

{% trans 'Reject' context "female" %}
{% trans 'Reject' context "male" %}
{% trans 'Reject' context "other" %}

{% trans 'Accept Friendship Request' context "female" %}
{% trans 'Accept Friendship Request' context "male" %}
{% trans 'Accept Friendship Request' context "other" %}

{% trans 'Reject Friendship Request' context "female" %}
{% trans 'Reject Friendship Request' context "male" %}
{% trans 'Reject Friendship Request' context "other" %}

{% trans 'Send Message' context "female" %}
{% trans 'Send Message' context "male" %}
{% trans 'Send Message' context "other" %}

{% trans 'Welcome' context "female" %}
{% trans 'Welcome' context "male" %}
{% trans 'Welcome' context "other" %}

{% trans 'Your friend' context "female" %}
{% trans 'Your friend' context "male" %}
{% trans 'Your friend' context "other" %}

{% trans 'See All' context "female" %}
{% trans 'See All' context "male" %}
{% trans 'See All' context "other" %}

{% trans 'Your Speedy Net account is not active. Enter this page to activate it.' context "female" %}
{% trans 'Your Speedy Net account is not active. Enter this page to activate it.' context "male" %}
{% trans 'Your Speedy Net account is not active. Enter this page to activate it.' context "other" %}

{% blocktrans with site_name=site_name context "female" %}Welcome to {{ site_name }}{% endblocktrans %}
{% blocktrans with site_name=site_name context "male" %}Welcome to {{ site_name }}{% endblocktrans %}
{% blocktrans with site_name=site_name context "other" %}Welcome to {{ site_name }}{% endblocktrans %}

{% trans "has sent you a message." context "female" %}
{% trans "has sent you a message." context "male" %}
{% trans "has sent you a message." context "other" %}

{% trans "Read it:" context "female" %}
{% trans "Read it:" context "male" %}
{% trans "Read it:" context "other" %}

{% trans "Confirm your email address on " context "female" %}
{% trans "Confirm your email address on " context "male" %}
{% trans "Confirm your email address on " context "other" %}

{% trans "Use this link to activate your account:" context "female" %}
{% trans "Use this link to activate your account:" context "male" %}
{% trans "Use this link to activate your account:" context "other" %}

{% trans "Use this link to verify your email address:" context "female" %}
{% trans "Use this link to verify your email address:" context "male" %}
{% trans "Use this link to verify your email address:" context "other" %}

{% trans "Use this link to change your password:" context "female" %}
{% trans "Use this link to change your password:" context "male" %}
{% trans "Use this link to change your password:" context "other" %}

{% trans 'Username' context "female" %}
{% trans 'Username' context "male" %}
{% trans 'Username' context "other" %}

