{# This file is only for ./make_all_messages.sh, it is not used otherwise. #}

{% load i18n %}

{% translate 'Your friend' context user.get_gender %}
{% translate 'Friendship request sent' %}

{% translate "You haven't confirmed your email address. Please check your inbox." context "female" %}
{% translate "You haven't confirmed your email address. Please check your inbox." context "male" %}
{% translate "You haven't confirmed your email address. Please check your inbox." context "other" %}

{% translate 'Logout' context "female" %}
{% translate 'Logout' context "male" %}
{% translate 'Logout' context "other" %}

{% blocktranslate context "female" with user_link=request.user.get_absolute_url user_name=request.user.first_name site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktranslate %}
{% blocktranslate context "male" with user_link=request.user.get_absolute_url user_name=request.user.first_name site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktranslate %}
{% blocktranslate context "other" with user_link=request.user.get_absolute_url user_name=request.user.first_name site_name=site_name %}Hi <a href="{{ user_link }}" class="navbar-link">{{ user_name }}</a>, welcome back to {{ site_name }}!{% endblocktranslate %}

{% translate 'Please confirm your email address.' context "female" %}
{% translate 'Please confirm your email address.' context "male" %}
{% translate 'Please confirm your email address.' context "other" %}

{% translate 'Deactivate Account' context "female" %}
{% translate 'Deactivate Account' context "male" %}
{% translate 'Deactivate Account' context "other" %}

{% translate 'Resend a confirmation email' context "female" %}
{% translate 'Resend a confirmation email' context "male" %}
{% translate 'Resend a confirmation email' context "other" %}

{% translate 'Make this email address primary' context "female" %}
{% translate 'Make this email address primary' context "male" %}
{% translate 'Make this email address primary' context "other" %}

{% translate 'Are you sure you want to delete this email address?' context "female" %}
{% translate 'Are you sure you want to delete this email address?' context "male" %}
{% translate 'Are you sure you want to delete this email address?' context "other" %}

{% translate 'Delete this email address' context "female" %}
{% translate 'Delete this email address' context "male" %}
{% translate 'Delete this email address' context "other" %}

{% translate 'Add Another' context "female" %}
{% translate 'Add Another' context "male" %}
{% translate 'Add Another' context "other" %}

{% translate 'Change Password' context "female" %}
{% translate 'Change Password' context "male" %}
{% translate 'Change Password' context "other" %}

{% translate 'Change privacy settings of email addresses on your profile.' context "female" %}
{% translate 'Change privacy settings of email addresses on your profile.' context "male" %}
{% translate 'Change privacy settings of email addresses on your profile.' context "other" %}

{% translate "You're not blocking anybody." context "female" %}
{% translate "You're not blocking anybody." context "male" %}
{% translate "You're not blocking anybody." context "other" %}

{% translate 'Report a User' context "female" %}
{% translate 'Report a User' context "male" %}
{% translate 'Report a User' context "other" %}

{#{% translate 'Report a Photo' %}#}
{#{% translate 'Report a Photo' %}#}
{#{% translate 'Report a Photo' %}#}
{##}
{#{% translate 'Contact Us' %}#}
{#{% translate 'Contact Us' %}#}
{#{% translate 'Contact Us' %}#}

{% translate 'Your feedback was sent to administrators.' context "female" %}
{% translate 'Your feedback was sent to administrators.' context "male" %}
{% translate 'Your feedback was sent to administrators.' context "other" %}

{% blocktranslate context "female" with user_name=other.user.name %}Send a message to {{ user_name }}{% endblocktranslate %}
{% blocktranslate context "male" with user_name=other.user.name %}Send a message to {{ user_name }}{% endblocktranslate %}
{% blocktranslate context "other" with user_name=other.user.name %}Send a message to {{ user_name }}{% endblocktranslate %}

{% translate 'Mark All as Read' context "female" %}
{% translate 'Mark All as Read' context "male" %}
{% translate 'Mark All as Read' context "other" %}

{% translate 'You:' context "female" %}
{% translate 'You:' context "male" %}
{% translate 'You:' context "other" %}

{% translate 'You have no messages yet.' context "female" %}
{% translate 'You have no messages yet.' context "male" %}
{% translate 'You have no messages yet.' context "other" %}

{% translate 'You blocked ' context "female" %}
{% translate 'You blocked ' context "male" %}
{% translate 'You blocked ' context "other" %}

{% translate ' blocked you.' context "female" %}
{% translate ' blocked you.' context "male" %}
{% translate ' blocked you.' context "other" %}

{% blocktranslate with user_name=user.first_name|truncatechars:50 context "female" %}{{ user_name }} also has a Speedy Match profile. View {{ user_name }}’s profile on Speedy Match.{% endblocktranslate %}
{% blocktranslate with user_name=user.first_name|truncatechars:50 context "male" %}{{ user_name }} also has a Speedy Match profile. View {{ user_name }}’s profile on Speedy Match.{% endblocktranslate %}
{% blocktranslate with user_name=user.first_name|truncatechars:50 context "other" %}{{ user_name }} also has a Speedy Match profile. View {{ user_name }}’s profile on Speedy Match.{% endblocktranslate %}

{% blocktranslate with user_name=user.first_name|truncatechars:50 context "female" %}{{ user_name }} also has a Speedy Net profile. View {{ user_name }}’s profile on Speedy Net.{% endblocktranslate %}
{% blocktranslate with user_name=user.first_name|truncatechars:50 context "male" %}{{ user_name }} also has a Speedy Net profile. View {{ user_name }}’s profile on Speedy Net.{% endblocktranslate %}
{% blocktranslate with user_name=user.first_name|truncatechars:50 context "other" %}{{ user_name }} also has a Speedy Net profile. View {{ user_name }}’s profile on Speedy Net.{% endblocktranslate %}

{% blocktranslate context "female" %}You also have a Speedy Net profile. View your profile on Speedy Net.{% endblocktranslate %}
{% blocktranslate context "male" %}You also have a Speedy Net profile. View your profile on Speedy Net.{% endblocktranslate %}
{% blocktranslate context "other" %}You also have a Speedy Net profile. View your profile on Speedy Net.{% endblocktranslate %}

{% translate 'Add to Friends' context "female" %}
{% translate 'Add to Friends' context "male" %}
{% translate 'Add to Friends' context "other" %}

{% translate 'Are you sure you want to block ' context "female" %}
{% translate 'Are you sure you want to block ' context "male" %}
{% translate 'Are you sure you want to block ' context "other" %}

{% translate 'Block ' context "female" %}
{% translate 'Block ' context "male" %}
{% translate 'Block ' context "other" %}

{% translate 'Unblock ' context "female" %}
{% translate 'Unblock ' context "male" %}
{% translate 'Unblock ' context "other" %}

{% translate 'Report ' context "female" %}
{% translate 'Report ' context "male" %}
{% translate 'Report ' context "other" %}

{% translate 'Report this photo' context "female" %}
{% translate 'Report this photo' context "male" %}
{% translate 'Report this photo' context "other" %}

{% translate 'Remove Friend' context "female" %}
{% translate 'Remove Friend' context "male" %}
{% translate 'Remove Friend' context "other" %}

{% translate 'Cancel Friendship Request' context "female" %}
{% translate 'Cancel Friendship Request' context "male" %}
{% translate 'Cancel Friendship Request' context "other" %}

{% translate 'Accept' context "female" %}
{% translate 'Accept' context "male" %}
{% translate 'Accept' context "other" %}

{% translate 'Reject' context "female" %}
{% translate 'Reject' context "male" %}
{% translate 'Reject' context "other" %}

{% translate 'Accept Friendship Request' context "female" %}
{% translate 'Accept Friendship Request' context "male" %}
{% translate 'Accept Friendship Request' context "other" %}

{% translate 'Reject Friendship Request' context "female" %}
{% translate 'Reject Friendship Request' context "male" %}
{% translate 'Reject Friendship Request' context "other" %}

{% translate 'Send Message' context "female" %}
{% translate 'Send Message' context "male" %}
{% translate 'Send Message' context "other" %}

{% translate 'Welcome' context "female" %}
{% translate 'Welcome' context "male" %}
{% translate 'Welcome' context "other" %}

{% translate 'Your friend' context "female" %}
{% translate 'Your friend' context "male" %}
{% translate 'Your friend' context "other" %}

{% translate 'See All' context "female" %}
{% translate 'See All' context "male" %}
{% translate 'See All' context "other" %}

{% translate 'Your Speedy Net account is not active. Enter this page to activate it.' context "female" %}
{% translate 'Your Speedy Net account is not active. Enter this page to activate it.' context "male" %}
{% translate 'Your Speedy Net account is not active. Enter this page to activate it.' context "other" %}

{% blocktranslate with site_name=site_name context "female" %}Welcome to {{ site_name }}{% endblocktranslate %}
{% blocktranslate with site_name=site_name context "male" %}Welcome to {{ site_name }}{% endblocktranslate %}
{% blocktranslate with site_name=site_name context "other" %}Welcome to {{ site_name }}{% endblocktranslate %}

{% translate "has sent you a message." context "female" %}
{% translate "has sent you a message." context "male" %}
{% translate "has sent you a message." context "other" %}

{% translate "Read it:" context "female" %}
{% translate "Read it:" context "male" %}
{% translate "Read it:" context "other" %}

{% translate "Confirm your email address on " context "female" %}
{% translate "Confirm your email address on " context "male" %}
{% translate "Confirm your email address on " context "other" %}

{% translate "Use this link to activate your account:" context "female" %}
{% translate "Use this link to activate your account:" context "male" %}
{% translate "Use this link to activate your account:" context "other" %}

{% translate "Use this link to verify your email address:" context "female" %}
{% translate "Use this link to verify your email address:" context "male" %}
{% translate "Use this link to verify your email address:" context "other" %}

{% translate "Use this link to change your password:" context "female" %}
{% translate "Use this link to change your password:" context "male" %}
{% translate "Use this link to change your password:" context "other" %}

{% translate 'Username' context "female" %}
{% translate 'Username' context "male" %}
{% translate 'Username' context "other" %}

{% blocktranslate with site_name=site_name context "female" %}You are subscribed to receive this type of notifications from {{ site_name }}. Enter this page to change your notifications settings or opt out:{% endblocktranslate %}
{% blocktranslate with site_name=site_name context "male" %}You are subscribed to receive this type of notifications from {{ site_name }}. Enter this page to change your notifications settings or opt out:{% endblocktranslate %}
{% blocktranslate with site_name=site_name context "other" %}You are subscribed to receive this type of notifications from {{ site_name }}. Enter this page to change your notifications settings or opt out:{% endblocktranslate %}

