{% extends 'main/main_page_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block description %}
    <meta name="description" content="{% blocktrans with site_name=site_name %}Speedy Match is a new dating/matching app for singles who are members of Speedy Net. With Speedy Match you can find matching people for dating and communicate with them online.{% endblocktrans %}" />
{% endblock %}

{% block main_page_h5 %}
    {% blocktrans with site_name=site_name %}<a href="http://en.speedymatch.com/" title="Speedy Match">Speedy Match</a> is a new dating/matching app for singles who are members of <a href="http://en.speedy.net/" title="Speedy Net">Speedy Net</a>. With Speedy Match you can find matching people for dating and communicate with them online. You can add people as friends on Speedy Net, like people and send them messages. Speedy Match is open to free registration for people from all countries and ages (no age limit!). It is currently available in two languages - English and Hebrew.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site_name %}All the features on Speedy Net and Speedy Match are free of charge. Join Speedy Net today to find matching partners, it only takes a few minutes.{% endblocktrans %}<br />
    <br />
{% endblock %}

