{% extends 'main/main_page_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}{% block site_title %}{{ block.super }}{% endblock %} - {% translate 'Free online dating'|title %}{% endblock %}

{% block description %}
    <meta name="description" content="{% blocktranslate with site_name=site_name %}Speedy Match is a new dating/matching web app for romantic purposes for singles who are members of Speedy Net. With Speedy Match you can find matching people for dating and chat with them online. The site is vegan and vegetarian friendly.{% endblocktranslate %}" />
{% endblock %}

{% block main_page_h5 %}
    {% blocktranslate with site_name=site_name %}Looking for a boyfriend? Looking for a girlfriend? Come and meet Speedy! {% endblocktranslate %}{% blocktranslate with site_name=site_name %}<a href="https://en.speedymatch.com/" title="Speedy Match">Speedy Match</a> is a new dating/matching web app for romantic purposes for singles who are members of <a href="https://en.speedy.net/" title="Speedy Net">Speedy Net</a>. With Speedy Match you can find matching people for dating and chat with them online. You can add people as friends on Speedy Net, like people and send them messages. Speedy Match is open to free registration for people from all countries and ages (no age limit!). The site is vegan and vegetarian friendly. It is currently available in two languages - English and Hebrew.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}All the features on Speedy Net and Speedy Match are free of charge. Join Speedy Match today to find matching partners, it only takes a few minutes.{% endblocktranslate %}<br />
    <br />
{% endblock %}

{% block main_page_image %}
    <img class="main-couple-bg" src="{% static 'speedy-match/images/couple-bg.png' %}" alt="" />
{% endblock %}

{% block total_number_of_active_members_block %}
    {% if total_number_of_active_members_text %}
        <div class="row total-number-of-active-members">
            <h5>
                {{ total_number_of_active_members_text }}
            </h5>
        </div>
    {% endif %}
{% endblock %}

{% block footer_extra_links_5 %}
    {{ block.super }}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="https://www.vegan-friendly.co.il/" title="ויגן פרנדלי">ויגן פרנדלי</a>
            <a href="https://vegansontop.co.il/" title="טבעוניות נהנות יותר">טבעוניות נהנות יותר</a>
            <a href="https://teavon.co.il/" title="תיאבון בריא">תיאבון בריא</a>
        </p>
    {% endif %}
{% endblock %}

{% comment %}
    {% block extra_js %}
        {{ block.super }}
        {% if site.domain == 'speedymatch.com' %}
            {# <!-- Facebook Pixel Code --> #}
            <script>
                !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');
                fbq('init', '2785692821748963');
                fbq('track', 'PageView');
            </script>
            <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=2785692821748963&ev=PageView&noscript=1"
            /></noscript>
            {# <!-- End Facebook Pixel Code --> #}
        {% endif %}
    {% endblock %}
{% endcomment %}

