{% extends 'main/main_page_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% block site_title %}{{ block.super }}{% endblock %} - {% trans 'Free online dating'|title %}{% endblock %}

{% block description %}
    <meta name="description" content="{% blocktrans with site_name=site_name %}Speedy Match is a new dating/matching web app for romantic purposes for singles who are members of Speedy Net. With Speedy Match you can find matching people for dating and chat with them online. The site is vegan and vegetarian friendly.{% endblocktrans %}" />
{% endblock %}

{% block main_page_h5 %}
    {% if LANGUAGE_CODE == "he" %}מחפשת חבר? מחפש חברה? בואו להכיר בספידי! {% endif %}{% blocktrans with site_name=site_name %}<a href="https://en.speedymatch.com/" title="Speedy Match">Speedy Match</a> is a new dating/matching web app for romantic purposes for singles who are members of <a href="https://en.speedy.net/" title="Speedy Net">Speedy Net</a>. With Speedy Match you can find matching people for dating and chat with them online. You can add people as friends on Speedy Net, like people and send them messages. Speedy Match is open to free registration for people from all countries and ages (no age limit!). The site is vegan and vegetarian friendly. It is currently available in two languages - English and Hebrew.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site_name %}All the features on Speedy Net and Speedy Match are free of charge. Join Speedy Match today to find matching partners, it only takes a few minutes.{% endblocktrans %}<br />
    <br />
{% endblock %}

{% block total_number_of_active_members_block %}
    {% if total_number_of_active_members_text %}
        <div class="row total-number-of-active-members">
            <h5>
                {{ total_number_of_active_members_text }}
            </h5>
        </div>
    {% endif %}
{% endblock %}

