Django
django-crispy-forms
django-debug-toolbar
django-environ
django-friendship
django-modeltranslation
factory-boy
Faker
Pillow
psycopg2
python-dateutil
python-memcached
pytz
rules
six
sorl-thumbnail
sqlparse
text-unidecode
