Django>=3.2,<3.3
asgiref
boto3
botocore
django-crispy-forms
django-environ
django-friendship
django-translated-fields
factory-boy
Faker
haversine
jmespath
Pillow
psycopg2
python-dateutil
python-memcached
pytz
rules
s3transfer
six
sorl-thumbnail
sqlparse
text-unidecode
typing-extensions
urllib3
