# python==3.10
Django==4.1.10
asgiref==3.6.0
boto3==1.26.136
botocore==1.29.136
crispy-bootstrap4==2022.1
django-admin-inline-paginator==0.3.0
django-crispy-forms==2.0
django-environ==0.10.0
django-friendship==1.9.6
django-translated-fields==0.12.0
haversine==2.8.0
jmespath==1.0.1
Pillow==9.5.0
psycopg2==2.9.6
pymemcache==4.0.0
python-dateutil==2.8.2
pytz==2023.3
rules==3.3
s3transfer==0.6.1
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.4
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
