Django
asgiref
boto3
botocore
django-admin-inline-paginator
django-crispy-forms
django-environ
django-friendship
django-translated-fields
haversine
jmespath
Pillow
psycopg2
pymemcache
python-dateutil
python-memcached
pytz
rules
s3transfer
six
sorl-thumbnail
sqlparse
typing-extensions
tzdata
urllib3
