Django>=4.1,<4.2
asgiref
boto3
botocore
django-admin-inline-paginator
django-crispy-forms
django-environ
django-friendship
django-translated-fields
haversine
jmespath
Pillow
psycopg2
pymemcache
python-dateutil
pytz
rules
s3transfer
six
sorl-thumbnail
sqlparse
typing_extensions
tzdata
urllib3
