Django
asgiref
boto3
botocore
django-crispy-forms
django-environ
django-friendship
django-translated-fields
factory-boy
Faker
haversine
jmespath
Pillow
psycopg2
python-dateutil
python-memcached
pytz
rules
s3transfer
six
sorl-thumbnail
sqlparse
text-unidecode
typing-extensions
urllib3
contextvars  # Not needed in Python>=3.7
immutables  # Not needed in Python>=3.7
