Django>=2.2,<3.0
django-crispy-forms
django-environ
django-friendship
django-translated-fields
factory-boy
Faker
Pillow
psycopg2
python-dateutil
python-memcached
pytz
rules
six
sorl-thumbnail
sqlparse
text-unidecode
