# python==3.11
Django==5.0.10
asgiref==3.8.1
boto3==1.35.70
botocore==1.35.70
crispy-bootstrap4==2024.10
django-admin-inline-paginator-plus==0.1.1
django-crispy-forms==2.3
django-environ==0.11.2
django-friendship==1.9.6
django-translated-fields==0.13.0
haversine==2.9.0
jmespath==1.0.1
pillow==11.0.0
psycopg2==2.9.10
pymemcache==4.0.0
python-dateutil==2.9.0.post0
rules==3.5
s3transfer==0.10.4
six==1.16.0
sorl-thumbnail==12.11.0
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
