$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
    100: $gray-100,
    200: $gray-200,
    300: $gray-300,
    400: $gray-400,
    500: $gray-500,
    600: $gray-600,
    700: $gray-700,
    800: $gray-800,
    900: $gray-900
);

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #C93366;
$red: #ff1c32;
$orange: #ff5338;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$unread: #FAE6D8;
$light-orange: #fff1cf;

$colors: (
    blue: $blue,
    indigo: $indigo,
    purple: $purple,
    pink: $pink,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    teal: $teal,
    cyan: $cyan,
    white: $white,
    gray: $gray-600,
    gray-dark: $gray-800
);

$theme-colors: (
    primary: $red,
    secondary: lighten($orange, 20%),
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
);

$enable-gradients: false;
$enable-shadows: false;

//$border-radius: 0;
//$border-radius-sm: 0;
$border-radius-lg: 10px;

@media (min-width: 350px) {
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@import "./node_modules/bootstrap/scss/bootstrap";

html, body {
    direction: ltr;
    min-height: 100%;
}

html {
    font-size: 14px;
}

.bg-speedy-match {
    background: $orange;

    .nav-link {
        color: rgba(255, 255, 255, 0.6) !important;
    }

    form {
        color: black;

        a {
            color: black;
        }
    }

    a {
        color: #212529;
    }
}

.bg-unread {
    background: $unread;
}

.hidden {
    display: none;
}

@each $color, $value in $theme-colors {
    .btn-#{$color}.btn-arrow-right {
        background: $value;
        background: linear-gradient(-135deg, transparent 1em, $value 0) top right,
        linear-gradient(-45deg, transparent 1em, $value 0) bottom right;
        background-size: 100% 50%;
        background-repeat: no-repeat;
        border: transparent;
        padding-right: 3em;

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            background: inherit;
        }
    }

    .btn-#{$color}.btn-arrow-left {
        background: $value;
        background: linear-gradient(135deg, transparent 1em, $value 0) top right,
        linear-gradient(45deg, transparent 1em, $value 0) bottom right;
        background-size: 100% 50%;
        background-repeat: no-repeat;
        border: transparent;
        padding-left: 3em;

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active {
            background: inherit;
        }
    }

}

.rounded-lg {
    border-radius: $border-radius-lg !important;
}

.rounded-lg-top {
    border-top-left-radius: $border-radius-lg !important;
    border-top-right-radius: $border-radius-lg !important;
}

.rounded-lg-right {
    border-top-right-radius: $border-radius-lg !important;
    border-bottom-right-radius: $border-radius-lg !important;
}

.rounded-lg-bottom {
    border-bottom-right-radius: $border-radius-lg !important;
    border-bottom-left-radius: $border-radius-lg !important;
}

.rounded-lg-left {
    border-top-left-radius: $border-radius-lg !important;
    border-bottom-left-radius: $border-radius-lg !important;
}


// Remove borders from cards
.card {
    border: none;

    .card-header {
        background: none;
        padding: 0.75em;
        border-bottom: none;
    }

    .card-title {
        font-weight: bold;
    }

    .table th {
        font-weight: inherit;
    }

    .table th, .table td {
        border: none;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }
}

body.with-background {
    background-image: linear-gradient(#ff7200, #ff3a64);
    color: $light-orange;
    font-weight: bold;

    > .body-inner {
        background: url('/static/speedy-match/images/hearts-bg.png');
        //background-position-y: 64px;
        min-height: 100vh;

        a {
            color: #212529;
        }

    }

    .speedy-body-container .col-md-8 {
        background: url('/static/speedy-match/images/photo.png') no-repeat;
        background-position: bottom left;
        background-size: 630px;
    }

    .navbar.bg-speedy-match {
        /* background: linear-gradient(#ff3a64, rgba(255, 58, 100, 0)); */
        font-weight: normal;
    }
}

body.user-is-not-authenticated.with-background {
    > .body-inner {
        background-position-y: 105px;
    }
}

body.user-is-authenticated.with-background {
    > .body-inner {
        background-position-y: 64px;
    }
}

@media (max-width: 1020px) {
    body.with-background {
        .speedy-body-container .col-md-8 {
            background-size: contain;
            margin-bottom: 25px;
            min-height: 700px;
        }

        .speedy-body-container .col-md-8 h5 {
            padding-bottom: 75%;
        }
    }

    h5 {
        font-size: 22px;
    }
}

.navbar-nav .nav-link.active {
    color: $white !important;
}

.footer a,
.footer a:visited,
.footer a:link,
.footer a:active,
a.speedy-bottom-badge-link {
    color: #521b13 !important;
}

.pagination li {
    margin-left: 3px;
    margin-right: 3px;
}

.navbar-nav {
    max-width: 500px;
}

.invalid-feedback {
    display: block;
    color: #000000;
}

.row {
    flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
    .row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        flex-basis: 100%;
        order: -1;

        .logo-small {
            display: table;
            height: auto;
            width: 100%;
            max-width: 500px;
            margin: auto;
        }
    }
}

body.bidi-ltr .navbar-vegan-friendly-logo {
    flex-grow: 1;

    ~ .navbar-collapse {
        flex-grow: 0;
    }
}

body.bidi-rtl .navbar-vegan-friendly-logo {
    flex-grow: 1;

    ~ .navbar-collapse {
        flex-grow: 0;
    }
}

@media screen and (min-width: 768px) {
    body.with-background {
        .row.total-number-of-active-members,
        .row.total-number-of-members {
            padding: 0px 20px;
        }
    }
}

@media screen and (max-width: 767px) {
    .row.total-number-of-active-members,
    .row.total-number-of-members {
        max-width: 90%;
        margin: auto;
    }
}

.row.total-number-of-active-members h5,
.row.total-number-of-members h5 {
    margin-top: 20px;
    color: black;
}

body,
h6,
.h6,
.form-control,
.btn,
.dropdown-menu,
.input-group-text,
.popover-header {
    font-size: 1.0715rem;
}

