{% extends 'about/about_base.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load core_messages_tags_and_filters %}
{% load rules %}

{% block google_ads %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% blocktranslate with site_name=site_name %}About Speedy Net{% endblocktranslate %}
    </h1>
</div>
<div class="static-content">
    {% blocktranslate with site_name=site_name %}<a href="https://en.speedy.net/" title="Speedy Net">Speedy Net</a> is a new social network. With Speedy Net you can communicate with your friends. Speedy Net is open to free registration for people from all countries and ages (no age limit!). The site is vegan and vegetarian friendly. It is currently available in two languages - English and Hebrew.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}The founders of Speedy Net are vegan, support animal rights and object to experiments on animals. Speedy Net is a social network friendly for vegan and vegetarian people and animals.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}We decided to limit the number of friends on Speedy Net to 800. We encourage you to add as friends only people you know personally. You can select which details will appear on your profile as public, which details only to friends and which details will be private. Private details will appear only to you.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}You can use our new app, <a href="https://en.speedymatch.com/" title="Speedy Match">Speedy Match</a>, to find matching people for dating. Speedy Match is open to singles of all ages.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}All the features on Speedy Net and Speedy Match are free of charge. Join Speedy Net today to find friends, it only takes a few minutes. <a href="/" title="Join Speedy Net">Click here</a> to join.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}Speedy Net is a free software & open source project. If you want to help developing and improving Speedy Net, please contact me by email.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}Speedy Net is named after <a href="https://www.facebook.com/speedy.the.female.dog" title="Speedy">Speedy</a>, a female dog that was with us for many years and died in 2003. Speedy gave birth to 7 puppies in 1988.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}Speedy Net is currently in alpha. It was launched in June 2012.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}Thank you and good luck,{% endblocktranslate %}<br />
    <a href="https://www.speedysoft.com/uri/en/">{% blocktranslate with site_name=site_name %}Uri Rodberg{% endblocktranslate %}</a><br />
    {% blocktranslate with site_name=site_name %}Founder and director of Speedy Net and Speedy Match,{% endblocktranslate %}<br />
    {% blocktranslate with site_name=site_name %}Speedy Paz Technologies Ltd.{% endblocktranslate %}<br />
    <a href="mailto:uri@speedy.net">uri@speedy.net</a><br />
</div>
{% endblock %}
