{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load im_tags %}
{% load rules %}

{% block content %}
<div class="page-header">
    <h2>
        {% blocktrans with site_name=site.name %}Terms of Service{% endblocktrans %}
    </h2>
</div>
<div>
    {% blocktrans with site_name=site.name %}You can use Speedy Net for legal purposes only. You are not allowed to upload contents related to hate, violence, animal abuse, nudity or pornography. You are not allowed to use Speedy Net to send spam.{% endblocktrans %}<br />
</div>
{% endblock %}
