{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load core_messages_tags %}
{% load rules %}

{% block title %}{% trans 'Match Settings' context user.get_gender %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% if form %}
        <link rel="stylesheet" href="{% static 'speedy-match/css/activation-form.css' %}" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            <div class="pull-right">
                <a href="{% url 'matches:list' %}" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i>
                    {% trans 'Back to Matches' %}
                </a>
            </div>
            {% trans 'Match Settings' context user.get_gender %}
        </h1>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% active_class 'matches:edit_match_settings' %}" href="{% url 'matches:edit_match_settings' %}">
                {% trans 'About my match'|title context user.speedy_match_profile.get_match_gender %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% active_class 'matches:edit_about_me' %}" href="{% url 'matches:edit_about_me' %}">
                {% trans 'About me'|title context user.get_gender %}
            </a>
        </li>
    </ul>
    <br>
    {% block tab_content %}
        {% crispy form %}
    {% endblock %}
{% endblock %}
