{% extends "base.html" %}
{% load i18n %}

{% block title %} Speedynet registration {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h3 class="bg-info text-center">{% trans "Register for an account" %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="alert alert-danger alert-dismissible" role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               {% if form.non_field_errors.keys|length > 0 %}{{ form.non_field_errors }}{% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <form role="form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-5 col-lg-offset-1">
                <div class="form-group">
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">Username: </label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.email.errors }}
                    <label for="{{ form.email.id_for_label }}">Email: </label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.password1.errors }}
                    <label for="{{ form.password1.id_for_label }}">Password: </label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    {{ form.password2.errors }}
                    <label for="{{ form.password2.id_for_label }}">confirm: </label>
                    {{ form.password2 }}
                </div>
                <div class="form-group">
                    {{ form.profile_picture.errors }}
                    <label for="{{ form.profile_picture.id_for_label }}">Profile picture: </label>
                    {{ form.profile_picture }}
                    <p class="help-block" style="font-style: italic;">Upload a pic to your profile.</p>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="help-block" style="font-style: italic;">
                            Add a security question for password recovery.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.security_question.errors }}
                    <label for="{{ form.security_question.id_for_label }}">Security question: </label>
                    {{ form.security_question }}
                </div>
                <div class="form-group">
                    {{ form.security_answer.errors }}
                    <label for="{{ form.security_answer.id_for_label }}">Answer: </label>
                    {{ form.security_answer }}
                </div>
            </div>
            <div class="col-lg-5">
                <div class="form-group">
                    {{ form.first_name.errors }}
                    <label for="{{ form.first_name.id_for_label }}">First name: </label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.last_name.errors }}
                    <label for="{{ form.last_name.id_for_label }}">Last name: </label>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    {{ form.date_of_birth.errors }}
                    <label for="{{ form.date_of_birth.id_for_label }}">Date of birth: </label>
                    <div id="picker" class="input-group date">
                        {{ form.date_of_birth }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.gender.errors }}
                    <label for="{{ form.gender.id_for_label }}">Gender: </label>
                    {{ form.gender }}
                </div>
                <div class="form-group">
                    {{ form.diet.errors }}
                    <label for="{{ form.diet.id_for_label }}">Diet: </label>
                    {{ form.diet }}
                </div>
            </div>
            <div class="col-lg-12" style="text-align: center;">
                <input class="btn btn-success" type="submit" value="{% trans 'Submit' %}" />
            </div>
        </form>
    </div>
</div>

<script>
 // by default django renders date widgets as text input so datepicker lib is needed.
 $(function() {
   $( "#picker" ).datetimepicker({
       format: 'D-M-YYYY HH:mm'
   });
 });
</script>
{% endblock %}
