{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load core_tags %}
{% load i18n %}
{% load blocks_tags %}
{% load im_tags %}
{% load thumbnail %}
{% load user_tags %}
{% load rules %}


{% block title %}{% get_other_participant chat user as other %}{{ other.user }} / {% trans 'Messages' %} / {{ block.super }}{% endblock %}

{% block content %}
    {% get_other_participant chat user as other %}
    {% has_perm 'im.send_message' user other as can_send_message %}

    <div class="page-header">
        <h1>
            {% blocktrans with username=other.user link=other.user.get_absolute_url %}
                Chat with
                <a href="{{ link }}">{{ username }}</a>
            {% endblocktrans %}
        </h1>
    </div>

    {% if can_send_message %}
        <div class="well well-sm">
            <p>{% blocktrans with username=other.user %}Send a message to {{ username }}{% endblocktrans %}</p>
            {% crispy form %}
        </div>
    {% else %}
        {% has_blocked blocker=other.user blockee=user as other_user_blocked_you %}
        {% has_blocked blocker=user blockee=other.user as you_blocked_other_user %}
        <div class="alert alert-danger">
            {% if other_user_blocked_you %}
                {% trans 'This user blocked you.' %}
            {% elif you_blocked_other_user %}
                {% trans 'You blocked this user.' %}
            {% else %}
                {% trans 'You can’t send messages to this user.' %}
            {% endif %}
        </div>
    {% endif %}

    <form action="{% url 'im:mark_read' chat_slug=chat|get_chat_slug:user %}" method="post">
        {% csrf_token %}
        <button class="btn btn-default" type="submit">{% trans 'Mark All as Read' %}</button>
    </form>


    <div data-block="MessageList" data-poll-url="{% url 'im:chat_poll' chat_slug=chat|get_chat_slug:user %}">
        {% include 'im/message_list_poll.html' %}
    </div>

    {% pagination %}

{% endblock %}
