{% extends 'profiles/user_base.html' %}

{% load im_tags %}

{% block user_content %}
    {% if chat_list %}
        {% annotate_chats_with_read_marks chat_list user %}
        <div class="list-group">
            {% for chat in chat_list %}
                <a href="{% url 'im:chat' user.slug chat.id %}" class="list-group-item {% if chat.is_unread %}list-group-item-success{% endif %}">
                {% if chat.is_private %}
                    {% get_other_participant chat user as entity %}
                    <span>{{ entity.user }}</span>
                    {% if chat.last_message %}
{#                        {% include 'im/message_item.html' with message=chat.last_message link_to_chat=True %}#}
                    {% endif %}
                {% else %}
                    Group chats are not supported yet.
                {% endif %}
            {% endfor %}
            </a>
        </div>
    {% else %}
    {% endif %}
{% endblock %}
