{% extends 'profiles/user_base.html' %}

{% load crispy_forms_tags %}
{% load core_tags %}
{% load i18n %}
{% load im_tags %}
{% load thumbnail %}
{% load user_tags %}

{% block user_content %}
    {% get_other_participant chat user as other %}
    {% annotate_messages_with_read_marks message_list user %}
    <div class="well well-sm">
        <p>{% blocktrans with username=other.user %}Send a message to {{ username }}{% endblocktrans %}</p>
        {% crispy form %}
    </div>
    {% for message in message_list %}
        <div class="media well-sm {% if message.is_unread %}bg-success{% endif %}">
            <div class="media-left">
                {% profile_picture message.sender.user '42x42' %}
            </div>
            <div class="media-body">
                <div>
                    <a href="{{ message.sender.user.get_absolute_url }}">{{ message.sender.user }}</a>
                    <small class="text-muted">
                        {{ message.date_created }}
                    </small>
                    {% if message.is_unread %}
                        <span class="pull-right label label-success">{% trans 'New' %}</span>
                    {% endif %}
                </div>
                <div>
                    {{ message.text|linebreaksbr|urlizetrunc:50 }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% pagination %}

{% endblock %}
