{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load core_tags %}
{% load i18n %}
{% load im_tags %}
{% load thumbnail %}
{% load user_tags %}


{% block title %}{% get_other_participant chat user as other %}{{ other.user }} / {% trans 'Messages' %} / {{ block.super }}{% endblock %}

{% block content %}
    {% get_other_participant chat user as other %}

    <div class="page-header">
        <h1>
            {% blocktrans with username=other.user link=other.user.get_absolute_url %}
                Chat with
                <a href="{{ link }}">{{ username }}</a>
            {% endblocktrans %}
        </h1>
    </div>
    <div class="well well-sm">
        <p>{% blocktrans with username=other.user %}Send a message to {{ username }}{% endblocktrans %}</p>
        {% crispy form %}
    </div>
    <form action="{% url 'im:mark_read' user.slug chat.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-default" type="submit">{% trans 'Mark All as Read' %}</button>
    </form>


    <div data-block="MessageList" data-poll-url="{% url 'im:chat_poll' user.slug chat.id %}">
        {% include 'im/message_list_poll.html' %}
    </div>

    {% pagination %}

{% endblock %}
