{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load im_tags %}
{% load user_tags %}

{% block title %}{% trans 'Messages' %} / {{ block.super }}{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{% trans 'Messages' %}</h1>
    </div>

    {% if chat_list %}
        {% annotate_chats_with_read_marks chat_list user %}
        {% for chat in chat_list %}
            {% get_other_participant chat user as entity %}
            <a href="{% url 'im:chat' chat_slug=chat|get_chat_slug:user %}">
                <div class="media well well-sm {% if chat.is_unread %}bg-success{% endif %}">
                    <div class="media-left">
                        {% profile_picture entity '42x42' with_link=False %}
                    </div>
                    <div class="media-body">
                        <div>
                            {{ entity.user }}
                            <small class="text-muted">
                                {{ chat.last_message.date_created }}
                            </small>
                            {% if chat.is_unread %}
                                <span class="pull-right label label-success">{% trans 'Unread' %}</span>
                            {% endif %}
                        </div>
                        <div class="text-default">
                            {% if user.id == chat.last_message.sender_id %}
                                <span class="text-muted">{% trans 'You:' %}</span>
                            {% else %}
                                {# <i class="fa fa-angle-right text-muted"></i> #}
                            {% endif %}
                            {{ chat.last_message.text|truncatechars:35 }}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

        {% pagination %}

    {% else %}
        <div class="alert alert-warning">
            {% trans 'You have no messages yet.' %}
        </div>
    {% endif %}

{% endblock %}
