$blue: #3D70A3;

$white: #fff;
$gray-100: lighten($blue, 50%);
$gray-200: lighten($blue, 40%);
$gray-300: lighten($blue, 30%);
$gray-400: lighten($blue, 20%);
$gray-500: lighten($blue, 10%);
$gray-600: $blue;
$gray-700: darken($blue, 10%);
$gray-800: darken($blue, 20%);
$gray-900: darken($blue, 30%);
$black: #000;

$grays: (
    100: $gray-100,
    200: $gray-200,
    300: $gray-300,
    400: $gray-400,
    500: $gray-500,
    600: $gray-600,
    700: $gray-700,
    800: $gray-800,
    900: $gray-900
);

$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$unread: lighten($blue, 50%);


$colors: (
    blue: $blue,
    indigo: $indigo,
    purple: $purple,
    pink: $pink,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    teal: $teal,
    cyan: $cyan,
    white: $white,
    gray: $gray-600,
    gray-dark: $gray-800
);

$theme-colors: (
    primary: $blue,
    secondary: $gray-600,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
);

$input-color: $black;

$enable-gradients: false;
$enable-shadows: false;

//$border-radius: 0;
//$border-radius-sm: 0;
$border-radius-lg: 10px;

@media (min-width: 350px) {
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./themes/bootstrap/scss/utilities/_flex";

html, body {
    direction: ltr;
}

html {
    font-size: 14px;
}

.bg-light {
    background: theme-color('light');
}

.bg-unread {
    background: $unread;
}

.hidden {
    display: none;
}

.rounded-lg {
    border-radius: $border-radius-lg !important;
}

.rounded-lg-top {
    border-top-left-radius: $border-radius-lg !important;
    border-top-right-radius: $border-radius-lg !important;
}

.rounded-lg-right {
    border-top-right-radius: $border-radius-lg !important;
    border-bottom-right-radius: $border-radius-lg !important;
}

.rounded-lg-bottom {
    border-bottom-right-radius: $border-radius-lg !important;
    border-bottom-left-radius: $border-radius-lg !important;
}

.rounded-lg-left {
    border-top-left-radius: $border-radius-lg !important;
    border-bottom-left-radius: $border-radius-lg !important;
}


.footer a,
.footer a:visited,
.footer a:link,
.footer a:active {
    color: #3D70A3 !important;
}

.pagination li {
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bold;
}

.pagination {
    color: $blue;
}

.pagination li.active,
.pagination li.active a {
    color: $black;
}

.navbar-nav {
    max-width: 500px;
}

.invalid-feedback {
    display: block;
}

.row {
    flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
    .row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        flex-basis: 100%;
        order: -1;

        .logo-small {
            display: table;
            height: auto;
            width: 90%;
            max-width: 360px;
            margin: auto;
        }
    }
}

@media (max-width: 1020px) {
    h5 {
        font-size: 22px;
    }
}

body.bidi-ltr .dropdown-menu {
    left: auto;
}

.navbar-vegan-friendly-logo {
    margin-right: 1rem;
    flex-grow: 1;

    ~ .navbar-collapse {
        flex-grow: 0;
    }
}

@media screen and (min-width: 768px) {
    body.with-background {
        .row.total-number-of-active-members,
        .row.total-number-of-members {
            padding: 0px 20px;
        }
    }

    .col-10 {
        flex: unset;
        max-width: none;
    }
}

@media screen and (max-width: 767px) {
    .row.total-number-of-active-members,
    .row.total-number-of-members {
        max-width: 90%;
        margin: auto;
    }
}

.row.total-number-of-active-members h5,
.row.total-number-of-members h5 {
    margin-top: 20px;
    color: black;
}

body,
h6,
.h6,
.form-control,
.btn,
.dropdown-menu,
.input-group-text,
.popover-header {
    font-size: 1.0715rem;
}

.dropdown-menu {
    width: min-content;
}

