$blue: #3D70A3;

$white: #fff;
$gray-100: lighten($blue, 50%);
$gray-200: lighten($blue, 40%);
$gray-300: lighten($blue, 30%);
$gray-400: lighten($blue, 20%);
$gray-500: lighten($blue, 10%);
$gray-600: $blue;
$gray-700: darken($blue, 10%);
$gray-800: darken($blue, 20%);
$gray-900: darken($blue, 30%);
$black: #000;

$grays: (
    100: $gray-100,
    200: $gray-200,
    300: $gray-300,
    400: $gray-400,
    500: $gray-500,
    600: $gray-600,
    700: $gray-700,
    800: $gray-800,
    900: $gray-900
);

$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$unread: lighten($blue, 50%);


$colors: (
    blue: $blue,
    indigo: $indigo,
    purple: $purple,
    pink: $pink,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    teal: $teal,
    cyan: $cyan,
    white: $white,
    gray: $gray-600,
    gray-dark: $gray-800
);

$theme-colors: (
    primary: $blue,
    secondary: $gray-600,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800
);

$input-color: $black;

$enable-rounded: false;

@media (min-width: 350px) {
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@import "./node_modules/bootstrap/scss/bootstrap";

html, body {
    direction: ltr;
}

html {
    font-size: 14px;
}

.bg-light {
    background: theme-color('light');
}

.bg-unread {
    background: $unread;
}

.hidden {
    display: none;
}

.footer a,
.footer a:visited,
.footer a:link,
.footer a:active {
    color: #3D70A3 !important;
}

.pagination li {
    margin-left: 3px;
    margin-right: 3px;
}

.navbar-nav {
    max-width: 500px;
}

.invalid-feedback {
    display: block;
}

.row {
    flex-wrap: nowrap;
}

@media screen and (max-width: 767px) {
    .row {
        flex-wrap: wrap;
    }
}

@media (max-width: 1020px) {
    h5 {
        font-size: 22px;
    }
}

body.bidi-ltr .navbar-vegan-friendly-logo {
    flex-grow: 100;
}

body.bidi-rtl .navbar-vegan-friendly-logo {
    flex-grow: 100;
}

body,
h6,
.h6,
.form-control,
.btn,
.dropdown-menu,
.input-group-text,
.popover-header {
    font-size: 1.0715rem;
}

