.page-header {
    margin: 0 0 1rem 0;
}

.page-header h1 form {
    display: inline-block;
}

.well.bg-success {
    background-color: #dff0d8;
}

.text-default {
    color: #000000;
}

.nav-pills .btn {
    font-weight: 300;
}

body.bidi-ltr .pull-left {
    float: left !important;
}

body.bidi-ltr .pull-right,
body.bidi-ltr .navbar-right {
    float: right !important;
}

body.bidi-rtl .pull-left {
    float: right !important;
}

body.bidi-rtl .pull-right,
body.bidi-rtl .navbar-right {
    float: left !important;
}

.bg-speedy-net {
    background-color: #b2cafa;
}

.navbar-speedy-net a {
    color: #000000;
}

.navbar-speedy-net .userbarbox, .navbar-inverse .userbarbox {
    float: left;
}

.navbar-speedy-net .username-area, .navbar-inverse .username-area {
    float: left;
    margin-right: 20px;
}

.navbar-speedy-net .password-area, .navbar-inverse .password-area {
    float: left;
}

.navbar-speedy-net .password-area .text-input-div, .navbar-inverse .password-area .text-input-div {
    float: left;
}

.navbar-inverse .password-area .forgot-password-div a {
    color: black;
}

.navbar-speedy-net .submit-button-div, .navbar-inverse .submit-button-div {
    float: left;
    margin: 22px 0 0 20px;
}

.navbar .navbar-collapse .navbar-nav .menu-languages a {
    display: inline-block;
}

.speedy-mobile-menu-icons {
    font-size: 32px;
}

.speedy-mobile-menu-icons a {
    color: white;
}

.speedy-mobile-menu-icons i {
    padding: 0 5px;
}

.footer {
    text-align: center;
    /* border-top: 1px solid #B2CAFA; */
    clear: both;
    font-size: 15px;
    line-height: 1;
    position: relative;
}

.footer table {
    border-collapse: collapse;
    border-spacing: 0;
}

.footer a {
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    /*color: #3D70A3 !important;*/
}

.footer a::after {
    content: " ·";
    color: black;
    display: inline-block;
}

.footer a:last-child::after {
    display: none;
}

.footer a:visited {
    /*color: #3D70A3 !important;*/
}

.footer a:link {
    /*color: #3D70A3 !important;*/
}

.footer a:active {
    /*color: #3D70A3 !important;*/
}

.footer a:hover {
    text-decoration: underline;
}

.footer a.black,
.footer a.black:visited,
.footer a.black:link,
.footer a.black:active {
    color: #000000 !important;
    font-weight: bold;
}

.footer .links_table {
    padding-top: 10px;
}

.logo-small {
    height: 48px;
}

.navbar-vegan-friendly-logo,
.navbar .vegan-friendly-logo-small {
    display: none;
}

.footer .vegan-friendly-logo-small {
    height: 97px;
}

@media screen and (min-width: 1280px) {
    .navbar-vegan-friendly-logo {
        display: block;
    }

    .navbar .vegan-friendly-logo-small {
        height: 97px;
        display: table;
        margin: auto;
    }

    body.user-is-not-authenticated .logo-small {
        height: 72px;
        /*margin-top: 10px;*/
        /*margin-bottom: 10px;*/
    }
}

@media screen and (max-width: 767px) {
    .desktop-only {
        display: none;
    }

    .logo-small {
        height: 36px;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 19;
    }

    .navbar.navbar-inverse {
        margin-bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 20;
        top: 0;
    }

    .navbar-speedy-net #speedy-navbar-collapse {
        background-color: #b2cafa;
    }

    .navbar .navbar-toggle .icon-bar, .navbar .navbar-toggle:hover .icon-bar {
        background-color: black;
    }

    #speedy-navbar-collapse {
        position: fixed;
        left: 0;
        right: 0;
        background-color: rgb(0, 140, 186);
        bottom: 0;
        top: 45px;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 20;
    }

    #speedy-navbar-collapse .nav.navbar-nav {
        margin: 12px 0;
    }

    /*
    .speedy-body-container {
        margin-top: 65px;
    }
    */
    .page-header {
        margin: 0;
    }

    .page-header h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }
}

.direction-ltr {
    direction: ltr;
}

.direction-rtl {
    direction: rtl;
}

.friends-col {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .friends-col {
        padding-left: 6px !important;
        padding-right: 6px !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        flex: 0 0 33.33333% !important;
        max-width: 33.33333% !important;
    }

    .row {
        flex-wrap: wrap;
    }
}

.profile-picture .placeholder-wrapper {
    position: relative;
}

.profile-picture .placeholder-wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
}

.speedy-404-background {
    display: table;
    margin: auto;
    max-width: 100%;
}

.static-content {
    font-size: 1.25rem;
}

@media (max-width: 1020px) {
    h5 {
        font-size: 22px;
    }
}

.user-profile-th {
    width: 33.33%;
}

.user-profile-table th,
.user-profile-table td {
    padding-bottom: 6px !important;
}

