.page-header h1 form {
    display: inline-block;
}

.well.bg-success {
    background-color: #dff0d8;
}

.text-default {
    color: #000000;
}

.nav-pills .btn {
    font-weight: 300;
}

body.bidi-rtl .pull-left {
    float: right !important;
}

body.bidi-rtl .pull-right,
body.bidi-rtl .navbar-right {
    float: left !important;
}

.navbar-speedy-net {
    background-color: #b2cafa;
}

.navbar-speedy-net a {
    color: #000000;
}

.navbar-speedy-net .userbarbox, .navbar-inverse .userbarbox {
    float: left;
}

.navbar-speedy-net .username-area, .navbar-inverse .username-area{
    float: left;
    margin-right: 20px;
}

.navbar-speedy-net .password-area, .navbar-inverse .password-area{
    float: left;
}

.navbar-speedy-net .password-area .text-input-div, .navbar-inverse .password-area .text-input-div{
    float: left;
}
.navbar-inverse .password-area .forgot-password-div a {
    color: black;
}

.navbar-speedy-net .submit-button-div, .navbar-inverse .submit-button-div{
    float: left;
    margin: 22px 0 0 20px;
}

.navbar .navbar-collapse .navbar-nav .menu-languages a {
    display: inline-block;
}

.speedy-mobile-menu-icons {
    font-size: 32px;
}

.speedy-mobile-menu-icons a {
    color: white;
}

.speedy-mobile-menu-icons i {
    padding: 0 5px;
}

.footer {
    text-align: center;
    /* border-top: 1px solid #B2CAFA; */
    clear: both;
    font-size: 13px;
    line-height: 1;
    position: relative;
}

.footer table {
    border-collapse: collapse;
    border-spacing: 0;
}

.footer a {
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
    color: #3D70A3 !important;
}

.footer a::after {
    content: " ·";
    color: black;
    display: inline-block;
}

.footer a:last-child::after {
    display: none;
}

.footer a:visited {
    color: #3D70A3 !important;
}

.footer a:link {
    color: #3D70A3 !important;
}

.footer a:active {
    color: #3D70A3 !important;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a.black,
.footer a.black:visited,
.footer a.black:link,
.footer a.black:active {
    color: #000000 !important;
    font-weight: bold;
}

.footer .links_table {
    padding-top: 10px;
}

@media screen and (max-width: 767px) {
    .navbar.navbar-inverse {
        margin-bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 20;
        top: 0;
    }
    .navbar-speedy-net #speedy-navbar-collapse{
        background-color: #b2cafa;
    }
    .navbar .navbar-toggle .icon-bar, .navbar .navbar-toggle:hover .icon-bar {
        background-color: black;
    }

    #speedy-navbar-collapse {
        position: fixed;
        left: 0;
        right: 0;
        background-color: rgb(0, 140, 186);
        height: 100%;
        z-index: 20;
    }
    #speedy-navbar-collapse .nav.navbar-nav {
        margin: 12px 0;
    }
    .speedy-body-container {
        margin-top: 55px;
    }
    .page-header {
        margin: 0;
    }
    .page-header h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
}
