.image-click-zone {
    width: 325px;
    height: 215px;
    background-color: #CCCCCC;
    border-radius: 10px;
    position: relative;
    margin: auto;
    background-position: center 20%;
    background-size: cover;
}

.image-click-zone.uploaded .fa-camera {
    display: none;
}

.image-click-zone .fa-camera {
    font-size: 150px;
    top: 35px;
    left: 50%;
    margin-left: -80px;
    position: absolute;
}

.user-photo-input-wrapper #id_profile_picture {
    display: none;
}

@media screen and (max-width: 767px) {
    .image-click-zone {
        width: auto;
    }
}

