html, body {
    margin: 0;
    background: white;
    color: black;
}

#top-gradient.blue-gradient {
    height: 80px;
    background: url('/static/speedy-core/images/blue-gradient.png');
    margin-bottom: 15px;
    background-repeat: repeat-x;
    width: 100%;
}

#top-gradient.pink-gradient {
    height: 80px;
    background: url('/static/speedy-core/images/pink-gradient.png');
    margin-bottom: 15px;
    background-repeat: repeat-x;
    width: 100%;
}

a {
    text-decoration: none;
    color: #146cc0;
    background-color: transparent;
    font-family: 'Arial';
}

a > span {
    color: black;
}

a:hover > span {
    color: #FF0000;
}

a:hover {
    color: #FF0000;
    background-color: transparent;
}

a:active {
    color: #990099;
    background-color: transparent;
}

.language-link {
    font-size: 40px;
}

.language-link.table {
    display: table;
    margin: 0px auto;
}

img.main-image {
    max-width: 100%;
}

.speedy-bottom-badge-link {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
    color: #3B5998;
    text-decoration: none;
}

@media screen and (max-width: 1080px) {
    img.fb-badge {
        width: 12%;
        height: auto;
    }

    .language-link {
        font-size: 60px;
    }

    .speedy-bottom-badge-link {
        font-size: 28px;
    }

    a > span:before {
        content: '';
        display: block;
    }

    table {
        width: 100%;
    }

    tr {
        display: flex;
    }

    td {
        flex: 1;
        text-align: center;
    }
}

@media screen and (min-width: 1080px) {
    td {
        padding: 0px 40px;
    }
}
