{% extends 'matches/match_item.html' %}

{% load i18n %}
{% load user_tags %}
{% load match_tags_and_filters %}
{% load admin_tags_and_filters %}

{% block user_name_and_age %}
    {{ block.super }}
    <br />
    ({{ user.get_gender_display }})
    <br />
    {% if user.photo %}
        <span class="direction-ltr">&lrm;({{ user.show_profile_picture_on_website|yesno:'Photo is visible,Photo is not visible' }})&lrm;</span>
        <br />
        <span class="direction-ltr">&lrm;({{ user.photo.number_of_faces|default_if_none:"_unknown_" }} faces, offset={{ user.speedy_match_profile.profile_picture_months_offset }})&lrm;</span>
    {% else %}
        <span class="direction-ltr">&lrm;(No photo)&lrm;</span>
    {% endif %}
    <br />
    <span class="direction-ltr">&lrm;{{ user.speedy_match_profile|number_of_matches_html }}&lrm;</span>
{% endblock %}

