{% extends 'matches/match_list.html' %}

{% load i18n %}

{% block title %}{% trans 'Admin - All Matches' %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% block form %}{% endblock %}

{% block google_conversions %}{% endblock %}

{% block total_number_of_active_members_block %}
    {% if total_number_of_active_members_text %}
        <div class="row total-number-of-active-members">
            <h5>
                {{ total_number_of_active_members_text|linebreaksbr }}
            </h5>
        </div>
    {% endif %}
{% endblock %}

{% block include_match_item %}
    {% include 'admin/matches/match_item.html' with user=match %}
{% endblock %}

