{% extends "base.html" %}

{% block title %}Speedynet - Activate your account{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="row">
            {% if messages %}
            <div class="col s12 m12 l12 text-red">
                <ul>
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col s12 l12 m12">
            <h4>Please go to the email you subscribed with and activate your account.</h4>
        </div>
    </div>
</div>
{% endblock %}
