{% extends "base.html" %}

{% block title %}Speedy - Reset password{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if messages %}
        <div class="s12 m12 l12 text-red">
            <ul>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="s12 l12 m12">
            Password reset link: <a href="{{ url }}">GO!</a>
        </div>
    </div>
</div>
{% endblock %}
