{% extends 'base.html' %}
{% block title %} {{ profile.user.username }} profile {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- Header -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- Data -->
            <div class="col-lg-6">
                <!-- Read only -->
                <h4>Username: {{ profile.user.username }}</h4>
                <h4>Email: {{ profile.user.email }}</h4>
                <h4>Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</h4>
                <img src="{{ profile.profile_picture.url }}"/>
                <h4>Security question: {{ profile.get_security_question_display }}</h4>
                <h4>Security answer: {{ profile.security_answer }}</h4>
            </div>
            <div class="col-lg-6">
                <!-- Profile -->
                <h4>DOB: {{ profile.date_of_birth }}</h4>
                <h4>gender: {{ profile.get_gender_display }}</h4>
                <h4>diet: {{ profile.get_diet_display }}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- Profile Footer -->
        </div>
    </div>
</div>
{% endblock %}
