{% load i18n %}
{% load rules %}

{% has_perm 'accounts.view_profile' viewer user as can_view_profile %}


{% if can_view_profile %}
    <div class="col-sm-8 ml-auto mb-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    {% translate 'More Information' %}
                </h5>
            </div>
            <table class="user-profile-table table">
                <tbody>
                    <tr>
                        <th class="user-profile-th">{% translate 'About me' %}</th>
                        <td>{{ user.speedy_match_profile.profile_description|linebreaksbr }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">{% translate 'Where do I live?' context user.get_gender %}</th>
                        <td>{{ user.city|linebreaksbr }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">{% translate 'Height' %}</th>
                        <td>{{ user.speedy_match_profile.height }} {% translate 'cm' %}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">{% translate 'Do you have children? How many?' %}</th>
                        <td>{{ user.speedy_match_profile.children|linebreaksbr }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">{% translate 'Do you want (more) children?' context user.get_gender %}</th>
                        <td>{{ user.speedy_match_profile.more_children|linebreaksbr }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">{% translate 'Diet' %}</th>
                        <td>{{ diet }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">{% translate 'Smoking status' %}</th>
                        <td>{{ smoking_status }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">{% translate 'Relationship status' %}</th>
                        <td>{{ relationship_status }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">{% translate 'Gender to match' context user.speedy_match_profile.get_match_gender %}</th>
                        <td>{{ gender_to_match }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">{% translate 'My ideal match' context user.speedy_match_profile.get_match_gender %}</th>
                        <td>{{ user.speedy_match_profile.match_description|linebreaksbr }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
