{% extends 'profiles/user_base.html' %}

{% load i18n %}
{% load thumbnail %}
{% load rules %}

{% block title %}{{ user.profile.get_name }} / {{ block.super }}{% endblock %}

{% block user_content_info %}
    {% has_perm 'accounts_match.view_profile' request.user user as can_view_profile %}
    <div class="row">
        {% if can_view_profile %}
            {% for widget in widgets %}
                {{ widget.html }}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <a href="//{{ LANGUAGE_CODE }}.{{ speedy_net_url }}{% url 'profiles:user' slug=user.slug %}">
                    {% trans "This user doesn't match your profile but you can visit his Speedy Net profile" context user.get_gender %}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
