{% load i18n %}
{% load rules %}
{% load match_tags_and_filters %}

{% has_perm 'accounts.view_profile_rank' viewer user as can_view_profile_rank %}

{% if can_view_profile_rank %}
    <div class="col-sm-8 ml-auto mb-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    {% trans 'Match rank' %}
                </h5>
            </div>
            {% if user.speedy_match_profile.rank > 0 %}
                <div class="card-body text-center">
                    <div title="{{ user.speedy_match_profile.rank|rank_description }}">
                        <i class="fa fa-heart fa-2x{% if user.speedy_match_profile.rank >= 1 %} text-primary{% else %} text-dark{% endif %}"></i>
                        <i class="fa fa-heart fa-2x{% if user.speedy_match_profile.rank >= 2 %} text-primary{% else %} text-dark{% endif %}"></i>
                        <i class="fa fa-heart fa-2x{% if user.speedy_match_profile.rank >= 3 %} text-primary{% else %} text-dark{% endif %}"></i>
                        <i class="fa fa-heart fa-2x{% if user.speedy_match_profile.rank >= 4 %} text-primary{% else %} text-dark{% endif %}"></i>
                        <i class="fa fa-heart fa-2x{% if user.speedy_match_profile.rank >= 5 %} text-primary{% else %} text-dark{% endif %}"></i>
                    </div>
                </div>
            {% else %}
                <div class="card-body">
                    <div>
                        <span>{% trans 'There is no match.' %}</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
