@font-face {
    font-family: 'FbDriveIn';
    src: url('/static/speedy-match/fonts/FbDriveIn-Regular.otf')
}

body.bidi-rtl .user-profile {
    padding-right: 0;
}

.activation-step-wrapper {
    display: inline-block;
}

.activation-steps {
    text-align: center;
    font-family: 'FbDriveIn';
}

.activation-step {
    font-size: 30px;
    border-radius: 100%;
    border: 1px solid #FF7B01;
    width: 44px;
    color: #FF7B01;
    font-weight: bold;
    display: inline-block;
}

.activation-steps a:hover {
    text-decoration: none;
}

.activation-step.active {
    background-color: #FF7B01;
    color: white;
}

.activation-step.passed {
    background-color: #FFBF7F;
    color: white;
    border-color: #FFBF7F;
}

.activation-form-header {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
}

.user-profile {
    float: left;
    padding-right: 50px;
}

.user-profile-image {
    width: 130px;
    height: 130px;
    position: relative;
    background-color: #CCCCCC;
    border-radius: 6px;
}

.user-profile-image img {
    width: 100%;
    height: 100%;
}

.user-profile-image .fa-camera {
    font-size: 75px;
    top: 30px;
    position: absolute;
    right: 50%;
    margin-right: -40px;
}

.user-profile-general-info {
    font-weight: bold;
}

.activation-form {
    margin: 20px 0;
}

.activation-form-field {
    margin-bottom: 25px;
}

.activation-form-field textarea, .activation-form-field input {
    border-radius: 6px;
    border: 1px solid #bbbbbb;
    padding: 5px;
}

.activation-form-field input[type=radio], .activation-form-field input[type=checkbox] {
    width: auto;
}

.activation-form-field ul {
    list-style: none;
    padding: 0;
}

.activation-form-field div[id] label {
    font-weight: normal;
    font-size: 15px;
}

.activation-form-field input {
    width: 125px;
}

.activation-form label {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.activation-form label[for=id_profile_picture] {
    margin-bottom: 15px;
}

.widget-choice {
    color: #ACACAC;
    font-size: 24px;
}

.widget-choice.active {
    color: #FF1C32;
}

.widget-json-dropdown {
    min-width: 293px;
    padding: 20px;
}

body.bidi-ltr .widget-group span.choice-text {
    padding-right: 20px;
}

body.bidi-rtl .widget-group span.choice-text {
    padding-left: 20px;
}

form p strong,
form span strong,
ul.errorlist li {
    font-size: 22px;
}

form .form-row .col-md-6 .form-group {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 767px) {
    /*
    .page-header {
        display: none;
    }
    */
    .activation-step-wrapper {
        padding-top: 15px;
    }

    .activation-step {
        font-size: 19px;
        width: 28px;
    }

    .activation-form-header {
        margin-top: 20px;
    }

    .user-profile {
        display: none;
    }

    .activation-form-fields {
        width: auto;
    }

    .widget-group .choices {
        width: auto;
        text-align: left;
        /* float: none; */
        display: block;
        margin-bottom: 1em;
    }

    .activation-form-field textarea, .activation-form-field input {
        width: auto;
    }

    /*
    .diet-menu.show {
        width: 178px !important;
        right: 29px !important;
        min-width: 0 !important;
    }
    */
}

