.card.filters {
    border: none;
    font-size: 18px;
}

.diet-button {
    // background-color: transparent;
    // color: #212529;
    // font-size: 18px;
}

.diet-menu.show {
    width: 295px;
}

.form-control.numberinput {
    width: 60px;
}

@media screen and (max-width: 768px) {
    .diet-button {
        width: 80px;
    }

    .match-list-refresh-button {
        width: 100px !important;
    }
}
