.card.filters {
    border: none;
    font-size: 18px;
}

.diet-button {
    background-color: transparent;
    color: #212529;
    font-size: 18px;
}

.diet-menu.show {
    width: 295px;
}

.form-control.numberinput {
    width: 60px;
}

