{% load i18n %}
{% load user_tags %}
{% load match_tags_and_filters %}

<div class="col-sm-6 col-md-3 mb-0">
    <div class="text-center">
        {% profile_picture user '256x200' html_class="rounded-lg" %}
        <div class="card-body">
            <a href="{{ admin_user_prefix }}{{ user.get_absolute_url }}">
                <h5 class="card-title mb-0">
                    {{ user.name }}{{ LANGUAGE_BIDI|yesno:'&rlm;,&lrm;'|safe }}, {{ user.get_age }}{{ LANGUAGE_BIDI|yesno:'&rlm;,&lrm;'|safe }}, {{ user.get_diet }}
                </h5>
            </a>
            {% if show_details %}
                <br />
                <table>
                    <tr>
                        <th>ID</th>
                        <td>
                            <a href="{{ admin_user_prefix }}/{{ user.pk }}/">
                                {{ user.pk }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Registered on</th>
                        <td><span style="color: black; font-weight: bold;">{{ user.date_created|date }}</span></td>
                    </tr>
                    <tr>
                        <th>Has confirmed email address</th>
                        <td>{{ user.has_confirmed_email }}</td>
                    </tr>
                    <tr>
                        <th>Active on Speedy Net</th>
                        <td>{{ user.is_active }}&amp;{{ user.speedy_net_profile.is_active }}</td>
                    </tr>
                    <tr>
                        <th>Active languages on Speedy Match</th>
                        <td><span style="color: {% if user.speedy_match_profile.settings.MIN_HEIGHT_TO_MATCH <= user.speedy_match_profile.height and user.speedy_match_profile.height <= user.speedy_match_profile.settings.MAX_HEIGHT_TO_MATCH and 85 < user.speedy_match_profile.height %}blue{% else %}red{% endif %}; font-weight: bold;">{{ user.speedy_match_profile.active_languages }}</span></td>
                    </tr>
                    <tr>
                        <th>Speedy Match Activation step (en,he)</th>
                        <td>{{ user.speedy_match_profile.activation_step_en }},{{ user.speedy_match_profile.activation_step_he }}</td>
                    </tr>
                    <tr>
                        <th>Height</th>
                        <td><span style="color: {% if user.speedy_match_profile.settings.MIN_HEIGHT_TO_MATCH <= user.speedy_match_profile.height and user.speedy_match_profile.height <= user.speedy_match_profile.settings.MAX_HEIGHT_TO_MATCH and 85 < user.speedy_match_profile.height %}blue{% else %}red{% endif %}; font-weight: bold;">{{ user.speedy_match_profile.height }}</span></td>
                    </tr>
                    <tr>
                        <th>Speedy Net last visit</th>
                        <td>{{ user.speedy_net_profile.last_visit }}</td>
                    </tr>
                    <tr>
                        <th>Speedy Match last visit</th>
                        <td>{{ user.speedy_match_profile.last_visit }}</td>
                    </tr>
                    <tr>
                        <th>Date of birth</th>
                        <td><span style="color: blue; font-weight: bold;">{{ user.date_of_birth }}</span></td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{ user.gender }},{{ user.get_gender }}</td>
                    </tr>
                    <tr>
                        <th>Diet</th>
                        <td>{{ user.diet }},<span style="color: blue; font-weight: bold;">{{ user.get_diet|default:"Unknown" }}</span></td>
                    </tr>
                    <tr>
                        <th>Smoking status</th>
                        <td>{{ user.smoking_status }},<span style="color: blue; font-weight: bold;">{{ user.get_smoking_status|default:"Unknown" }}</span></td>
                    </tr>
                    <tr>
                        <th>Relationship status</th>
                        <td>{{ user.relationship_status }},<span style="color: blue; font-weight: bold;">{{ user.get_relationship_status|default:"Unknown" }}</span></td>
                    </tr>
                    <tr>
                        <th>Speedy Match - Gender to match</th>
                        <td>{{ user.speedy_match_profile.gender_to_match }},{{ user.speedy_match_profile.get_match_gender }}</td>
                    </tr>
                    <tr>
                        <th>Speedy Match - Minimal, Maximal age to match</th>
                        <td>{{ user.speedy_match_profile.min_age_to_match }},{{ user.speedy_match_profile.max_age_to_match }}</td>
                    </tr>
                    <tr>
                        <th>Speedy Match - Number of matches on last user's search (en,he)</th>
                        <td>{{ user.speedy_match_profile.number_of_matches_en }},{{ user.speedy_match_profile.number_of_matches_he }}</td>
                    </tr>
                    <tr>
                        <th>Email addresses</th>
                        <td>
                            {% for email in user.email_addresses.all %}
                                <a href="mailto:{{ email.email }}"><span style="color: blue; font-weight: bold;">{{ email.email }}</span></a>, primary={{ email.is_primary }}, confirmed={{ email.is_confirmed }}, added on {{ email.date_created|date }}
                                {% if not forloop.last %}<br />{% endif %}
                            {% empty %}
                                (none)
                            {% endfor %}
                        <td>
                    </tr>
                    <tr>
                        <th>Friends</th>
                        {% comment %}<td>{{ user.friends_count }} friends on {{ site_name }}{% if not site.pk == 1 %} / {{ user.speedy_net_friends_count }} friends on Speedy Net{% endif %} ({{ user.speedy_net_profile.number_of_friends_en }},{{ user.speedy_net_profile.number_of_friends_he }})</td>{% endcomment %}
                        <td>({{ user.speedy_net_profile.number_of_friends_en }},{{ user.speedy_net_profile.number_of_friends_he }})</td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
</div>
