{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Admin - All Users' %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% block content %}
    <div class="mb-4 filters">
    </div>
    <div class="bg-danger rounded-lg p-4">
        <div class="row">
            {% for user in users_list %}
                {% include 'admin/user_list_item.html' with user=user %}
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-warning">
                        {% trans "No users." %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% pagination %}
    </div>
{% endblock %}
