{% extends 'admin/admin_base.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load static %}

{% block title %}{% translate 'Admin - All Users' %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% block content %}
    <div class="mb-4 filters">
    </div>
    <div class="rounded-lg p-4">
        <div class="row flex-wrap">
            {% for user in users_list %}
                {% include 'admin/user_list_item.html' with user=user %}
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-warning">
                        {% translate "No users." %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% pagination %}
    </div>
    {% block total_number_of_members_block %}
        {% if total_number_of_members_text %}
            <div class="row total-number-of-members">
                <h5>
                    {{ total_number_of_members_text|linebreaksbr }}
                </h5>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
