{% load i18n %}
{% load thumbnail %}
{% load user_tags %}
{% load match_tags_and_filters %}

<div class="col-sm-6 col-md-3 mb-0">
    <div class="text-center">
        {% profile_picture user '256x200' html_class="rounded-lg" %}
        <div class="card-body">
            <a href="{{ user.get_absolute_url }}">
                <h5 class="card-title mb-0">
                    {{ user.name }}, {{ user.get_age }}, {{ user.get_diet }}
                </h5>
            </a>
            {% if show_details %}
                <br />
                <table>
                    <tr>
                        <td>Registered on</td>
                        <td><span style="color: black; font-weight: bold">{{ user.date_created|date }}</span></td>
                    </tr>
                    <tr>
                        <td>Has confirmed email address</td>
                        <td>{{ user.has_confirmed_email }}</td>
                    </tr>
                    <tr>
                        <td>Active on Speedy Net</td>
                        <td>{{ user.is_active }}&amp;{{ user.speedy_net_profile.is_active }}</td>
                    </tr>
                    <tr>
                        <td>Active languages on Speedy Match</td>
                        <td>{{ user.speedy_match_profile.active_languages }}</td>
                    </tr>
                    <tr>
                        <td>Speedy Match Activation step (en,he)</td>
                        <td>{{ user.speedy_match_profile.activation_step_en }},{{ user.speedy_match_profile.activation_step_he }}</td>
                    </tr>
                    <tr>
                        <td>Speedy Net last visit</td>
                        <td>{{ user.speedy_net_profile.last_visit }}</td>
                    </tr>
                    <tr>
                        <td>Speedy Match last visit</td>
                        <td>{{ user.speedy_match_profile.last_visit }}</td>
                    </tr>
                    <tr>
                        <td>Date of birth</td>
                        <td><span style="color: blue; font-weight: bold">{{ user.date_of_birth }}</span></td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{ user.gender }},{{ user.get_gender }}</td>
                    </tr>
                    <tr>
                        <td>Diet</td>
                        <td>{{ user.diet }},<span style="color: blue; font-weight: bold">{{ user.get_diet|default:"Unknown" }}</span></td>
                    </tr>
                    <tr>
                        <td>Smoking status</td>
                        <td>{{ user.smoking_status }},<span style="color: blue; font-weight: bold">{{ user.get_smoking_status|default:"Unknown" }}</span></td>
                    </tr>
                    <tr>
                        <td>Relationship status</td>
                        <td>{{ user.relationship_status }},<span style="color: blue; font-weight: bold">{{ user.get_relationship_status|default:"Unknown" }}</span></td>
                    </tr>
                    <tr>
                        <td>Speedy Match - Gender to match</td>
                        <td>{{ user.speedy_match_profile.gender_to_match }},{{ user.speedy_match_profile.get_match_gender }}</td>
                    </tr>
                    <tr>
                        <td>Speedy Match - Minimal, Maximal age to match</td>
                        <td>{{ user.speedy_match_profile.min_age_to_match }},{{ user.speedy_match_profile.max_age_to_match }}</td>
                    </tr>
                    <tr>
                        <td>Speedy Match - Number of matches on last user's search (en,he)</td>
                        <td>{{ user.speedy_match_profile.number_of_matches_en }},{{ user.speedy_match_profile.number_of_matches_he }}</td>
                    </tr>
                    <tr>
                        <td>Email addresses</td>
                        <td>
                            {% for email in user.email_addresses.all %}
                                <a href="mailto:{{ email.email }}"><span style="color: blue; font-weight: bold">{{ email.email }}</span></a>, primary={{ email.is_primary }}, confirmed={{ email.is_confirmed }}, added on {{ email.date_created|date }}
                                {% if not forloop.last %}<br />{% endif %}
                            {% empty %}
                                (none)
                            {% endfor %}
                        <td>
                    </tr>
                </table>
            {% endif %}
        </div>
    </div>
</div>
