{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load core_tags_and_filters %}
{% load i18n %}
{% load blocks_tags %}
{% load core_messages_tags_and_filters %}
{% load user_tags %}
{% load rules %}

{% block user_menu_messages_class %}active{% endblock %}

{% block body_class %}{{ block.super }} with-background{% endblock %}

{% block title %}{% get_other_participant chat user as other %}{{ other.user.name }} / {% trans 'Messages' %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% block content %}
    {% get_other_participant chat user as other %}
    {% has_perm 'messages.send_message' user other as can_send_message %}

    <div class="row justify-content-center">

        <div class="col-12">

            <div class="page-header">
                <h1>
                    {% blocktrans with user_name=other.user.name link=other.user.get_absolute_url %}Chat with <a href="{{ link }}">{{ user_name }}</a>{% endblocktrans %}
                </h1>
            </div>

            {% if can_send_message %}
                <div class="mb-4">
                    <p>{% blocktrans context request.user.get_gender with user_name=other.user.name %}Send a message to {{ user_name }}{% endblocktrans %}</p>
                    {% crispy form %}
                </div>
            {% else %}
                {% include 'profiles/block_warning.html' with user=user other=other %}
            {% endif %}

            <div class="bg-primary rounded-lg p-3" data-block="MessageList" data-poll-url="{% url 'messages:chat_poll' chat_slug=chat|get_chat_slug:user %}">
                {% include 'messages/message_list_poll.html' %}
            </div>

            <div style="margin-top: 20px;">{# ~~~~ TODO: define a class CSS #}
                <form action="{% url 'messages:mark_read' chat_slug=chat|get_chat_slug:user %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-default" type="submit">{% trans 'Mark All as Read' context request.user.get_gender %}</button>
                </form>
            </div>

            {% pagination %}

        </div>
    </div>

{% endblock %}
