{% load core_tags_and_filters %}
{% load i18n %}

{% if is_paginated %}
    <div class="text-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="{{ request.path }}{% set_request_params page=page_obj.previous_page_number %}">{{ LANGUAGE_BIDI|yesno:'&rarr;&nbsp;,&larr;&nbsp;'|safe }}{% trans "Previous" %}</a>
                </li>
            {% else %}
                {% comment %}
                <li class="disabled">
                    <span>&larr;&nbsp;{% trans "Previous" %}</span>
                </li>
                {% endcomment %}
            {% endif %}
            {% for page in sliced_page_range %}
                {% if not page %}
                    <li>
                        <span>…</span>
                    </li>
                {% else %}
                    <li {% if page == page_obj.number %}class="active"{% endif %}>
                        <a href="{{ request.path }}{% set_request_params page=page %}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li>
                    <a href="{{ request.path }}{% set_request_params page=page_obj.next_page_number %}">{% trans "Next" %}{{ LANGUAGE_BIDI|yesno:'&nbsp;&larr;,&nbsp;&rarr;'|safe }}</a>
                </li>
            {% else %}
                {% comment %}
                <li class="disabled">
                    <span>{% trans "Next" %}&nbsp;&rarr;</span>
                </li>
                {% endcomment %}
            {% endif %}
        </ul>
    </div>
{% endif %}
