{% load blocks_tags %}
{% load i18n %}

{% has_blocked blocker=user blocked=other.user as you_blocked_other_user %}
{% has_blocked blocker=other.user blocked=user as other_user_blocked_you %}

<div class="alert alert-danger">
    {% if you_blocked_other_user %}
        {% translate 'You blocked ' context user.get_gender %}{{ other.user.name }}{% translate '.' %}
    {% elif other_user_blocked_you %}
        {{ other.user.name }}{% translate ' blocked you.' context other.user.get_gender %}
    {% endif %}
</div>
