{% load i18n %}
{% load rules %}

{% has_perm 'accounts.view_profile' viewer entity as can_view_profile %}
{% has_perm 'accounts.view_profile_username' viewer entity as can_view_username %}


<div class="col-sm-8 ml-auto mb-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">
                {% trans 'Information' %}
            </h5>
        </div>
        <table class="table">
            <tbody>

            <tr>
                <th>{% trans 'Name' %}</th>
                <td>{{ entity }}</td>
            </tr>

            {% if can_view_username %}
            <tr>
                <th>{% trans 'Username' %}</th>
                <td>
                    <a href="{{ entity.get_absolute_url }}">
                        {{ entity.slug }}
                    </a>
                </td>
            </tr>
            {% endif %}

            <tr>
                <th>{% trans 'Gender' %}</th>
                <td>{{ entity.get_gender_display }}</td>
            </tr>

            {% has_perm 'accounts.view_profile_dob_day_month' viewer entity as can_view_dob_day_month %}
            {% has_perm 'accounts.view_profile_dob_year' viewer entity as can_view_dob_year %}
            {% if can_view_profile and entity.date_of_birth %}
                <tr>
                    <th>{% trans 'Birthday' %}</th>
                    <td>
                        {% if can_view_dob_day_month and can_view_dob_year %}
                            {{ entity.date_of_birth }}
                        {% elif can_view_dob_day_month %}
                            {{ entity.date_of_birth|date:'N j' }}
                        {% elif can_view_dob_year %}
                            {{ entity.date_of_birth|date:'Y' }}
                        {% else %}
                            <span class="text-muted">{% trans '(hidden)' %}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            {% has_perm 'accounts.view_profile_age' viewer entity as can_view_profile_age %}
            {% if can_view_profile and entity.date_of_birth and can_view_profile_age %}
                <tr>
                    <th>{% trans 'Age' %}</th>
                    <td>{{ entity.get_age }}</td>
                </tr>
            {% endif %}

            {% for address in entity.email_addresses.all %}
                {% has_perm 'accounts.view_useremailaddress' viewer address as can_view_address %}
                {% if can_view_profile and can_view_address %}
                <tr>
                    <th>{% trans 'Email' %}</th>
                    <td>
                        <a href="mailto:{{ address }}">
                            {{ address }}
                        </a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
