{% load i18n %}
{% load thumbnail %}
{% load user_tags %}

<div class="col-sm-6 col-md-4 mb-4">
    <div class="card text-center">
        {% profile_picture user '256x256' html_class="card-img-top" %}
        <div class="card-body">
            <a href="{{ user.get_absolute_url }}">
                <h5 class="card-title mb-0">
                    {{ user }}
                </h5>
            </a>
            {% if friend_request %}
                <form action="{% url 'friends:accept_request' request.user.slug friend_request.id %}" method="post"
                      class="pull-left">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-success">{% trans 'Accept' %}</button>
                </form>
                <form action="{% url 'friends:reject_request' request.user.slug friend_request.id %}" method="post"
                      class="pull-left">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">{% trans 'Reject' %}</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
