{% load i18n %}
{% load thumbnail %}
{% load user_tags %}
{% load match_tags_and_filters %}

<div class="col-sm-6 {% if settings.SITE_ID == settings.SPEEDY_MATCH_SITE_ID %}col-md-3{% else %}col-md-4{% endif %} mb-4">
    <div class="card text-center">
        {% profile_picture user '256x256' html_class="card-img-top" %}
        <div class="card-body">
            <a href="{{ user.get_absolute_url }}">
                <h5 class="card-title mb-0">
                    {{ user.name }}
                </h5>
            </a>
            {% if settings.SITE_ID == settings.SPEEDY_MATCH_SITE_ID and user.speedy_match_profile.rank > 0 %}
                <div title="{{ user.speedy_match_profile.rank|rank_description }}">
                    <i class="fa fa-heart {% if user.speedy_match_profile.rank >= 1 %}text-primary{% else %}text-secondary{% endif %}"></i>
                    <i class="fa fa-heart {% if user.speedy_match_profile.rank >= 2 %}text-primary{% else %}text-secondary{% endif %}"></i>
                    <i class="fa fa-heart {% if user.speedy_match_profile.rank >= 3 %}text-primary{% else %}text-secondary{% endif %}"></i>
                    <i class="fa fa-heart {% if user.speedy_match_profile.rank >= 4 %}text-primary{% else %}text-secondary{% endif %}"></i>
                    <i class="fa fa-heart {% if user.speedy_match_profile.rank >= 5 %}text-primary{% else %}text-secondary{% endif %}"></i>
                </div>
            {% endif %}
            {% if received_friendship_request %}
                <div style="margin-left:auto; margin-right:auto; display:table; margin-top:10px;">
                    <form action="{% url 'friends:accept_request' request.user.slug received_friendship_request.id %}" method="post" class="pull-left" style="margin: 0px 5px;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-success" title="{% trans 'Accept Friendship Request' context request.user.get_gender %}" style="font-size: 16px; min-width: 70px;">
                            <i class="fa fa-check"></i>
                            {% trans 'Accept' context request.user.get_gender %}
                        </button>
                    </form>
                    <form action="{% url 'friends:reject_request' request.user.slug received_friendship_request.id %}" method="post" class="pull-left" style="margin: 0px 5px;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger" title="{% trans 'Reject Friendship Request' context request.user.get_gender %}" style="font-size: 16px; min-width: 70px;">
                            <i class="fa fa-times"></i>
                            {% trans 'Reject' context request.user.get_gender %}
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
