{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load core_messages_tags_and_filters %}
{% load rules %}

{% block title %}{{ block.super }} - {% translate 'Contact Us' %}{% endblock %}

{% block google_ads %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% blocktranslate with site_name=site_name %}Contact Us{% endblocktranslate %}
    </h1>
</div>
<div class="static-content">
    {% blocktranslate with site_name=site_name %}If you have any questions, suggestions or are interested in joining the team - please contact us by email.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}Uri Rodberg, founder and webmaster:{% endblocktranslate %} <a href="mailto:uri@speedy.net">uri@speedy.net</a><br />
</div>
{% endblock %}
