{% load core_tags_and_filters %}
{% load match_tags_and_filters %}

<div class="widget-json">
    {% for choice in choices %}
        <div class="widget-group" data-value="{{ choice.0 }}">
            <input type="checkbox" class="widget-checkbox"{% if value %}{% if value|key_value:choice.0 %} checked="checked"{% endif %}{% endif %} />
            <span class="choice-text">{{ choice.1 }}</span>
            <span class="choices pull-right flip">
                <i class="fas fa-heart widget-choice" aria-hidden="true" data-value="1" title="{{ 1|rank_description }}"></i>
                <i class="fas fa-heart widget-choice" aria-hidden="true" data-value="2" title="{{ 2|rank_description }}"></i>
                <i class="fas fa-heart widget-choice" aria-hidden="true" data-value="3" title="{{ 3|rank_description }}"></i>
                <i class="fas fa-heart widget-choice" aria-hidden="true" data-value="4" title="{{ 4|rank_description }}"></i>
                <i class="fas fa-heart widget-choice" aria-hidden="true" data-value="5" title="{{ 5|rank_description }}"></i>
            </span>
            <div class="clearfix"></div>
        </div>
    {% endfor %}
    <input type="hidden" value="{% if value %}{{ value|jsonify }}{% else %}{}{% endif %}" name="{{ name }}" class="widget-input" />
</div>

