{% load i18n %}
{% load core_tags_and_filters %}

<li class="menu-languages">
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
        <a href="//{{ language.code }}.{{ site.domain }}{{ request.get_full_path }}" title="{{ language.name_local }}">{{ language.name_local }}</a>
    {% endfor %}
</li>
<li>
    <a href="{% url 'about:about' %}" title="{% trans "About" %}">{% trans "About" %}</a>
</li>
<li>
    <a href="{% url 'privacy:privacy_policy' %}" title="{% trans "Privacy Policy" %}">{% trans "Privacy" %}</a>
</li>
<li>
    <a href="{% url 'terms:terms_of_service' %}" title="{% trans "Terms of Service" %}">{% trans "Terms" %}</a>
</li>
<li>
    <a href="{% url 'feedback:feedback' %}" title="{% trans "Contact Us" %}">{% trans "Contact Us" %}</a>
</li>
<li role="separator" class="divider"></li>
{% block navigate_other_site %}
    {% for other_site in sites %}
        <li><a href="//{{ LANGUAGE_CODE }}.{{ other_site.domain|remove_1_prefix_from_domain }}{# ~~~~ TODO: This filter [remove_1_prefix_from_domain] is only because we use "1." domains in production. remove this filter! #}">{% trans other_site.name %}</a></li>
    {% endfor %}
{% endblock %}
