{% extends 'about/about_base.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load core_messages_tags_and_filters %}
{% load rules %}

{% block google_ads %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% blocktranslate with site_name=site_name %}About Speedy Match{% endblocktranslate %}
    </h1>
</div>
<div class="static-content">
    {% blocktranslate with site_name=site_name languages_num=11 language_code=LANGUAGE_CODE %}<a href="https://{{ language_code }}.speedymatch.com/" title="Speedy Match">Speedy Match</a> is a new dating/matching web app for romantic purposes for singles who are members of <a href="https://{{ language_code }}.speedy.net/" title="Speedy Net">Speedy Net</a>. With Speedy Match you can find matching people for dating and chat with them online. You can add people as friends on Speedy Net, like people and send them messages. Speedy Match is open to free registration for people from all countries and ages (no age limit!). The site is vegan and vegetarian friendly. It is currently available in {{ languages_num }} languages.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}The founders of Speedy Match are vegan, support animal rights and object to experiments on animals. Speedy Match is a dating app friendly for vegan and vegetarian people and animals.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}Only people who match your requirements will be able to see your profile and contact you. We don't allow anonymous searches and Speedy Match profiles are visible to matching partners only. You can select who will be able to see your profile and which details will appear on your profile as public, which details only to friends and which details will be private. Private details will appear only to you.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}All the features on Speedy Net and Speedy Match are free of charge. Join Speedy Match today to find matching partners, it only takes a few minutes. <a href="/" title="Join Speedy Match">Click here</a> to join.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}Speedy Match is a free software & open source project. If you want to help developing and improving Speedy Match, please contact me by email.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}Speedy Match is named after <a href="https://www.facebook.com/speedy.the.female.dog" title="Speedy">Speedy</a>, a female dog that was with us for many years and died in 2003. Speedy gave birth to 7 puppies in 1988.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}Speedy Match is currently in alpha. It was launched in August 2019.{% endblocktranslate %}<br />
    <br />
    {% blocktranslate with site_name=site_name %}Thank you and good luck,{% endblocktranslate %}<br />
    <a href="https://www.speedysoft.com/uri/en/">{% blocktranslate with site_name=site_name %}Uri Rodberg{% endblocktranslate %}</a><br />
    {% blocktranslate with site_name=site_name %}Founder and director of Speedy Net and Speedy Match,{% endblocktranslate %}<br />
    {% blocktranslate with site_name=site_name %}Speedy Paz Technologies Ltd.{% endblocktranslate %}<br />
    <a href="mailto:uri@speedy.net">uri@speedy.net</a><br />
</div>
{% endblock %}
