{% load i18n %}
{% load rules %}

{% has_perm 'friends.request' request.user user as can_friend_request %}

{% if can_friend_request %}
    {% if friend_request_received %}
        <form action="{% url 'friends:accept_request' request.user.slug friend_request_received.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i>
                {% trans 'Accept' %}
            </button>
        </form>
        <form action="{% url 'friends:reject_request' request.user.slug friend_request_received.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-times"></i>
                {% trans 'Reject' %}
            </button>
        </form>

    {% else %}
        <form action="{% url 'friends:request' user.slug %}" method="post">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">
                <i class="fa fa-user-plus"></i>
                {% trans 'Add to Friends' context user.get_gender %}
            </button>
        </form>
    {% endif %}
{% endif %}
