{% load i18n %}

<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
</button>
<div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'feedback:report_entity' user.slug %}">{% trans 'Report ' context request.user.get_gender %}{{ user }}</a>
    {% if user.photo %}
        <a class="dropdown-item" href="{% url 'feedback:report_file' user.photo.id %}">{% trans 'Report this photo' context request.user.get_gender %}</a>
    {% endif %}
</div>
