{% load i18n %}
{% load l10n %}
{% load rules %}
{% load admin_tags_and_filters %}

{% if request.user.is_superuser and request.user.is_staff %}
    <div class="col-sm-8 ml-auto mb-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    {% translate 'Admin Information' %}
                </h5>
            </div>
            <table class="user-profile-table table">
                <tbody>

                    <tr>
                        <th class="user-profile-th">ID</th>
                        <td>
                            <a href="{{ admin_user_prefix }}/{{ user.pk }}/">
                                {{ user.pk }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Registered on</th>
                        <td><span style="color: black; font-weight: bold;">{{ user.date_created|date }}</span></td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Has confirmed email address</th>
                        <td>{{ user.has_confirmed_email }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Active on Speedy Net</th>
                        <td>{{ user.is_active }}&amp;{{ user.speedy_net_profile.is_active }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Active languages on Speedy Match</th>
                        <td class="direction-ltr"><span style="color: {% if user.speedy_match_profile.settings.MIN_HEIGHT_TO_MATCH <= user.speedy_match_profile.height and user.speedy_match_profile.height <= user.speedy_match_profile.settings.MAX_HEIGHT_TO_MATCH and 85 < user.speedy_match_profile.height and not user.speedy_match_profile.not_allowed_to_use_speedy_match %}blue{% else %}red{% endif %}; font-weight: bold;">{{ user.speedy_match_profile.active_languages }}</span></td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Speedy Match Activation step</th>
                        <td class="direction-ltr">{{ user.speedy_match_profile|activation_step_html }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Height</th>
                        <td><span style="color: {% if user.speedy_match_profile.settings.MIN_HEIGHT_TO_MATCH <= user.speedy_match_profile.height and user.speedy_match_profile.height <= user.speedy_match_profile.settings.MAX_HEIGHT_TO_MATCH and 85 < user.speedy_match_profile.height and not user.speedy_match_profile.not_allowed_to_use_speedy_match %}blue{% else %}red{% endif %}; font-weight: bold;">{{ user.speedy_match_profile.height }}</span></td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Not allowed to use Speedy Match</th>
                        <td><span style="color: {% if user.speedy_match_profile.settings.MIN_HEIGHT_TO_MATCH <= user.speedy_match_profile.height and user.speedy_match_profile.height <= user.speedy_match_profile.settings.MAX_HEIGHT_TO_MATCH and 85 < user.speedy_match_profile.height and not user.speedy_match_profile.not_allowed_to_use_speedy_match %}blue{% else %}red{% endif %}; font-weight: bold;">{{ user.speedy_match_profile.not_allowed_to_use_speedy_match }}</span></td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Speedy Net last visit</th>
                        <td>{{ user.speedy_net_profile.last_visit }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Speedy Match last visit</th>
                        <td>{{ user.speedy_match_profile.last_visit }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Date of birth</th>
                        <td><span style="color: blue; font-weight: bold;">{{ user.date_of_birth }}</span></td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Gender</th>
                        <td>{{ user.gender }},{{ user.get_gender }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Diet</th>
                        <td>{{ user.diet }},<span style="color: blue; font-weight: bold;">{{ user.get_diet|default:"Unknown" }}</span></td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Smoking status</th>
                        <td>{{ user.smoking_status }},<span style="color: blue; font-weight: bold;">{{ user.get_smoking_status|default:"Unknown" }}</span></td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Relationship status</th>
                        <td>{{ user.relationship_status }},<span style="color: blue; font-weight: bold;">{{ user.get_relationship_status|default:"Unknown" }}</span></td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Speedy Match - Gender to match</th>
                        <td>{{ user.speedy_match_profile.gender_to_match }},{{ user.speedy_match_profile.get_match_gender }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Speedy Match - Minimal, Maximal age to match</th>
                        <td class="direction-ltr">{{ user.speedy_match_profile.min_age_to_match }},{{ user.speedy_match_profile.max_age_to_match }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Speedy Match - Number of matches on last user's search</th>
                        <td class="direction-ltr">{{ user.speedy_match_profile|number_of_matches_html }}</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Email addresses</th>
                        <td>
                            {% for email in user.email_addresses.all %}
                                <a href="mailto:{{ email.email }}"><span style="color: blue; font-weight: bold;">{{ email.email }}</span></a>, primary={{ email.is_primary }}, confirmed={{ email.is_confirmed }}, added on {{ email.date_created|date }}
                                {% if not forloop.last %}<br />{% endif %}
                            {% empty %}
                                (none)
                            {% endfor %}
                        <td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Friends</th>
                        <td class="direction-ltr">&lrm;{{ user.site_friends_count }} friends on {{ site_name }}&lrm;{% if not settings.SITE_ID == settings.SPEEDY_NET_SITE_ID %} / &lrm;{{ user.speedy_net_friends_count }} friends on Speedy Net{% endif %}&lrm; &lrm;({{ user.speedy_net_profile.all_friends_count }},{{ user.speedy_net_profile.speedy_net_friends_count }})&lrm;</td>
                    </tr>
                    <tr>
                        <th class="user-profile-th">Likes (Speedy Match)</th>
                        <td class="direction-ltr">&lrm;({{ user.likes_from_user.count }} likes from &lrm;{{ user.name|truncatechars:50 }}&lrm; / {{ user.likes_to_user.count }} likes to &lrm;{{ user.name|truncatechars:50 }}&lrm;)&lrm;</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endif %}
