{% extends 'base_site.html' %}

{% load core_tags %}
{% load i18n %}

{% block title %}{% trans 'Edit Profile' %} / {{ block.super }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Edit Profile' %}</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="{% active_class 'accounts:edit_profile' %}"><a
                        href="{% url 'accounts:edit_profile' %}">{% trans 'Profile Info' %}</a></li>
                <li class="{% active_class 'accounts:edit_profile_privacy' %}"><a
                        href="{% url 'accounts:edit_profile_privacy' %}">{% trans 'Privacy Settings' %}</a></li>
                <li class="{% active_class 'accounts:edit_profile_credentials' %}"><a
                        href="{% url 'accounts:edit_profile_credentials' %}">{% trans 'Emails & Password' %}</a></li>
                <li class="{% active_class 'accounts:deactivate' %}"><a
                        href="{% url 'accounts:deactivate' %}">{% trans 'Deactivate Account' %}</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            {% block tab_content %}{% endblock %}
        </div>
    </div>

{% endblock %}
