.page-header h1 form {
    display: inline-block;
}

.well.bg-success {
    background-color: #dff0d8;
}

.text-default {
    color: #000000;
}

.nav-pills .btn {
    font-weight: 300;
}

body.bidi-rtl .pull-left {
    float: right !important;
}

body.bidi-rtl .pull-right,
body.bidi-rtl .navbar-right {
    float: left !important;
}

.navbar-speedy-net {
    background-color: #b2cafa;
}

.navbar-speedy-net a {
    color: #000000;
}

