{% load i18n %}
{% load user_tags %}


<div class="card mb-4 bg-white {% if message.is_unread %}border-primary{% endif %}">
    <div class="card-body">
        <div class="row">
            <div class="col-1">
                {% profile_picture message.sender '64x64' html_class="img-fluid" %}
            </div>
            <div class="col-11">
                <div>
                    <strong>
                        <a href="{{ message.sender.user.get_absolute_url }}">{{ message.sender.user }}</a>
                    </strong>
                    <small>
                        {{ message.date_created }}
                    </small>
                    {% if message.is_unread %}
                        <span class="pull-right">
                            <i class="fa fa-circle text-primary" title="{% trans 'New' %}"></i>
                        </span>
                    {% endif %}
                </div>
                <div>
                    {{ message.text|linebreaksbr|urlizetrunc:50 }}
                </div>
            </div>
        </div>
    </div>
</div>
