{% extends 'base_with_login.html' %}

{% load i18n %}

{% block navbar_class %}navbar-light bg-speedy-net{% endblock %}

{% block navbar_mobile_header_icons %}
    {% if request.user.is_authenticated %}
        <div class="speedy-mobile-menu-icons pull-right flip">
            <a href="{% url 'im:list' %}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <a href="{% url friendship_requests_received_count|yesno:'friends:received_requests,friends:list' slug=request.user.slug %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
        </div>
    {% endif %}
{% endblock %}

