{% extends 'base_with_login.html' %}

{% load i18n %}
{% load core_tags_and_filters %}
{% load static %}

{% block navbar_class %}navbar-light bg-speedy-net{% endblock %}

{% block navbar_brand %}
    <a class="navbar-brand" href="/" title="{% translate site.name %}"><img class="logo-small" src="{% static 'speedy-net/images/' %}logo-small-alpha-{{ LANGUAGE_CODE }}.png" alt="{% translate site.name %}" /></a>
{% endblock %}

{% block facebook_link %}
    {% if LANGUAGE_CODE == "en" %}
        <a href="https://www.facebook.com/en.speedy.net/" title="Speedy Net on Facebook">Speedy Net on Facebook</a>
    {% endif %}
    {% if LANGUAGE_CODE == "he" %}
        <a href="https://www.facebook.com/he.speedy.net/" title="ספידי נט בפייסבוק">ספידי נט בפייסבוק</a>
    {% endif %}
{% endblock %}

{% block footer_extra_links_3 %}
    {{ block.super }}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="https://he.vegan-friendly.club/vegans-with-conscience/" title="טבעונים בעלי מצפון">טבעונים בעלי מצפון</a>
            <a href="https://www.etgar21.info/" title="אתגר הטבעונות">אתגר הטבעונות</a>
            <a href="http://www.vegan-guide.co.il/" title="פרויקט 365 – איך לעבור לטבעונות">פרויקט 365</a>
            <a href="https://adam-hofshi.blog/" title="בלוג אדם חופשי">בלוג אדם חופשי</a>
        </p>
    {% endif %}
{% endblock %}

{% block footer_extra_links_5 %}
    {{ block.super }}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="https://www.vegan-friendly.co.il/" title="ויגן פרנדלי">ויגן פרנדלי</a>
            <a href="https://vegansontop.co.il/" title="טבעוניות נהנות יותר">טבעוניות נהנות יותר</a>
            <a href="https://teavon.co.il/" title="תיאבון בריא">תיאבון בריא</a>
        </p>
    {% endif %}
{% endblock %}

