{% extends 'base_site.html' %}

{% load i18n %}

{% block title %}{% trans 'Choose your language' %} / {{ block.super }}{% endblock %}

{% block navbar %}
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ site.name }}</a>
    </div>
{% endblock %}

{% block full_content %}
    <div class="container">
        <div class="page-header">
            <h1>{% trans 'Choose your language' %}</h1>
        </div>
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <a class="btn btn-default" href="//{{ language.code }}.{{ site.domain }}{{ request.path }}">
                {{ language.name_local }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block footer_wrap %}

{% endblock %}
