{% extends 'base_site.html' %}

{% load i18n %}
{% load staticfiles %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'speedy-net/css/welcome.css' %}" />
{% endblock %}

{% block js %}

{% endblock %}

{% block body %}
<center>
    <div id="top-gradient"></div>
    <a href="//{{ site.domain }}" title="{{ site.name }}" target="_top"><img class="main-logo" src="{% block logo_src %}{% endblock %}" alt="{{ site.name }}" /></a><br />
    <br />
    <table border="0" cellspacing="20" cellpadding="0" dir="ltr">
        <tr>
            <td dir="ltr">
                <a class="wiki-link" href="//en.{{ site.domain }}/" title="English [alpha]" target="_top">English<span> [alpha]</span></a>
            </td>
            <td dir="rtl">
                <a class="wiki-link" href="//he.{{ site.domain }}/" title="עברית [אלפא]" target="_top">עברית <span> [אלפא]</span></a>
            </td>
        </tr>
    </table>
    <br />
    <img class="main-image" src="{% block splash_src %}{% endblock %}" alt="{{ site.name }}" />
    <br />
    <br />
    <br />
    <br />
    <!-- Facebook Badge START -->
    <a class="speedy-bottom-badge-link" href="http://www.facebook.com/speedyevenchen" target="_top" title="Speedy">Speedy</a>
    <br>
    <a href="http://www.facebook.com/speedyevenchen" target="_top" title="Speedy">
        <img class="fb-badge" src="http://badge.facebook.com/badge/110275029046282.1598.135831057.png" style="border: 0px;">
    </a>
    <br>
    <!-- Facebook Badge END -->
    <br />
</center>

{% endblock %}


{% comment %}




{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Choose your language' %} / {{ block.super }}{% endblock %}

{% block body %}
    <div class="welcome">
        <div class="container">
            <div class="welcome-logo">
                <a href="/">
                    <img src="{% block logo_src %}{% endblock %}" alt="{{ site.name }}" class="img-responsive center-block">
                </a>
            </div>
            <div class="row welcome-language">
                <div class="col-sm-6" style="direction: ltr">
                    <a href="//en.{{ site.domain }}{{ request.path }}" title="English [alpha]" target="_top">English<span class="text-muted"> [alpha]</span></a>
                </div>
                <div class="col-sm-6" style="direction: rtl">
                    <a href="//he.{{ site.domain }}{{ request.path }}" title="עברית [אלפא]" target="_top">עברית <span class="text-muted"> [אלפא]</span></a>
                </div>
            </div>
            <div class="welcome-splash">
                <img src="{% block splash_src %}{% endblock %}" alt="{{ site.name }}" class="img-responsive center-block">
            </div>
            <div class="welcome-footer">
                <!-- Facebook Badge START -->
                <a class="speedy-bottom-badge-link" href="http://www.facebook.com/speedyevenchen" target="_top" title="Speedy">Speedy</a>
                <br>
                <a href="http://www.facebook.com/speedyevenchen" target="_top" title="Speedy">
                    <img class="fb-badge" src="http://badge.facebook.com/badge/110275029046282.1598.135831057.png" style="border: 0px;">
                </a>
                <br>
                <!-- Facebook Badge END -->
            </div>
        </div>
    </div>
{% endblock %}



{% endcomment %}
