{% extends 'base_site.html' %}

{% load core_tags %}
{% load i18n %}
{% load im_tags %}
{% load rules %}

{% block content %}
    {% has_perm 'accounts.view_profile' request.user user as can_view_profile %}
    {% has_perm 'friends.request' request.user user as can_friend_request %}
    {% has_perm 'friends.view_requests' request.user user as can_view_requests %}
    {% has_perm 'im.send_message' request.user user as can_send_message %}
    {% has_perm 'blocks.block' request.user user as can_block %}
    {% has_perm 'blocks.unblock' request.user user as can_unblock %}

    <div class="page-header">
        <h1>
            <div class="pull-right">
                {% include 'profiles/tools/send_message.html' %}
                {% include 'profiles/tools/edit_profile.html' %}
                {% include 'profiles/tools/add_to_friends.html' %}
                {% include 'profiles/tools/friend_request_sent.html' %}
                {% include 'profiles/tools/your_friend.html' %}
                {% include 'profiles/tools/block_user.html' %}
            </div>
            {{ user }}
        </h1>
    </div>
    {% if can_view_profile %}
        {% block user_content %}
        {% endblock %}
    {% else %}
        <div class="alert alert-danger">
            {% trans 'This page is private.' %}
        </div>
    {% endif %}
{% endblock %}
