{% extends 'base_site.html' %}

{% load core_tags %}
{% load i18n %}
{% load rules %}

{% block content %}
    {% has_perm 'friends.request' request.user user as can_friend_request %}
    {% has_perm 'friends.view_requests' request.user user as can_view_requests %}

    <div class="page-header">
        <h1>
            <div class="pull-right">
                {% if request.user.is_authenticated %}
                    {% if request.user == user %}
                        <a href="{% url 'accounts:edit_profile' %}" class="btn btn-default" type="submit">
                            <i class="fa fa-pencil"></i>
                            {% trans 'Edit Profile' %}
                        </a>
                    {% elif can_friend_request %}
                        <form action="{% url 'friends:request' user.slug %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-user-plus"></i>
                                {% trans 'Add to Friends' %}
                            </button>
                        </form>
                    {% elif friend_request_sent %}
                        <button disabled class="btn btn-default">
                            <i class="fa fa-user-plus"></i>
                            {% trans 'Friend Request Sent' %}
                        </button>
                    {% elif user_is_friend %}
                        <form action="{% url 'friends:remove' user.slug %}" method="post" data-block="RemoveFromFriendsForm">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default" data-role="button" data-default-text="{% trans 'Your Friend' %}" data-hover-text="{% trans 'Remove' %}">{% trans 'Your Friend' %}</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            {{ user }}
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked">

                <li class="{% active_class 'profiles:user' %}">
                    <a href="{{ user.get_absolute_url }}">
                        {% trans 'Profile' %}
                    </a>
                </li>

                <li class="{% active_class 'friends:list' %}">
                    <a href="{% url 'friends:list' user.slug %}">
                        {% trans 'Friends' %}
                        {% with user.friendship_requests_received.count as frequests_count %}
                            {% if can_view_requests and frequests_count %}
{#                                <span class="badge">{% blocktrans %}{{ frequests_count }} new{% endblocktrans %}</span>#}
                                <span class="badge">+{{ frequests_count }}</span>
                            {% else %}
                                <span class="badge">{{ user.friends.count }}</span>
                            {% endif %}
                        {% endwith %}
                    </a>
                </li>

            </ul>
        </div>
        <div class="col-sm-9">
            {% block user_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
