{% extends 'base_site.html' %}

{% load core_tags %}
{% load i18n %}
{% load im_tags %}
{% load rules %}

{% block content %}
    {% has_perm 'friends.request' request.user user as can_friend_request %}
    {% has_perm 'friends.view_requests' request.user user as can_view_requests %}
    {% has_perm 'im.send_message' request.user user as can_send_message %}

    <div class="page-header">
        <h1>
            <div class="pull-right">
                {% if request.user.is_authenticated %}
                    {% if can_send_message %}
                        <a href="{% url 'im:user_send' user.slug %}" class="btn btn-primary">
                            <i class="fa fa-envelope"></i>
                            {% trans 'Send Message' %}
                        </a>
                    {% endif %}
                    {% if request.user == user %}
                        <a href="{% url 'accounts:edit_profile' %}" class="btn btn-default">
                            <i class="fa fa-pencil"></i>
                            {% trans 'Edit Profile' %}
                        </a>
                    {% elif can_friend_request %}
                        <form action="{% url 'friends:request' user.slug %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit">
                                <i class="fa fa-user-plus"></i>
                                {% trans 'Add to Friends' %}
                            </button>
                        </form>
                    {% elif friend_request_sent %}
                        <button disabled class="btn btn-default">
                            <i class="fa fa-user-plus"></i>
                            {% trans 'Friend Request Sent' %}
                        </button>
                    {% elif user_is_friend %}
                        <form action="{% url 'friends:remove' user.slug %}" method="post" data-block="RemoveFromFriendsForm">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default" data-role="button" data-default-text="{% trans 'Your Friend' %}" data-hover-text="{% trans 'Remove' %}">{% trans 'Your Friend' %}</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            {{ user }}
        </h1>
    </div>
    {% block user_content %}
    {% endblock %}
{% endblock %}
