{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}{% if form %}{% trans 'Registration Step' %} {{ current_step }}{% else %}{% trans 'Welcome' context user.get_gender %}{% endif %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% comment %}
    activation-form.css contains code which should not be displayed if there is no form. Such as hiding page-header.
{% endcomment %}

{% block extra_css %}
    {{ block.super }}
    {% if form %}
        <link rel="stylesheet" href="{% static 'speedy-core/css/upload-image.css' %}" />
        <link rel="stylesheet" href="{% static 'speedy-match/css/activation-form.css' %}" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10{% if form %} text-center{% endif %}">
            <div class="page-header">
                <h1{% if form %} style="visibility: hidden; display: none;"{% endif %}>{% blocktrans with site_name=site_name context user.get_gender %}Welcome to {{ site_name }}{% endblocktrans %}</h1>
            </div>
            {% if not request.user.has_confirmed_email_or_registered_now %}
                <div class="alert alert-danger">
                    {% trans 'Please confirm your email address.' context user.get_gender %}
                </div>
            {% elif form %}
                <div class="activation-step-wrapper">
                    <div class="activation-steps">
                        {% for step in steps_range %}
                            {% if step <= request.user.speedy_match_profile.activation_step %}
                                <a href="{% url 'accounts:activate' step=step %}">
                            {% endif %}
                                <span class="activation-step{% if step == current_step %} active{% endif %}{% if step < current_step %} passed{% endif %}">{{ step }}</span>
                            {% if step <= request.user.speedy_match_profile.activation_step %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="activation-form-header text-left flip">
                        {% if current_step < 7 %}
                            {% trans 'About me'|title context user.get_gender %}
                        {% else %}
                            {% trans 'About my match'|title context user.speedy_match_profile.get_match_gender %}
                        {% endif %}
                    </div>
                    <form action="{% url 'accounts:activate' step=current_step %}" method="post" class="activation-form"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                        {% if 3 <= current_step and current_step < 7 %}
                            {% include 'accounts/edit_profile/partials/user_profile.html' %}
                            <div class="activation-form-fields pull-right flip">
                        {% else %}
                            <div class="activation-form-fields">
                        {% endif %}
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                {{ form.non_field_errors }}
                            {% endif %}
                            {% for field in form %}
                                <div class="activation-form-field form-field text-left flip">
                                    <div>
                                        {{ field.label_tag }}
                                    </div>
                                    {{ field.errors }}
                                    {{ field }}
                                    {{ field.help_text }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                        <div class="activation-form-actions">
                            {% if current_step != 0 %}
                                <a class="btn btn-primary btn-lg btn-arrow-left" href="{% url 'accounts:activate' step=previous_step %}">{% trans 'Back' %}</a>
                            {% endif %}
                            <button class="btn btn-primary btn-lg btn-arrow-right" type="submit">
                                {% trans 'Next step' %}
                            </button>
                        </div>
                    </form>
                </div>
            {% else %}
                <a href="//{{ LANGUAGE_CODE }}.{{ SPEEDY_NET_DOMAIN }}{% url 'accounts:activate' %}">{% trans 'Your Speedy Net account is not active. Enter this page to activate it.' context request.user.get_gender %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        function update_gender_to_match() {
            if ($('input[type="checkbox"][name="gender_to_match"]').length === 3) {
                var genders = [];
                genders[1] = 'female';
                genders[2] = 'male';
                genders[3] = 'other';
                var genders_selected = [];
                var gender_selected;

                for (var gender = 1; gender <= 3; gender++) {
                    if ($('input[type="checkbox"][name="gender_to_match"][value="' + gender + '"]').is(":checked")) {
                        genders_selected.push(genders[gender]);
                    }
                }
                if (genders_selected.length === 1) {
                    gender_selected = genders_selected[0];
                } else {
                    gender_selected = 'other';
                }
                switch (gender_selected) {
                    case 'female':
                        $('label[for="id_match_description_{{ LANGUAGE_CODE }}"]').html('{% trans 'My ideal match' context "female" %}:');
                        $('label[for="id_min_age_to_match"]').html('{% trans 'Minimal age to match' context "female" %}:');
                        $('label[for="id_max_age_to_match"]').html('{% trans 'Maximal age to match' context "female" %}:');
                        break;

                    case 'male':
                        $('label[for="id_match_description_{{ LANGUAGE_CODE }}"]').html('{% trans 'My ideal match' context "male" %}:');
                        $('label[for="id_min_age_to_match"]').html('{% trans 'Minimal age to match' context "male" %}:');
                        $('label[for="id_max_age_to_match"]').html('{% trans 'Maximal age to match' context "male" %}:');
                        break;

                    case 'other':
                    default:
                        $('label[for="id_match_description_{{ LANGUAGE_CODE }}"]').html('{% trans 'My ideal match' context "other" %}:');
                        $('label[for="id_min_age_to_match"]').html('{% trans 'Minimal age to match' context "other" %}:');
                        $('label[for="id_max_age_to_match"]').html('{% trans 'Maximal age to match' context "other" %}:');
                        break;
                }
            }
        }

        $(document).ready(function () {
            if ($('input[type="checkbox"][name="gender_to_match"]').length === 3) {
                update_gender_to_match();

                $('input[type="checkbox"][name="gender_to_match"]').on("change", function () {
                    update_gender_to_match();
                });
            }
        });
    </script>
    {% block google_conversions %}
        {# Track Google conversions - only on speedymatch.com #}
        {% if site.domain == 'speedymatch.com' and include_in_conversions %}
            {% if current_step == 2 %}
                {# <!-- Event snippet for Speedy Match - registration step 2 - within 5 days conversion page --> #}
                <script>
                    gtag('event', 'conversion', {'send_to': 'AW-1011575750/ekRNCM_F9rYBEMbXreID'});
                </script>
                {# <!-- Event snippet for Speedy Match - registration step 2 - within 30 days conversion page --> #}
                <script>
                    gtag('event', 'conversion', {'send_to': 'AW-1011575750/PEt_CO7asbcBEMbXreID'});
                </script>
            {% endif %}
            {% if current_step == 5 %}
                {# <!-- Event snippet for Speedy Match - registration step 5 - within 5 days conversion page --> #}
                <script>
                    gtag('event', 'conversion', {'send_to': 'AW-1011575750/sz63CL7O1LgBEMbXreID'});
                </script>
                {# <!-- Event snippet for Speedy Match - registration step 5 - within 30 days conversion page --> #}
                <script>
                    gtag('event', 'conversion', {'send_to': 'AW-1011575750/oTVfCKyrxLgBEMbXreID'});
                </script>
            {% endif %}
            {% if current_step == 9 %}
                {# <!-- Event snippet for Speedy Match - registration step 9 - within 5 days conversion page --> #}
                <script>
                    gtag('event', 'conversion', {'send_to': 'AW-1011575750/GEBbCL_H9rYBEMbXreID'});
                </script>
                {# <!-- Event snippet for Speedy Match - registration step 9 - within 30 days conversion page --> #}
                <script>
                    gtag('event', 'conversion', {'send_to': 'AW-1011575750/LardCJfvsbcBEMbXreID'});
                </script>
                {% if user.speedy_match_profile.settings.MIN_HEIGHT_TO_MATCH <= user.speedy_match_profile.height and user.speedy_match_profile.height <= user.speedy_match_profile.settings.MAX_HEIGHT_TO_MATCH %}
                {% else %}
                    {# <!-- Event snippet for Speedy Match - matches list - invalid height conversion page --> #}
                    <script>
                        gtag('event', 'conversion', {'send_to': 'AW-1011575750/svRGCLiyw7sBEMbXreID'});
                    </script>
                {% endif %}
                {% if not user.speedy_match_profile.not_allowed_to_use_speedy_match %}
                {% else %}
                    {# <!-- Event snippet for Speedy Match - matches list - not allowed to use speedy match conversion page --> #}
                    <script>
                        gtag('event', 'conversion', {'send_to': 'AW-1011575750/om86CNjWzrsBEMbXreID'});
                    </script>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}

