{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static '/speedy-match/css/activation_form.css' %}">
{% endblock %}

{% block title %}{% trans 'Welcome' %} / {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 text-center">
            <div class="page-header">
                <h1 style="visibility: hidden">X</h1>
            </div>
            {% if not request.user.has_verified_email %}
                <div class="alert alert-danger">
                    {% trans 'Please confirm your email address.' context user.get_gender %}
                </div>
            {% elif form %}
                <div class="activation-step-wrapper">
                    <div class="activation-steps">
                        <span class="activation-step">1</span>
                        <span class="activation-step">2</span>
                        <span class="activation-step">3</span>
                        <span class="activation-step">4</span>
                        <span class="activation-step">5</span>
                        <span class="activation-step">6</span>
                        <span class="activation-step">7</span>
                        <span class="activation-step">8</span>
                        <span class="activation-step">9</span>
                    </div>
                    <div class="activation-form-header text-left flip">
                        {% trans 'About me' %}
                    </div>
                    <form action="{% url 'accounts:activate' %}" method="post" class="activation-form" enctype="multipart/form-data">
                        {% if 0 < request.user.profile.activation_step and request.user.profile.activation_step < 5 %}
                            {% include 'accounts/edit_profile/partials/user_profile.html' %}
                            <div class="pull-right flip">
                        {% else %}
                            <div>
                        {% endif %}
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="activation-form-field text-left flip">
                                    {{ field.errors }}
                                    <div>
                                        {{ field.label_tag }}
                                    </div>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                        <div class="activation-form-actions">
                            {% if request.user.profile.activation_step != 0 %}
                                <a class="btn btn-default activation-form-button" href="{% url 'accounts:activate' %}?back=true">{% trans 'Back' %}</a>
                            {% endif %}
                            <button class="btn btn-default activation-form-button" type="submit">
                                {% trans 'Next step' %}
                            </button>
                        </div>
                    </form>
                </div>
            {% else %}
                <a href="//{{ LANGUAGE_CODE }}.{{ speedy_net_url }}{% url 'accounts:activate' %}">{% trans 'Your Speedy Net account is not active. Enter this page to activate it.' %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        var profile_activation_step = {{ request.user.profile.activation_step }};
    </script>
    <script src="{% static 'speedy-match/js/activation_form.js' %}"></script>
{% endblock %}
