{% extends 'main/main_page_base.html' %}

{% load core_tags_and_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block description %}
    <meta name="description" content="{% blocktrans with site_name=site_name %}Speedy Net is a new social network. With Speedy Net you can communicate with your friends. Speedy Net is open to free registration for people from all countries and ages (no age limit!). The site is vegan and vegetarian friendly.{% endblocktrans %}" />
{% endblock %}

{% block main_page_h5 %}
    {% blocktrans with site_name=site_name %}<a href="https://en.speedy.net/" title="Speedy Net">Speedy Net</a> is a new social network. With Speedy Net you can communicate with your friends. Speedy Net is open to free registration for people from all countries and ages (no age limit!). The site is vegan and vegetarian friendly. It is currently available in two languages - English and Hebrew.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site_name %}You can use our new app, <a href="https://en.speedymatch.com/" title="Speedy Match">Speedy Match</a>, to find matching people for dating. Speedy Match is open to singles of all ages.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site_name %}All the features on Speedy Net and Speedy Match are free of charge. Join Speedy Net today to find friends, it only takes a few minutes.{% endblocktrans %}<br />
    <br />
{% endblock %}

{% block total_number_of_active_members_block %}
    {% if total_number_of_active_members_text %}
        <div class="row total-number-of-active-members">
            <h5>
                {{ total_number_of_active_members_text }}
            </h5>
        </div>
    {% endif %}
{% endblock %}

{% block footer_extra_links_3 %}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="https://he.vegan-friendly.club/vegans-with-conscience/" title="טבעונים בעלי מצפון">טבעונים בעלי מצפון</a>
            <a href="https://www.etgar21.info/" title="אתגר הטבעונות">אתגר הטבעונות</a>
            <a href="http://www.vegan-guide.co.il/" title="פרויקט 365 – איך לעבור לטבעונות">פרויקט 365</a>
        </p>
        <p>
            <a href="https://{{ LANGUAGE_CODE }}.speedymatch.com/" title="ספידי מץ&#39; – הכרויות בספידי">מחפשת חבר? מחפש חברה? בואו להכיר בספידי!</a>
        </p>
    {% endif %}
    {% if LANGUAGE_CODE == "en" %}
        <p>
            <a href="https://{{ LANGUAGE_CODE }}.speedymatch.com/" title="Speedy Match – dating Speedy">Looking for a boyfriend? Looking for a girlfriend? Come and meet Speedy!</a>
        </p>
    {% endif %}
{% endblock %}

{% block extra_python_django_links %}
    <a href="https://www.google.com/" title="Google">Google</a>
    <a href="https://www.google.com/gmail/" title="Gmail">Gmail</a>
{% endblock %}

{% block footer_extra_links_5 %}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="https://www.vegan-friendly.co.il/" title="ויגן פרנדלי">ויגן פרנדלי</a>
            <a href="https://vegansontop.co.il/" title="טבעוניות נהנות יותר">טבעוניות נהנות יותר</a>
            <a href="https://teavon.co.il/" title="תיאבון בריא">תיאבון בריא</a>
            <a href="https://www.facebook.com/groups/avocado.vegan.food/" title="אבוקדו">אבוקדו</a>
        </p>
    {% endif %}
{% endblock %}

{% block footer_extra_links_6 %}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="https://adam-hofshi.blog/" title="בלוג אדם חופשי">בלוג אדם חופשי</a>
            <a href="https://{{ LANGUAGE_CODE|convert_en_to_www }}.free-online-dating.info/" title="אתרי הכרויות">אתרי הכרויות</a>
        </p>
    {% endif %}
    {% if LANGUAGE_CODE == "en" %}
        <p>
            <a href="https://{{ LANGUAGE_CODE|convert_en_to_www }}.free-online-dating.info/" title="{% trans "Free Online Dating" %}">{% trans "Free Online Dating" %}</a>
        </p>
    {% endif %}
{% endblock %}

