{% extends 'main/main_page_base.html' %}

{% load core_tags_and_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block description %}
    <meta name="description" content="{% blocktrans with site_name=site_name %}Speedy Net is a new social network. With Speedy Net you can communicate with your friends. Speedy Net is open to free registration for people from all countries and ages (no age limit!). The site is vegan and vegetarian friendly.{% endblocktrans %}" />
{% endblock %}

{% block main_page_h5 %}
    {% blocktrans with site_name=site_name %}<a href="https://en.speedy.net/" title="Speedy Net">Speedy Net</a> is a new social network. With Speedy Net you can communicate with your friends. Speedy Net is open to free registration for people from all countries and ages (no age limit!). The site is vegan and vegetarian friendly. It is currently available in two languages - English and Hebrew.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site_name %}You can use our new app, <a href="https://en.speedymatch.com/" title="Speedy Match">Speedy Match</a>, to find matching people for dating. Speedy Match is open to singles of all ages.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site_name %}All the features on Speedy Net and Speedy Match are free of charge. Join Speedy Net today to find friends, it only takes a few minutes.{% endblocktrans %}<br />
    <br />
{% endblock %}

{% block footer_extra_links_2 %}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="https://{{ LANGUAGE_CODE }}.speedymatch.com/" title="ספידי מץ&#39; - הכרויות בספידי">מחפשת חבר? מחפש חברה? בואו להכיר בספידי!</a>
        </p>
    {% endif %}
    {% if LANGUAGE_CODE == "en" %}
        <p>
            <a href="https://{{ LANGUAGE_CODE }}.speedymatch.com/" title="Speedy Match - dating Speedy">Looking for a boyfriend? Looking for a girlfriend? Come and meet Speedy!</a>
        </p>
    {% endif %}
{% endblock %}

{% block footer_extra_links_5 %}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="https://{{ LANGUAGE_CODE|convert_en_to_www }}.free-online-dating.club/" title="אתרי הכרויות">אתרי הכרויות</a>
        </p>
    {% endif %}
    {% if LANGUAGE_CODE == "en" %}
        <p>
            <a href="https://{{ LANGUAGE_CODE|convert_en_to_www }}.free-online-dating.club/" title="{% trans "Free Online Dating" %}">{% trans "Free Online Dating" %}</a>
        </p>
    {% endif %}
{% endblock %}

