{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load crispy_forms_field %}
{% load i18n %}
{% load core_messages_tags %}
{% load rules %}
{% load static %}

{% block title %}{% trans 'Your Matches' context user.get_gender %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% if form %}
        <link rel="stylesheet" href="{% static 'speedy-match/css/activation-form.css' %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'speedy-match/css/match-list.css' %}" />
{% endblock %}

{% block user_menu_matches_class %}active{% endblock %}

{% block body_class %}{{ block.super }} with-background{% endblock %}

{% block content %}
    <div class="mb-4 filters">
        {% block form %}
            <form action="{% url 'matches:edit_match_settings' %}" method="post" class="">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-12 col-md-7">
                        <strong>{% trans 'Update matches' context user.get_gender %}</strong>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-7">
                        <div class="row">
                            <div class="col flex-grow-0 flex-md-grow-1 dropdown">
                                <button type="button" class="form-control dropdown-toggle diet-button" data-toggle="dropdown">
                                    {% trans 'Diet' %} <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu diet-menu">
                                    <div class="widget-json-dropdown">
                                        {% crispy_field form.diet_match %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-7 mt-1 mt-md-0">
                                <div class="row">
                                    <div class="col-3 text-right">
                                        <div class="form-control-static mt-1">{% trans 'Age:' %}</div>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center">
                                        {% crispy_field form.min_age_to_match %}
                                    </div>
                                    <div class="col-1 d-flex justify-content-center">
                                        <div class="form-control-static mt-1">&ndash;</div>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center">
                                        {% crispy_field form.max_age_to_match %}
                                    </div>
                                </div>
                            </div>
                            <div class="col mt-1 mt-md-0">
                                <input type="submit" class="btn btn-block btn-primary btn-arrow-right match-list-refresh-button" value="{% trans 'Refresh' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="{% url 'matches:settings' %}" class="btn btn-default">
                        {% trans 'Add more options' context user.get_gender %}
                    </a>
                </div>
                <div class="hidden">
                    {% for field in form %}
                        {% if field.name in form.get_hidden_fields %}
                            <div class="activation-form-field text-left flip">
                                <div>
                                    {{ field.label_tag }}
                                </div>
                                {{ field.errors }}
                                {{ field }}
                                {{ field.help_text }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        {% endblock %}
    </div>
    <div class="bg-danger rounded-lg p-4">
        <div class="row flex-wrap">
            {% for match in matches_list %}
                {% include 'matches/match_item.html' with user=match %}
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-warning">
                        {% trans "You don't have any matches yet. Try to broaden your search settings or check again later." context user.get_gender %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% pagination %}
    </div>
    {% block total_number_of_active_members_block %}
        {% if total_number_of_active_members_text %}
            <div class="row total-number-of-active-members">
                <h5>
                    {{ total_number_of_active_members_text }}
                </h5>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% block google_conversions %}
        {# Track Google conversions - only on speedymatch.com #}
        {% if site.domain == 'speedymatch.com' %}
            {# <!-- Event snippet for Speedy Match - active user conversion page --> #}
            <script>
              gtag('event', 'conversion', {'send_to': 'AW-1011575750/uUZcCIr637YBEMbXreID'});
            </script>
            {% if LANGUAGE_CODE == "he" %}
                {# <!-- Event snippet for Speedy Match - active user - in Hebrew conversion page --> #}
                <script>
                  gtag('event', 'conversion', {'send_to': 'AW-1011575750/qHeICMP8mrcBEMbXreID'});
                </script>
            {% endif %}
            {% if LANGUAGE_CODE == "en" %}
                {# <!-- Event snippet for Speedy Match - active user - in English conversion page --> #}
                <script>
                  gtag('event', 'conversion', {'send_to': 'AW-1011575750/SkZVCNL8mrcBEMbXreID'});
                </script>
            {% endif %}
            {% if paginator.count >= 1 %}
                {# <!-- Event snippet for Speedy Match - active user - at least one match conversion page --> #}
                <script>
                  gtag('event', 'conversion', {'send_to': 'AW-1011575750/2jfgCJ_197YBEMbXreID'});
                </script>
            {% endif %}
            {% if paginator.count >= 5 %}
                {# <!-- Event snippet for Speedy Match - active user - at least 5 matches conversion page --> #}
                <script>
                  gtag('event', 'conversion', {'send_to': 'AW-1011575750/BJP_CKDa67YBEMbXreID'});
                </script>
            {% endif %}
            {% if paginator.count >= 24 %}
                {# <!-- Event snippet for Speedy Match - active user - at least 24 matches conversion page --> #}
                <script>
                  gtag('event', 'conversion', {'send_to': 'AW-1011575750/Jva0CLeE-LYBEMbXreID'});
                </script>
            {% endif %}
            {% if paginator.count >= 60 %}
                {# <!-- Event snippet for Speedy Match - active user - at least 60 matches conversion page --> #}
                <script>
                  gtag('event', 'conversion', {'send_to': 'AW-1011575750/682gCJbrgbcBEMbXreID'});
                </script>
            {% endif %}
            {% if paginator.count >= 720 %}
                {# <!-- Event snippet for Speedy Match - active user - at least 720 matches conversion page --> #}
                <script>
                  gtag('event', 'conversion', {'send_to': 'AW-1011575750/_g4wCPTygbcBEMbXreID'});
                </script>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}

