{% load i18n %}
{% load user_tags %}
{% load match_tags_and_filters %}

<div class="col-sm-6 col-md-3 mb-0">
    <div class="text-center">
        {% profile_picture user '256x200' html_class="rounded-lg" %}
        <div class="card-body">
            <a href="/8888888{{ admin_user_prefix }}{{ user.get_absolute_url }}">
                <h5 class="card-title mb-0">
                    {{ user.name|truncatechars:18 }}{{ LANGUAGE_BIDI|yesno:'&rlm;,&lrm;'|safe }}, {{ user.get_age }}{{ LANGUAGE_BIDI|yesno:'&rlm;,&lrm;'|safe }}, {{ user.get_diet }}
                </h5>
            </a>
            {% if user.speedy_match_profile.rank > 0 %}
                <div title="{{ user.speedy_match_profile.rank|rank_description }}">
                    <i class="fa fa-heart {% if user.speedy_match_profile.rank >= 1 %}text-light{% else %}text-dark{% endif %}"></i>
                    <i class="fa fa-heart {% if user.speedy_match_profile.rank >= 2 %}text-light{% else %}text-dark{% endif %}"></i>
                    <i class="fa fa-heart {% if user.speedy_match_profile.rank >= 3 %}text-light{% else %}text-dark{% endif %}"></i>
                    <i class="fa fa-heart {% if user.speedy_match_profile.rank >= 4 %}text-light{% else %}text-dark{% endif %}"></i>
                    <i class="fa fa-heart {% if user.speedy_match_profile.rank >= 5 %}text-light{% else %}text-dark{% endif %}"></i>
                </div>
            {% endif %}
        </div>
    </div>
</div>
