{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load crispy_forms_field %}
{% load i18n %}
{% load core_messages_tags %}
{% load rules %}
{% load static %}

{% block title %}{% trans 'Your Matches' context user.get_gender %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% if form %}
        <link rel="stylesheet" href="{% static 'speedy-match/css/activation-form.css' %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'speedy-match/css/match-list.css' %}" />
{% endblock %}

{% block user_menu_matches_class %}active{% endblock %}

{% block body_class %}with-background{% endblock %}

{% block content %}
    <div class="mb-4 filters">
        {% block form %}
            <form action="{% url 'matches:edit_match_settings' %}" method="post" class="">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-12 col-md-7">
                        <strong>{% trans 'Update matches' context user.get_gender %}</strong>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-7">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="form-control dropdown-toggle" data-toggle="dropdown">
                                    {% trans 'Diet' %} <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu diet-menu">
                                    <div class="widget-json-dropdown">
                                        {% crispy_field form.diet_match %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="row">
                                    <div class="col-3 text-right">
                                        <div class="form-control-static mt-1">{% trans 'Age:' %}</div>
                                    </div>
                                    <div class="col-4">{% crispy_field form.min_age_to_match %}</div>
                                    <div class="col-1">
                                        <div class="form-control-static mt-1">&ndash;</div>
                                    </div>
                                    <div class="col-4">{% crispy_field form.max_age_to_match %}</div>
                                </div>
                            </div>
                            <div class="col">
                                <input type="submit" class="btn btn-block btn-primary btn-arrow-right" value="{% trans 'Refresh' %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="{% url 'matches:settings' %}" class="btn btn-default">
                        {% trans 'Add more options' context user.get_gender %}
                    </a>
                </div>
                <div class="hidden">
                    {% for field in form %}
                        {% if field.name in form_hidden_fields %}
                            <div class="activation-form-field text-left flip">
                                {{ field.errors }}
                                <div>
                                    {{ field.label_tag }}
                                </div>
                                {{ field }}
                                {{ field.help_text }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        {% endblock %}
    </div>
    <div class="bg-danger rounded-lg p-4">
        <div class="row">
            {% for match in matches_list %}
                {% include 'matches/match_item.html' with user=match %}
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-warning">
                        {% trans "You don't have any matches yet. Try to broaden your search settings or check again later." context user.get_gender %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% pagination %}
    </div>
{% endblock %}
