{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}

{% block title %}{{ block.super }} - {% translate 'About' %}{% endblock %}

{% block footer_language_links %}
    <div class="col-md-2 direction-ltr">
        <p>
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <a href="//{{ language.code }}.{{ site.domain }}{{ request.path }}{% set_request_params page=1 %}" title="{{ language.name_local|title }}">{{ language.name_local|title }}</a>
            {% endfor %}
        </p>
    </div>
{% endblock %}

