{% load thumbnail %}
{% load staticfiles %}

{% if with_link %}
    <a href="{{ user.get_absolute_url }}">
{% endif %}
{% thumbnail user.photo.file geometry crop='center' as im %}
    <img src="{{ im.url }}" alt="{{ user }}" width="{{ im.width }}" height="{{ im.height }}" class="{{ html_class }}">
{% empty %}
    <img src="{% static 'speedy-core/images/user.svg' %}" alt="" width="{{ width }}" height="{{ width }}" class="{{ html_class }}">
{% endthumbnail %}
{% if with_link %}
    </a>
{% endif %}
