{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% blocktrans with site_name=site.name %}
                <h2>Welcome to {{ site_name }}!</h2>
                We are working on the next version of Speedy Net, and a new app for Speedy Net users – Speedy Match – a new
                dating/matching app for singles. Speedy Net and Speedy Match will be free software & open source. You are
                invited to sign up now, and grab yourself a username at Speedy Net.
            {% endblocktrans %}
        </div>
        <div class="col-md-4" data-block="RegistrationForm">
            <h2>
                {% blocktrans with site_name=site.name %}
                    Join {{ site_name }}!
                {% endblocktrans %}
            </h2>
            {% crispy form %}
        </div>
    </div>
{% endblock %}
