{% extends 'base_with_login.html' %}

{% load i18n %}
{% load core_tags_and_filters %}
{% load staticfiles %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'speedy-match/css/activation-form.css' %}">
{% endblock %}

{% block site_theme %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" href="{% static 'themes/speedy-match.rtl.css' %}"/>
    {% else %}
        <link rel="stylesheet" href="{% static 'themes/speedy-match.css' %}"/>
    {% endif %}
{% endblock %}

{% block navbar_class %}navbar-light bg-speedy-match{% endblock %}

{% block navbar_mobile_menu_top_extra_1 %}
    <li>
        <a href="{% url 'matches:list' %}">{% trans 'Matches' %}</a>
    </li>
{% endblock %}

{% block navbar_mobile_menu_top_extra_2 %}
    <li>
        <a href="{% url 'likes:list' request.user.slug %}">{% trans 'Likes' %}</a>
    </li>
{% endblock %}

{% block navbar_mobile_header_icons %}
    {% if request.user.is_authenticated %}
        <div class="speedy-mobile-menu-icons pull-right flip">
            <a href="{% url 'likes:list' request.user.slug %}"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
            <a href="{% url 'im:list' %}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <a href="{% url frequests_count|yesno:'friends:received_requests,friends:list' slug=request.user.slug %}"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
        </div>
    {% endif %}
{% endblock %}

{% block navbar_brand %}
    <a class="navbar-brand" href="/"><img src="{% static 'speedy-match/images/logo-orange.png' %}" alt="{{ site.name }}"></a>
{% endblock %}

{% block navbar_left_menu %}
    {% block user_menu %}
        {% if request.user.speedy_match_profile.is_active %}
            {% block user_menu_profile_is_active %}
                {{ block.super }}
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block user_menu_extra_1 %}
            <li class="nav-item">
                <a class="nav-link {% block user_menu_matches_class %}{% endblock %}" href="{% url 'matches:list' %}">
                    <i class="fa fa-fw fa-star" aria-hidden="true"></i>
                    <span>{% trans 'Matches' %}</span>
                </a>
            </li>
{% endblock %}

{% block user_menu_extra_2 %}
            <li class="nav-item">
                <a class="nav-link {% block user_menu_likes_class %}{% endblock %}" href="{% url 'likes:list' request.user.slug %}">
                    <i class="fa fa-fw fa-heart"></i>
                    {% trans 'Likes' %}
                </a>
            </li>
            {% include 'friends/user_menu_friends.html' %}
{% endblock %}

{% block greeting %}
{% endblock %}

{% block full_content %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block extrajs %}
    <script src="{% static 'speedy-match/js/activation-form.js' %}"></script>
{% endblock %}

