{% extends 'base_site.html' %}

{% load core_tags %}
{% load i18n %}
{% load im_tags %}
{% load rules %}

{% block content %}
<div class="page-header">
    <h1>
        {% blocktrans with site_name=site.name %}Welcome to Speedy Composer!{% endblocktrans %}
    </h1>
</div>
<div>
    {% blocktrans with site_name=site.name %}Thank you for your interest in Speedy Composer. Speedy Composer is an automated application for composing melodies for Speedy Net members. We recently made changes to the source code of Speedy Net, and converted it into the Python language and Django framework. Since Speedy Composer was originally written in PHP, it is not adapted to work with Speedy Net in its current form. So unfortunately we were forced to temporarily close the app Speedy Composer. But don't worry, we kept backups of all the tunes composed by Speedy Composer, and when the website is reopened we will upload them to the new site.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site.name %}Speedy Composer and Speedy Net are open source applications, free software. We are currently looking for volunteers to help us convert Speedy Composer to Python. If you are interested in volunteering, please contact me by e-mail.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site.name %}Thank you and good luck,{% endblocktrans %}<br />
    {% blocktrans with site_name=site.name %}Uri Even-Chen{% endblocktrans %}<br />
    {% blocktrans with site_name=site.name %}Founder and Director of Speedy Net and Speedy Composer,{% endblocktrans %}<br />
    {% blocktrans with site_name=site.name %}Speedy Paz Technologies Ltd.{% endblocktrans %}<br />
</div>
{% endblock %}
