{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Edit Profile' %}</h1>

    <div class="row">
        <div class="col-md-8">
            {% include 'accounts/edit_profile_account.html' %}
            {% include 'accounts/edit_profile_emails.html' %}
        </div>
        <div class="col-md-4">
            {% include 'accounts/edit_profile_privacy.html' %}
            {% include 'accounts/edit_profile_password.html' %}
        </div>
    </div>


{% endblock %}
