{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>{% trans 'Reset Password' %}</h1>
            {% if validlink %}
                {% crispy form %}
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {% trans 'Password reset failed. Invalid link.' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
