{% extends 'www/welcome_base.html' %}

{% load static %}

{% block alpha_english_title %} [alpha]{% endblock %}
{% block alpha_english %}<span> [alpha]</span>{% endblock %}
{% block alpha_hebrew_title %} [אלפא]{% endblock %}
{% block alpha_hebrew %}<span> [אלפא]</span>{% endblock %}

{% block french_td %}
    <td dir="ltr">
        <a class="{% block french_a_classes %}language-link table{% endblock %}" href="//fr.{{ site.domain }}/" title="Français{% block alpha_french_title %} [alpha]{% endblock %}" target="_top">Français{% block alpha_french %}<span> [alpha]</span>{% endblock %}</a>
    </td>
{% endblock %}

{% block hebrew_tr %}</tr><tr>{% endblock %}
{% block hebrew_colspan %}colspan="2" {% endblock %}

{% block table_cellspacing %}cellspacing="8" {% endblock %}

{% block english_a_classes %}language-link table{% endblock %}
{% block hebrew_a_classes %}language-link table{% endblock %}

