{% extends 'base_site.html' %}

{% load i18n %}
{% load static %}

{% block google_ads %}{% endblock %}

{% block robots %}
    <meta name="googlebot" content="noindex, follow" />
{% endblock %}

{% block description %}
    <meta name="description" content="{{ site.name }} - Select your language." />
{% endblock %}

{% block viewport %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'speedy-core/css/welcome-base.css' %}?v={% now 'Y-m-d' %}" />
{% endblock %}

{% block js %}

{% endblock %}

{% block body %}
<center>
    <div id="top-gradient" class="{% if settings.SITE_ID == settings.SPEEDY_MATCH_SITE_ID %}pink-gradient{% else %}blue-gradient{% endif %}"></div>
    <a href="//www.{{ site.domain }}/" title="{{ site.name }}" target="_top"><img class="main-logo" src="{% block logo_src %}{% endblock %}" alt="{{ site.name }}" /></a><br />
    <br />
    <table border="0" {% block table_cellspacing %}{% endblock %}cellpadding="0" dir="ltr">
        <tr{% block english_and_french_tr_style %}{% endblock %}>
            {% block english_td %}
                <td dir="ltr">
                    <a class="{% block english_a_classes %}{% endblock %}" href="//en.{{ site.domain }}/" title="English{% block alpha_english_title %}{% endblock %}" target="_top">English{% block alpha_english %}{% endblock %}</a>
                </td>
            {% endblock %}
            {% block french_td %}{% endblock %}
        {% block hebrew_tr %}{% endblock %}
            {% block hebrew_td %}
                <td {% block hebrew_colspan %}{% endblock %}dir="rtl">
                    <a class="{% block hebrew_a_classes %}{% endblock %}" href="//he.{{ site.domain }}/" title="עברית{% block alpha_hebrew_title %}{% endblock %}" target="_top">עברית{% block alpha_hebrew %}{% endblock %}</a>
                </td>
            {% endblock %}
        </tr>
    </table>
    <br />
    <img class="main-image" src="{% block splash_src %}{% endblock %}" alt="{{ site.name }}" />
    <br />
    <br />
    <br />
</center>

{% endblock %}
