{% extends "base.html" %}
{% load i18n %}

{% block title %} Speedynet registration {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m12 l12 center">
            <h3>{% trans "Register for an account" %}</h3>
        </div>
    </div>
    <div class="row">
        {% if messages %}
        <div class="s12 m12 l12 text-red">
            <ul>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <form role="form" method="post" action="/account/register/" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
            <div class="col input-field s12 m12 l6">
                <input type="text" name="first_name" placeholder="John">
                <label for="first_name">First name: </label>
            </div>
            <div class="col input-field s12 m12 l6">
                <input type="text" name="last_name" placeholder="Doe">
                <label for="last_name">Last name: </label>
            </div>
            <div class="col input-field s12 m12 l6">
                <input type="text" name="username" placeholder="johndoe">
                <label for="username">Username: </label>
            </div>
            <div class="col input-field s12 m12 l6">
                <input type="text" name="slug" placeholder="john-doe">
                <label for="slug">Slug: </label>
            </div>
            <div class="col input-field s12 m12 l6">
                <input type="email" name="email1" placeholder="john@doe.com">
                <label for="email1">Email: </label>
            </div>
            <div class="col input-field s12 m12 l6">
                <input type="email" name="email2" placeholder="john@doe.com">
                <label for="email2">Confirm email: </label>
            </div>
            <div class="col input-field s12 m12 l6">
                <label for="password">Password: </label>
                <input type="password" name="password" placeholder="***">
            </div>
            <div class="col input-field s12 m12 l6">
                <input type="date" class="datepicker" name="date_of_birth">
                <label for="date_of_birth">Date of birth: </label>
            </div>
            <div class="col input-field s12 m12 l6">
                <!-- TODO: change to radio/select -->
                <select name="gender">
                    <option value="" disabled selected>Choose gender</option>
                    {% for gender in genders %}
                        <option value="{{ gender.0 }}">{{ gender.1 }}</option>
                    {% endfor %}
                </select>
                <label for="gender">Gender: </label>
            </div>
            <div class="col s12 m12 l12" style="text-align: center;">
                <button class="waves-effect waves-light btn" type="submit">{% trans 'Register' %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
