{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load core_messages_tags %}
{% load rules %}

{% block title %}{{ block.super }} - {% trans 'Terms of Service' %}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        {% blocktrans with site_name=site_name %}Terms of Service{% endblocktrans %}
    </h1>
</div>
<div class="static-content">
    {% blocktrans with site_name=site_name %}You can use Speedy Net for legal purposes only. You are not allowed to upload contents related to hate, violence, animal abuse, nudity or pornography. You are not allowed to use Speedy Net to send spam.{% endblocktrans %}<br />
    <br />
    {% blocktrans with site_name=site_name %}Site management cannot verify personal information provided by users of the site. Some users' personal information may not be correct. Site management is not responsible for user activity outside the site. If you choose to meet or talk on the phone with people you met on the site, the responsibility for the results of the meeting or phone call is yours.{% endblocktrans %}<br />
</div>
{% endblock %}
