{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}
{% load im_tags %}
{% load user_tags %}

{% block title %}{% trans 'Messages' %} / {{ block.super }}{% endblock %}

{% block user_menu_messages_class %}active{% endblock %}

{% block body_class %}with-background{% endblock %}

{% block content %}

    <div class="row justify-content-center">

        <div class="{% if site == speedy_match %}col-md-7{% else %}col-12{% endif %}">

            <div class="page-header">
                <h1>{% trans 'Messages' %}</h1>
            </div>

            {% if chat_list %}
                {% annotate_chats_with_read_marks chat_list user %}

                <div class="bg-primary rounded-lg p-3">
                    {% for chat in chat_list %}
                        {% get_other_participant chat user as other_participant %}

                        <a href="{% url 'messages:chat' chat_slug=chat|get_chat_slug:user %}">
                            <div class="row no-gutters">
                                <div class="col-2">
                                    {% profile_picture other_participant '128x128' with_link=False html_class="img-fluid rounded-lg" %}
                                </div>
                                <div class="col-10">
                                    <div class="{{ chat.is_unread|yesno:'bg-unread,bg-white' }} text-default rounded-lg p-3 ml-3 {% if not forloop.last %}mb-3{% endif %}">
                                        <p>
                                            <strong>
                                                {{ other_participant.user.name }}
                                            </strong>
                                            <small>
                                                {{ chat.last_message.date_created }}
                                            </small>
                                            {% if chat.is_unread %}
                                                <span class="pull-right">
                                                    <i class="fa fa-circle text-primary" title="{% trans 'Unread' %}"></i>
                                                </span>
                                            {% endif %}
                                        </p>
                                        <p>
                                            {% if user.id == chat.last_message.sender_id %}
                                                <strong>
                                                    <small>{% trans 'You:' context request.user.get_gender %}</small>
                                                </strong>
                                            {% else %}
                                                <strong>
                                                    <small>{{ other_participant.user.name }}:</small>
                                                </strong>
                                            {% endif %}
                                            {{ chat.last_message.text|truncatechars:80 }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                {% pagination %}

            {% else %}
                <div class="alert alert-warning">
                    {% trans 'You have no messages yet.' context user.get_gender %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
