{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}

{% block title %}{% trans 'Likes' %} / {{ block.super }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Likes' %}</h1>
    </div>
    <ul class="nav nav-tabs nav-justified">
        <li class="{% active_class 'likes:list_to' %}"><a
                href="{% url 'likes:list_to' user.slug %}">{% trans 'People I Like' %}</a></li>
        <li class="{% active_class 'likes:list_from' %}"><a
                href="{% url 'likes:list_from' user.slug %}">{% trans 'People Who Likes Me' %}</a></li>
        <li class="{% active_class 'likes:list_mutual' %}"><a
                href="{% url 'likes:list_mutual' user.slug %}">{% trans 'Mutual Likes' %}</a></li>
    </ul>
    {% for like in object_list %}
        {% if display == 'from' %}
            {% include 'profiles/user_list_item.html' with user=like.from_user %}
        {% elif display == 'to' %}
            {% include 'profiles/user_list_item.html' with user=like.to_user %}
        {% endif %}
    {% empty %}
        <div class="alert alert-danger">
            {% trans 'You have no likes here.' %}
        </div>
    {% endfor %}

    {% pagination %}

{% endblock %}
