{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}

{% block title %}{% translate 'Likes' %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% block google_ads %}
    {% if LANGUAGE_CODE == "en" %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6979799050855377" crossorigin="anonymous"></script>
    {% endif %}
{% endblock %}

{% block user_menu_likes_class %}active{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% translate 'Likes' %}</h1>
    </div>
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link {% active_class 'likes:list_to' %}" href="{% url 'likes:list_to' user.slug %}">
                {{ list_to_title }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% active_class 'likes:list_from' %}" href="{% url 'likes:list_from' user.slug %}">
                {{ list_from_title }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% active_class 'likes:list_mutual' %}" href="{% url 'likes:list_mutual' user.slug %}">
                {{ list_mutual_title }}
            </a>
        </li>
    </ul>
    <div class="row flex-wrap">
        {% for like in like_list %}
            {% if display == 'from' %}
                {% include 'profiles/user_list_item.html' with user=like.from_user %}
            {% elif display == 'to' %}
                {% include 'profiles/user_list_item.html' with user=like.to_user %}
            {% endif %}
        {% empty %}
            <div class="col-12">
                <div class="alert alert-danger">
                    {% translate 'You have no likes here.' context user.speedy_match_profile.get_like_gender %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% pagination %}
{% endblock %}
