{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Welcome' %} / {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="page-header">
                <h1>{% trans 'Welcome to' %} {{ site.name }}</h1>
            </div>
            {% if not request.user.has_confirmed_email_or_registered_now %}
                <div class="alert alert-danger">
                    {% trans 'Please confirm your email address.' context user.get_gender %}
                </div>
            {% elif form %}
                {% crispy form %}
            {% else %}
                <a href="//{{ LANGUAGE_CODE }}.{{ SPEEDY_NET_DOMAIN }}{% url 'accounts:activate' %}">{% trans 'Your Speedy Net account is not active. Enter this page to activate it.' %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
