{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Welcome' %} / {{ block.super }}{% endblock %}

{% block full_content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="page-header">
                <h1>{% trans 'Welcome to' %} {{ site.name }}</h1>
            </div>
            {% if form %}
                {% crispy form %}
            {% else %}
                <a href="//{{ LANGUAGE_CODE }}.{{ speedy_net_url }}{% url 'accounts:activate' %}">{% trans 'Your Speedy Net account is not active. Enter this page to activate it.' %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
