{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}

{% block title %}{% trans 'Edit Profile' %} / {{ block.super }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Edit Profile' %}</h1>
    </div>

    <ul class="nav nav-tabs">
        <li class="{% active_class 'accounts:edit_profile' %}"><a
                href="{% url 'accounts:edit_profile' %}">{% trans 'Profile Info' %}</a></li>
        <li class="{% active_class 'accounts:edit_profile_privacy' %}"><a
                href="{% url 'accounts:edit_profile_privacy' %}">{% trans 'Privacy Settings' %}</a></li>
        <li class="{% active_class 'accounts:edit_profile_notifications' %}"><a
                href="{% url 'accounts:edit_profile_notifications' %}">{% trans 'Notifications' %}</a></li>
        <li class="{% active_class 'accounts:edit_profile_credentials' %}"><a
                href="{% url 'accounts:edit_profile_credentials' %}">{% trans 'Emails & Password' %}</a></li>
        {% if request.user.profile.is_active %}
            <li class="{% active_class 'blocks:list' %}">
                <a href="{% url 'blocks:list' request.user.slug %}">{% trans 'Blocked Users' %}</a>
            </li>
            <li class="{% active_class 'accounts:deactivate_profile' %}">
                <a href="{% url 'accounts:deactivate_profile' %}">{% trans 'Deactivate Account' context request.user.get_gender %}</a>
            </li>
        {% endif %}
    </ul>
    <br>
    {% block tab_content %}{% endblock %}

{% endblock %}
