{% extends 'base_site.html' %}

{% load core_tags_and_filters %}
{% load i18n %}

{% block title %}{% trans 'Edit Profile' %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans 'Edit Profile' %}</h1>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% active_class 'accounts:edit_profile' %}" href="{% url 'accounts:edit_profile' %}">
                {% trans 'Profile Info' %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% active_class 'accounts:edit_profile_privacy' %}" href="{% url 'accounts:edit_profile_privacy' %}">
                {% trans 'Privacy' %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% active_class 'accounts:edit_profile_notifications' %}" href="{% url 'accounts:edit_profile_notifications' %}">
                {% trans 'Notifications' %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% active_class 'accounts:edit_profile_credentials' %}" href="{% url 'accounts:edit_profile_credentials' %}">
                {% trans 'Emails & Password' %}
            </a>
        </li>
        {% if request.user.profile.is_active %}
            <li class="nav-item">
                <a class="nav-link {% active_class 'blocks:blocked_users_list' %}" href="{% url 'blocks:blocked_users_list' request.user.slug %}">
                    {% trans 'Blocked Users' %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% active_class 'accounts:deactivate_profile' %}" href="{% url 'accounts:deactivate_profile' %}">
                    {% trans 'Deactivate Account' context request.user.get_gender %}
                </a>
            </li>
        {% endif %}
    </ul>
    <br>
    {% block tab_content %}{% endblock %}

{% endblock %}
