{% extends 'accounts/edit_profile/base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block tab_content %}
    <h2>{% trans 'Email Addresses' %}</h2>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 1px;"></th>
            <th>{% trans 'Address' %}</th>
            <th>{% trans 'Added' %}</th>
            <th>{% trans 'Privacy' %}</th>
            <th style="width: 1px;" class="text-right">{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for address in email_addresses %}
            <tr style="height: 53px">
                <td style="vertical-align: middle" class="text-right">
                    {% if not address.is_confirmed %}
                        <span class="label label-danger">{% trans 'Unconfirmed' %}</span>
                    {% elif address.is_primary %}
                        <span class="label label-success">{% trans 'Primary' %}</span>
                    {% endif %}
                </td>
                <td style="vertical-align: middle">
                    {{ address.email }}
                </td>
                <td style="vertical-align: middle">
                    {{ address.date_created }}
                </td>
                <td style="vertical-align: middle">
                    {% if address.is_confirmed %}
                        <div data-block="AutoForm">
                            {% crispy address.privacy_form %}
                        </div>
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if not address.is_confirmed %}
                        <form action="{% url 'accounts:confirm_email' pk=address.id %}" method="post"
                              style="display: inline">
                            {% csrf_token %}
                            <button type="submit" title="{% trans 'Resend a confirmation email' %}"
                                    class="btn btn-sm btn-default">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </form>
                    {% endif %}
                    {% if address.is_confirmed and not address.is_primary %}
                        <form action="{% url 'accounts:set_primary_email' pk=address.id %}"
                              method="post"
                              style="display: inline">
                            {% csrf_token %}
                            <button type="submit" title="{% trans 'Make this email address primary' %}"
                                    class="btn btn-sm btn-default">
                                <i class="fa fa-check"></i>
                            </button>
                        </form>
                    {% endif %}
                    {% if not address.is_primary %}
                        <form action="{% url 'accounts:delete_email' pk=address.id %}" method="post"
                              style="display: inline"
                              onsubmit="return confirm('{% trans 'Are you sure you want to delete this email address?' %}')">
                            {% csrf_token %}
                            <button type="submit" title="{% trans 'Delete this email address' %}"
                                    class="btn btn-sm btn-default">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="{% url 'accounts:add_email' %}" class="btn btn-success">
                    <i class="fa fa-plus-circle"></i>
                    {% trans 'Add Another' %}
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>{% trans 'Change Password' %}</h2>
    {% crispy form %}

{% endblock %}
