{% extends 'accounts/edit_profile/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    {% if form %}
        <link rel="stylesheet" href="{% static 'speedy-core/css/upload-image.css' %}" />
    {% endif %}
{% endblock %}

{% block tab_content %}
    <div data-block="AccountForm">
{#        {% crispy form %}#}
        {% csrf_token %}
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
        {% for field in form %}
            <div class="profile-form-field form-field text-left flip">
                <div>
                    {{ field.label_tag }}
                </div>
                {{ field.errors }}
                {{ field }}
                {{ field.help_text }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
