{% extends 'accounts/edit_profile/base.html' %}

{% load i18n %}

{% block tab_content %}
    <div class="row">
        {% for block in block_list %}
            {% include 'profiles/user_list_item.html' with user=block.blockee.user %}
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning">
                    {% trans "You're not blocking anybody." context user.get_gender %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
