{% extends 'accounts/edit_profile/base.html' %}

{% load core_tags_and_filters %}
{% load i18n %}

{% block title %}{% trans 'Blocked Users' %} / {% block site_title %}{{ block.super }}{% endblock %}{% endblock %}

{% block tab_content %}
    <div class="row flex-wrap">
        {% for block in block_list %}
            {% include 'profiles/user_list_item.html' with user=block.blocked.user %}
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning">
                    {% trans "You're not blocking anybody." context user.get_gender %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% pagination %}
{% endblock %}
