{% extends 'menu/user_menu_profile_is_active_base.html' %}

{% load core_tags_and_filters %}
{% load core_messages_tags_and_filters %}
{% load i18n %}

{% block user_menu_extra_1 %}
    <li class="nav-item">
        <a class="nav-link {% block user_menu_matches_class %}{% endblock %}" href="{% url 'matches:list' %}">
            <i class="fas fa-fw fa-star" aria-hidden="true"></i>
            <span class="label">{% trans 'Matches' %}</span>
        </a>
    </li>
{% endblock %}

{% block user_menu_extra_2 %}
    <li class="nav-item">
        <a class="nav-link {% block user_menu_likes_class %}{% endblock %}" href="{% url 'likes:list' request.user.slug %}">
            <i class="fas fa-fw fa-heart"></i>
            <span class="label">{% trans 'Likes' %}</span>
        </a>
    </li>
    {% include 'friends/user_menu_friends.html' %}
{% endblock %}

