{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block body_class %}{{ block.super }} with-background{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 desktop-only">
            <h1>
                {% blocktrans with site_name=site_name %}Welcome to {{ site_name }}!{% endblocktrans %}
            </h1>
            <h5>
                {% block main_page_h5 %}{% endblock %}
            </h5>
        </div>
        <div class="col-md-4" data-block="RegistrationForm">
            <h1>
                {% blocktrans with site_name=site_name %}Join {{ site_name }}!{% endblocktrans %}
            </h1>
            <h4>
                {% blocktrans with site_name=site_name %}It's free and anyone can join!{% endblocktrans %}
            </h4>
            {% crispy form %}
        </div>
    </div>
{% endblock %}
