{% extends 'base_site.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block body_class %}{{ block.super }} with-background{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>
                {% blocktrans with site_name=site_name %}Welcome to {{ site_name }}!{% endblocktrans %}
            </h1>
            <h5>
                {% block main_page_h5 %}{% endblock %}
            </h5>
        </div>
        <div class="col-md-4" data-block="RegistrationForm">
            <h1>
                {% blocktrans with site_name=site_name %}Join {{ site_name }}!{% endblocktrans %}
            </h1>
            <h4>
                {% blocktrans with site_name=site_name %}It's free and anyone can join!{% endblocktrans %}
            </h4>
            {% crispy form %}
        </div>
    </div>
    {% block total_number_of_active_members_block %}{% endblock %}
{% endblock %}

{% block footer_extra_links_5 %}
    {{ block.super }}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="https://www.vegan-friendly.co.il/" title="ויגן פרנדלי">ויגן פרנדלי</a>
            <a href="https://vegansontop.co.il/" title="טבעוניות נהנות יותר">טבעוניות נהנות יותר</a>
            <a href="http://teavon.co.il/" title="תיאבון בריא">תיאבון בריא</a>
        </p>
    {% endif %}
{% endblock %}

{% block footer_extra_links_6 %}
    {{ block.super }}
    {% if LANGUAGE_CODE == "he" %}
        <p>
            <a href="http://www.vegan-guide.co.il/" title="פרויקט 365 – איך לעבור לטבעונות">פרויקט 365</a>
        </p>
    {% endif %}
{% endblock %}

